<template>
  <div class="accordion">
    <div
      v-for="(entry, index) in entries"
      :key="index"
      class="panel"
      :class="{ active: selectedEntry == index }"
      @click="selectEntry(index)"
    >
      <div class="panel-header gutter flex items-center">
        <div
          class="panel-header-wrapper flex items-center justify-between container mx-auto"
        >
          <h3 class="container w-10/12">{{ entry.header }}</h3>
          <div class="chevron-container">
            <svg
              class="chevron"
              viewBox="0 0 30 57"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>Chevron</title>
              <g
                id="Module"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="Desktop-mehr"
                  transform="translate(-397.000000, -21.000000)"
                  stroke="#000000"
                  stroke-width="2"
                >
                  <polyline
                    id="Path-4-Copy-3"
                    transform="translate(411.500000, 49.500000) scale(-1, 1) rotate(90.000000) translate(-411.500000, -49.500000) "
                    points="384 35.75 411.5 63.25 439 35.75"
                  ></polyline>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div :id="'el-' + index" class="panel-content container mx-auto">
        <Article :content="entry.content" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      selectedEntry: null,
      entries: [
        {
          header: 'Wo finde ich Infos über das Anmeldeverfahren?',
          content:
            '<h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p>',
        },
        {
          header:
            'Wo kann man den Zugangs-Pin für die Aufnahmeprüfung bekommen?',
          content:
            '<h4>Lorem ipsum dolor sit amet</h4><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>',
        },
        {
          header: 'Lorem consetetur Kasd?',
          content:
            '<h4>Stet clita kasd gubergren</h4><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>',
        },
        {
          header: 'Sed ipsum Dolor?',
          content:
            '<h4>Sed diam voluptua</h4><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>',
        },
      ],
    }
  },
  methods: {
    selectEntry(i) {
      if (this.selectedEntry === i) {
        this.selectedEntry = null
      } else {
        this.selectedEntry = i
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.accordion {
  background-color: $yellow;
  padding: 5px 0;
  @media screen and (min-width: $lg) {
    padding: 15px 0;
  }
  .panel {
    .panel-header {
      background-color: #ffffff;
      cursor: pointer;
      user-select: none;
      height: 50px;
      @media screen and (min-width: $lg) {
        height: 100px;
      }

      h1,
      h2,
      h3,
      h4 {
        margin-bottom: -9px;
        font-size: $mobile-font-md;
        line-height: $mobile-line-md;
        @media screen and (min-width: $lg) {
          font-size: $desktop-font-lg;
          line-height: $desktop-line-lg;
          margin-bottom: -14px;
        }
      }

      .chevron-container {
        width: 14px;
        height: 27.5px;
        @media screen and (min-width: $lg) {
          width: 28px;
          height: 55px;
        }
        transform: rotate(90deg);
        transition: transform 300ms ease-in-out;
        svg {
          width: 100%;
        }
      }
    }
    &:not(:first-child) {
      .panel-header {
        margin-top: 5px;
        @media screen and (min-width: $lg) {
          margin-top: 15px;
        }
      }
    }
    .panel-content {
      background-color: $yellow;
      display: none;
      padding-bottom: 30px;
      //max-height: 0;
      overflow: hidden;
      // transition: max-height 300ms ease-in-out;
    }
    &.active {
      .panel-header {
        .chevron-container {
          transform: rotate(-90deg);
          transition: transform 300ms ease-in-out;
        }
      }
      .panel-content {
        display: block;
        //max-height: 500px;
        //transition: max-height 300ms ease-in-out;
      }
    }
  }
}
</style>
