<template>
  <div>
    <div v-if="$apollo.loading"><Loading /></div>
    <div
      v-for="(event, index) in solspace_calendar.events"
      v-else
      :key="index"
      class="event-container"
    >
      <div v-if="checkIfMonthStart(index)" class="month-header">
        <div class="container gutter mx-auto">
          {{ currentYear }} {{ currentMonth }}
        </div>
      </div>
      <div v-if="event.calendarId == 1" class="event">
        <div
          class="event-wrapper gutter container mx-auto grid grid-cols-2 md:grid-cols-12"
        >
          <span class="datetime flex items-center col-span-2">
            {{ event.startDate | formatDate }}
            {{ event.startDate | formatTime }} -
            {{ event.endDate | formatTime }}
          </span>
          <span class="title flex items-center col-span-2 md:col-span-10">
            {{ event.title }}
          </span>
        </div>
      </div>
      <div
        v-else
        :class="{ 'no-date': event.calendarId !== 2 }"
        class="holidays"
      >
        <div class="event-wrapper gutter container mx-auto">
          <div class="title flex w-full items-center">
            {{ event.title }}
          </div>
          <div v-if="event.calendarId === 2" class="datetime flex items-center">
            {{ event.startDate | formatDate }}
            -
            {{ event.endDate | formatDate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import gql from 'graphql-tag'
import Loading from './elements/Loading.vue'
export default {
  components: {
    Loading,
  },
  apollo: {
    solspace_calendar: {
      query: gql`
        query calendar {
          solspace_calendar {
            events(loadOccurrences: false, siteId: "1", orderBy: "name") {
              id
              uid
              postDate
              calendarId
              title
              authorId
              startDate
              startDateLocalized
              initialStartDate
              endDate
              endDateLocalized
              initialEndDate
              allDay
              rrule
              freq
              interval
              count
              until
              untilLocalized
              byMonth
              byYearDay
              byMonthDay
              byDay
            }
          }
        }
      `,
      pollInterval: 100,
      variables() {
        // Use vue reactive properties here
        return {
          siteId: this.$store.state.siteId,
        }
      },
      result({ data, loading, networkStatus }) {
        this.sortDates()
      },
    },
  },
  data() {
    return {
      precedingDate: null,
      calendar: null,
      solspace_calendar: [],
      year: 0,
    }
  },
  methods: {
    /**
     * Check if date is at beginning of month. Compares date with preceding date and returns true, if is not the same.
     * @param i {String} - The date
     */
    checkIfMonthStart(i) {
      const date = new Date(this.solspace_calendar.events[i].startDate)
      const precedingDate =
        i !== 0
          ? new Date(this.solspace_calendar.events[i - 1].startDate)
          : date
      const month = date.toLocaleString('default', { month: 'long' })
      const year = date.getFullYear()
      const precedingMonth = precedingDate.toLocaleString('default', {
        month: 'long',
      })
      if (month !== precedingMonth) {
        this.currentMonth = month
        this.currentYear = year
        return true
      } else {
        return false
      }
    },

    /**
     * Sort Dates in ascending order
     */
    sortDates() {
      this.solspace_calendar.events.sort(function (a, b) {
        return new Date(a.startDate) - new Date(b.startDate)
      })
    },
  },
}
</script>
<style lang="scss" scoped>
section {
  padding-top: 5px !important;
  @media screen and (min-width: $lg) {
    padding-top: 16px !important;
  }
}

.month-header {
  padding: 12px 0 1px;
  @media screen and (min-width: $lg) {
    padding: 30px 0 10px;
  }

  margin-bottom: 5px;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Helvetica Black';
  font-size: $mobile-font-lg;
  line-height: $mobile-line-lg;
  @media screen and (min-width: $lg) {
    margin-bottom: 16px;
    font-size: $desktop-font-xl;
    line-height: $desktop-line-xl;
  }
}

.holidays {
  padding: 21px 0 5px;
  @media screen and (min-width: $lg) {
    padding: 55px 0 35px;
  }
  .title {
    font-size: $mobile-font-xl;
    line-height: 2.15rem;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-xxl;
      line-height: $desktop-line-xxl;
    }
  }
  &.no-date {
    padding: 17px 0 2px;
    @media screen and (min-width: $lg) {
      padding: 55px 0 13px;
    }
    .title {
      font-size: $mobile-font-xl;
      line-height: $mobile-line-xl;
      @media screen and (min-width: $lg) {
        font-size: $desktop-font-xxl;
        line-height: $desktop-line-xxl;
      }
    }
  }

  margin: 5px 0;
  @media screen and (min-width: $lg) {
    margin: 9px 0;
    padding: 55px 0 35px;
    &.no-date {
      padding: 55px 0 13px;
    }
  }
  background-color: #ffffff;
  font-family: 'Helvetica Black';
  .datetime {
    font-size: $mobile-font-md;
    line-height: $mobile-line-md;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-xl;
      line-height: $desktop-line-xl;
    }
  }
}

.event {
  background-color: #ffffff;
  padding: 4px 0 0px;
  @media screen and (min-width: $lg) {
    padding: 15px 0 5px;
  }

  .datetime {
    margin-bottom: -2px;
    font-size: $mobile-font-sm;
    line-height: $mobile-line-sm;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-sm;
      line-height: $desktop-line-sm;
    }
  }

  .title {
    font-size: $mobile-font-md;
    line-height: 1.2rem;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-md;
      line-height: $desktop-line-md;
    }
  }
}
.event-container {
  margin-bottom: 5px;
  @media screen and (min-width: $lg) {
    margin-bottom: 16px;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 5px;
    @media screen and (min-width: $lg) {
      padding-bottom: 8px;
    }
    background-color: $magenta;
  }
}
</style>
