<template>
  <div class="grid grid-cols-2 md:grid-cols-12">
    <div
      class="article gutter col-span-2 md:col-span-8 md:col-start-3"
      v-html="content"
    ></div>
  </div>
</template>
<script>
export default {
  props: {
    content: {
      type: String,
      default: '',
      required: false,
    },
  },
}
</script>
<style lang="scss">
figure {
  margin: 15px 0;
  @media screen and (min-width: $lg) {
    margin: 55px 0 65px;
  }
  figcaption {
    display: flex;
    align-items: center;
    font-size: $mobile-font-sm;
    line-height: $mobile-line-sm;
    height: 30px;
    @media screen and (min-width: $lg) {
      height: 60px;
      font-size: $desktop-font-sm;
      line-height: $desktop-line-sm;
    }
  }
}

section {
  padding-top: 15px;
  //padding-bottom: 15px;
  @media screen and (min-width: $lg) {
    padding-top: 60px;
    //padding-bottom: 60px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: $mobile-font-xl;
    line-height: $mobile-line-xl;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-xl;
      line-height: $desktop-line-xl;
    }

    font-family: 'Helvetica Black';
    grid-column: span 7 / span 7;

    &:not(:first-of-type) {
      margin-top: 30px;
      @media screen and (min-width: $lg) {
        margin-top: 60px;
      }
    }
  }

  p {
    margin-top: 21px;
  }
}

.accordion {
  .article {
    padding: 0;
    h1,
    h2,
    h3,
    h4 {
      margin: 43px 0 0;
      grid-column: span 7 / span 7;
    }
  }
}
</style>
