<template>
  <div class="blog-preview">
    <div class="card-wrapper container mx-auto grid grid-cols-12">
      <Card
        v-for="(entry, index) in entries"
        :key="index"
        class="col-span-4"
        :body="entry.content"
        :date="entry.date"
        :image="entry.image + '?r=' + index"
        :target="entry.target"
        :title="entry.header"
      />
    </div>
  </div>
</template>
<script>
import Card from './elements/Card.vue'
export default {
  components: { Card },
  data() {
    return {
      entries: [
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.blog-preview {
  background-color: $green;
  padding: 93px 0;
}
</style>
