<template>
  <div class="blog-preview">
    <div class="card-wrapper md:container mx-auto">
      <div
        v-swiper="swiperOption"
        class="w-full ml-auto relative"
        :loadtheme="false"
      >
        <div class="swiper-wrapper">
          <div
            v-for="(entry, index) in entries"
            :key="index"
            class="swiper-slide"
          >
            <Card
              :key="index"
              class="col-span-4"
              :body="entry.content"
              :date="entry.date"
              :image="entry.image + '?r=' + index"
              :target="entry.target"
              :title="entry.header"
            />
          </div>
        </div>
        <!--
        <div slot="button-prev" class="swiper-button-prev"></div>
        <div slot="button-next" class="swiper-button-next"></div>
        -->
      </div>
      <div slot="pagination" class="swiper-pagination-blog"></div>
    </div>
  </div>
</template>

<script>
import Card from './elements/Card.vue'
export default {
  components: { Card },
  data() {
    return {
      swiperOption: {
        dynamicBullets: false,
        spaceBetween: -10,
        loop: false,
        loopFillGroupWithBlank: false,
        pagination: {
          el: '.swiper-pagination-blog',
          clickable: true,
          type: 'bullets',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          1024: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 10,
            allowTouchMove: false,
            centeredSlides: false,
          },
          768: {
            slidesPerView: 3,
            slidesPerGroup: 3,
            spaceBetween: 10,
            allowTouchMove: false,
            centeredSlides: false,
          },
          640: {
            slidesPerView: 2,
            slidesPerGroup: 1,
            spaceBetween: 10,
            allowTouchMove: true,
            centeredSlides: true,
          },
          320: {
            slidesPerView: 2,
            slidesPerGroup: 1,
            spaceBetween: 10,
            allowTouchMove: true,
            centeredSlides: true,
          },
        },
      },
      entries: [
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          date: new Date().toLocaleDateString('de-ch', {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit',
          }),
          image: 'https://loremflickr.com/1200/800/abstract',
          target: 'https://example.com',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.blog-preview {
  background-color: $green;
  padding: 15px 0 40px;
  @media screen and (min-width: $md) {
    padding: 93px 0;
  }
  .swiper-pagination-blog {
    margin-top: 8px;
    @media screen and (min-width: $md) {
      margin-top: unset;
      display: none;
    }
    width: 100%;
    text-align: center;
    .swiper-pagination-bullet {
      margin: 0 2px;
      width: 10px;
      height: 10px;
      background-color: #e5e5e5;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background-color: #000000;
      }
    }
  }
}
</style>
