<template>
  <div
    class="downloads-wrap container mx-auto grid grid-cols-2 md:grid-cols-12"
  >
    <div
      v-for="(entry, index) in entries"
      :key="index"
      class="download col-span-2 md:col-span-6"
    >
      <a :href="entry.target" class="block w-full h-full">
        {{ entry.title }} ({{ entry.extension }}, {{ entry.fileSize }}kb)
      </a>
    </div>
  </div>
</template>
<script>
export default {
  props: {},
  data() {
    return {
      entries: [
        {
          title: 'Gestalterischer Eignungstest',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: 'Gestalterischer Eignungstest',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: 'FAQs zum Liceo Artistico',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: 'FAQs zum Liceo Artistico',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: 'Aufnahmereglement',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: 'Aufnahmereglement',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: ' 2022 FAQs zur Aufnahmeprüfung',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
        {
          title: ' 2022 FAQs zur Aufnahmeprüfung',
          target: 'https://example.com',
          extension: 'PDF',
          fileSize: 512,
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.downloads {
  background-color: $yellow;
  .downloads-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
    @media screen and (min-width: $lg) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .download {
      background-color: #ffffff;
      a {
        padding: 22px 26px;
      }
    }
  }
}
</style>
