<template>
  <footer>
    <div
      class="footer-wrap gutter grid grid-cols-2 md:grid-cols-12 container mx-auto"
    >
      <div class="logo col-span-2 md:col-span-6">
        <img src="~assets/images/logo-white.svg" />
      </div>
      <div class="address col-span-1 md:col-span-2">
        <p>Parkring 30<br />8027 Zürich</p>
        <p>
          <a href="tel:0442028040">044 202 80 40</a><br /><a
            href="mailto:sekretariat@liceo.ch"
            >sekretariat@liceo.ch</a
          >
        </p>
      </div>
      <div class="imprint-contact col-span-1 md:col-span-2">
        <p><a href="https://example.com">Impressum</a></p>
        <p><a href="https://example.com">Kontakt</a></p>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
footer {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Helvetica Black';
  padding-top: 29px;
  padding-bottom: 29px;
  p {
    font-size: $mobile-font-sm;
    line-height: $mobile-line-sm;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-sm;
      line-height: $desktop-line-sm;
    }
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .logo {
    grid-row: 3;
    @media screen and (min-width: $lg) {
      grid-row: 1;
    }
  }
}
</style>
