<template>
  <header
    :class="{ 'with-visual': image !== '' || video !== '' }"
    class="flex flex-col"
  >
    <div class="header-visual h-full">
      <!--<div v-if="false" class="">
        <div class="embed-container">
          <iframe
            src="https://player.vimeo.com/video/66140585"
            frameborder="0"
            webkitAllowFullScreen
            mozallowfullscreen
            allowFullScreen
          ></iframe>
        </div>
      </div>-->
      <div
        v-if="image !== ''"
        class="header-image-container h-full w-full"
        :style="backgroundImage"
      ></div>
    </div>
    <TitleBar :title="title" />
  </header>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
      required: false,
    },
    video: {
      type: String,
      default: '',
      required: false,
    },
    image: {
      type: String,
      default: '',
      required: false,
    },
  },
  computed: {
    backgroundImage() {
      return 'background-image: url(' + this.image + ');'
    },
  },
}
</script>
<style lang="scss">
header {
  &.with-visual {
    height: 210px;
    @media screen and (min-width: $lg) {
      height: 100vh;
    }
    .header-image-container {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
