<template>
  <svg
    class="logo"
    width="511px"
    viewBox="0 0 511 150"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>Liceo Logo</title>
    <defs>
      <filter id="filter-1" color-interpolation-filters="auto">
        <feColorMatrix
          in="SourceGraphic"
          type="matrix"
          values="0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0"
        ></feColorMatrix>
      </filter>
      <polygon
        id="path-2"
        points="0 0 110.912866 0 110.912866 149.066968 0 149.066968"
      ></polygon>
      <polygon
        id="path-4"
        points="0 149.068365 510.623 149.068365 510.623 0 0 0"
      ></polygon>
    </defs>
    <g
      id="Layout"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="01_Landing" transform="translate(-93.000000, -50.000000)">
        <g
          id="Liceo-Logo"
          transform="translate(93.000000, 50.000000)"
          filter="url(#filter-1)"
        >
          <g id="Group-101">
            <g id="Group-3" transform="translate(0.000000, 0.000521)">
              <mask id="mask-3" fill="white">
                <use xlink:href="#path-2"></use>
              </mask>
              <g id="Clip-2"></g>
              <path
                id="Fill-1"
                d="M40.65912,146.030874 C41.1920141,146.193897 41.7722376,146.518191 42.0492024,146.942403 C42.7240847,146.132544 43.6513906,144.241121 43.2482141,142.493434 C41.9790847,142.489932 40.8046141,144.476015 40.65912,146.030874 M43.9125788,140.654603 C44.3963906,141.595932 44.6558259,143.243697 44.5208494,144.251638 C44.6996494,144.270921 44.9222729,144.342791 45.1203553,144.426932 C45.5147671,143.452297 45.9196965,141.089332 45.0414729,139.529215 C44.6312847,139.597579 44.02652,140.039321 43.9125788,140.654603 M47.03632,141.841344 C47.5551906,140.321544 47.4009318,138.479203 46.8610259,137.756991 C46.7242965,137.576438 45.9372259,138.014674 45.8004965,138.561591 C46.23172,139.299579 46.6506729,140.824638 46.6033435,141.758956 C46.7400729,141.758956 46.8978376,141.781744 47.03632,141.841344 M83.1434024,139.739568 C83.8498376,139.855262 84.5194612,140.140991 84.9086141,140.389909 C85.2556965,139.814944 86.1286612,137.488791 85.62732,136.210897 C84.1916612,136.349379 83.1206141,138.717603 83.1434024,139.739568 M86.43192,134.671815 C86.7877671,135.311638 87.0770024,136.572003 87.0997906,137.371344 C87.2873553,137.380109 87.5275082,137.380109 87.6992965,137.432697 C88.2164141,135.881344 88.0446259,133.984662 87.5275082,133.294003 C87.2137318,133.195838 86.6685671,134.014462 86.43192,134.671815 M89.3575788,133.551685 C89.5276141,132.678721 89.3575788,131.053744 88.8965553,130.455991 C88.5705082,130.250897 88.19012,130.867932 88.0235906,131.602415 C88.39872,132.149332 88.8492259,132.992497 88.9456376,133.551685 C89.08412,133.534156 89.2103318,133.532403 89.3575788,133.551685 M56.1884259,88.2521794 C54.1742965,88.9919206 51.6518141,90.7045441 51.5781906,91.183097 C51.4064024,92.2962147 51.3397906,93.89665 51.3397906,95.0939088 C52.6527435,94.3313794 53.02612,92.9675912 54.5038494,91.8018853 C57.1665671,89.7036147 58.4602376,89.4003559 58.3182494,89.0953441 C58.0114847,88.5361559 56.7651435,88.2521794 56.1884259,88.2521794 M85.0470965,127.616226 C81.0276024,127.206038 77.1571082,130.810085 74.6258612,129.214909 C73.4706729,128.487438 71.9280847,126.822144 70.7991906,125.172626 C70.0892494,124.133132 68.0891435,121.149626 68.2732024,119.948862 C68.3468259,119.451026 69.1444141,119.082909 70.5450141,118.194168 C72.9956259,116.639309 75.1955671,115.087956 77.2342376,113.441944 C79.7164024,111.436579 83.5360612,108.40925 83.5728729,104.480909 C83.5991671,101.774368 81.81292,98.8346853 80.4175788,97.0274029 C77.9634612,93.8493206 73.7441318,90.82725 69.7211318,88.5344029 C67.9524141,87.5282147 64.64812,85.8050735 62.5884141,84.98645 C60.5620141,86.1276147 59.5645906,86.4343794 57.8467082,87.3581794 C59.10532,87.8612735 60.1395553,88.6763912 59.9362141,89.3705559 C59.8082494,89.8017794 59.4892141,89.8946853 57.9851906,90.8973676 C57.1034612,91.4846029 56.0254024,92.3347794 55.5240612,92.79405 C54.4144494,93.8142617 53.8079318,94.9449088 52.8648494,96.0650382 C52.2916376,96.7451794 51.9305318,96.9976029 51.3538141,97.4305794 C51.3485553,97.9985323 51.3170024,98.51565 51.2836965,99.2343559 C57.8467082,99.4201676 63.78392,101.320356 66.6464729,104.992768 C67.0549082,105.515144 67.6894729,106.423168 67.9454024,107.103309 C69.2320612,110.530309 67.0478965,113.322744 65.2125671,114.534026 C63.3877553,115.74005 59.2315318,116.472779 58.06232,117.578885 C57.1595553,118.432568 57.0771671,119.97165 56.0043671,121.302132 C55.5223082,121.899885 54.9526024,122.260991 54.27772,122.646638 C54.6458376,123.33905 56.0481906,123.945568 57.04912,123.840391 C57.4382729,123.460003 57.8274259,123.202321 58.2288494,122.590544 C58.5356141,122.127768 58.80732,121.382768 58.7845318,120.558885 C58.7792729,120.355544 59.0685082,120.129415 59.1982259,120.813062 C59.85032,124.220779 55.8904259,124.616944 56.60212,128.43485 C57.3295906,127.945779 58.4935435,127.367309 59.7381318,127.679332 C60.0519082,127.014968 60.4971553,126.625815 60.8582612,126.056109 C61.0756259,125.714285 61.3315553,125.181391 61.2982494,124.206756 C61.2894847,123.954332 61.6242965,123.863179 61.7610259,124.725626 C62.1519318,127.181497 59.55232,127.807297 60.6268729,131.691815 C61.3280494,131.088803 62.3570259,130.820603 63.3474376,130.84865 C63.6086259,130.299979 64.2361788,129.733779 64.0854259,128.503215 C64.05212,128.229756 64.3431082,127.952791 64.5604729,128.866074 C64.9916965,130.687379 63.45612,131.372779 64.2449435,133.777815 C66.9830376,132.668203 67.6824612,134.645521 68.8954965,136.209144 C69.5879082,137.103144 70.5029435,138.516015 71.2234024,139.068191 C73.0622376,140.481062 78.2088729,139.264521 82.1126729,139.676462 C82.3650965,137.555403 83.7376494,135.660474 85.4099553,135.260803 C84.6193788,132.631391 81.1485553,132.012603 79.4394376,133.767297 C79.1800024,134.031991 79.33952,133.330815 79.8496259,132.901344 C81.4903788,131.516521 84.4318141,131.944238 85.8850024,133.840921 C86.1759906,133.125721 86.7386847,132.491156 87.1681553,132.473626 C85.9375906,129.856485 82.3545788,129.279768 80.3842729,130.87845 C80.2300141,131.006415 80.1791788,130.657579 80.7260965,130.179026 C82.2476494,128.845038 85.5046141,128.94145 87.4240847,130.985379 C87.5573082,130.240379 87.9429553,129.68645 88.3303553,129.68645 C87.8009671,128.829262 86.3512847,127.74945 85.0470965,127.616226 M106.715202,71.4642617 C105.470614,72.3039206 105.467108,74.2777323 105.68272,75.5328382 C106.343579,75.4136382 106.886991,75.4381794 107.463708,75.6169794 C107.861626,74.3127912 107.460202,72.2232853 106.715202,71.4642617 M109.044861,72.3863088 C109.074661,70.8928029 108.263049,68.8138147 107.383073,68.0530382 C106.953602,68.1214029 106.867708,69.1293441 106.915038,69.7989676 C107.752944,70.5246853 108.310379,71.5852147 108.578579,72.4669441 C108.738096,72.4301323 108.916896,72.3915676 109.044861,72.3863088 M107.737167,66.955697 C108.336673,67.581497 108.950202,68.4965323 109.241191,69.2993794 C109.339355,69.2730853 109.505885,69.2327676 109.614567,69.2327676 C109.686438,68.1704853 109.025579,66.2773088 108.152614,65.5235441 C107.775732,65.4201206 107.639002,66.4701323 107.737167,66.955697 M102.760567,31.6882735 C101.917402,30.3770735 100.176732,29.8739794 99.2704612,29.9616265 C98.9531788,31.2430265 100.613214,32.7207559 101.728085,33.13445 C102.087438,32.3175794 102.441532,31.9073912 102.760567,31.6882735 M100.555367,28.3752147 C99.7612847,27.6039206 97.7156024,26.6520735 96.2466376,27.1376382 C96.1274376,27.7353912 96.9548259,28.5364853 97.5525788,28.8940853 C98.2712847,28.6206265 99.2879906,28.5049323 100.380073,28.7556029 C100.425649,28.6416617 100.481744,28.5242147 100.555367,28.3752147 M92.4006847,32.3771794 C91.85552,30.8784147 91.9519318,29.7635441 92.5496847,28.4698735 C92.8406729,27.8388147 93.5102965,27.1218617 93.9625553,26.7817912 C93.1737318,26.6047441 92.8757318,26.1945559 92.7740612,25.8369559 C88.4776024,28.1350617 90.7161082,32.5892853 90.27612,36.5526853 C90.0009082,39.0173206 86.8701553,39.89905 84.8086965,41.1874617 C83.0382259,42.2970735 81.2993082,43.4908265 80.0757553,44.7424265 C82.2932259,49.9924853 80.7751788,51.1459206 83.2503318,53.6806735 C82.8313788,54.1872735 82.0372965,54.5396147 81.45532,54.5448735 C81.4220141,56.7676029 81.2239318,58.7817323 80.65072,60.7695676 C82.4632612,60.0333323 83.80952,61.2551323 85.3188024,59.7844147 C83.9304729,58.7273912 83.8726259,56.7676029 84.2284729,55.6737676 C84.43532,55.0409559 84.7052729,55.1198382 84.7052729,55.2933794 C84.70352,55.6124147 84.7455906,55.90165 84.8174612,56.108497 C85.6238141,56.3153441 87.3311788,56.3977323 88.4618259,55.6562382 C86.5318376,52.3519441 90.2270376,49.4455676 93.0264847,47.61725 C94.9652376,46.3516265 97.7646847,44.9527794 99.1495082,43.0806382 C101.016391,40.5616617 100.099602,37.8218147 101.298614,34.0898029 C99.8892494,33.3816147 98.0223671,31.9880265 98.2274612,29.9879206 C96.7462259,30.1754853 95.0055553,32.0143206 95.9591553,35.1240382 C96.1186729,35.6621912 95.7908729,35.5061794 95.4788494,35.0030853 C94.2658141,32.7242617 95.3491318,30.1193912 96.7304494,29.3568617 C95.9556494,28.8607794 95.3088141,27.88965 95.3894494,27.3742853 C93.1404259,28.1894029 92.4287318,30.1421794 92.9142965,32.7330265 C92.9914259,33.1151676 92.6723906,33.1291912 92.4006847,32.3771794 M97.0933082,25.3513912 C96.2974729,24.9727559 94.7846847,24.7746735 93.7504494,25.3706735 C93.4121318,25.6686735 93.8380965,26.0806147 94.8127318,26.28045 C95.5682494,25.921097 96.3728494,25.772097 97.0337082,25.7493088 C97.0337082,25.5897912 97.0529906,25.5301912 97.0933082,25.3513912 M69.3319788,21.5895794 C69.2478376,21.5475088 69.1829788,21.7403323 69.0532612,21.9419206 C68.8709553,22.2223912 68.5641906,22.6501088 68.1294612,23.0269912 C68.5466612,22.9989441 69.3617788,23.0567912 69.7404141,23.1426853 C69.7877435,22.5817441 69.4564376,21.6491794 69.3319788,21.5895794 M60.8775435,22.9884265 C61.3929082,24.7098147 64.4588024,23.0760735 66.8550729,22.9095441 C67.6088376,22.2890029 68.1925671,21.659697 68.5098494,21.1057676 C65.5859435,20.5202853 62.3570259,20.9006735 60.8775435,22.9884265 M69.9577788,17.457897 C70.1926729,18.0013088 70.3486847,18.6113323 70.3837435,18.8374617 C70.4188024,19.0741088 70.4047788,19.2844617 70.5327435,19.2213559 C70.9499435,19.0127559 71.6616376,18.0679206 71.7790847,17.4140735 C71.2794965,17.5017206 70.3854965,17.4859441 69.9577788,17.457897 M60.3218612,21.361697 C62.3342376,19.6911441 65.2476259,19.0635912 69.5212965,19.7945676 C69.4862376,19.0635912 69.0760494,17.9995559 68.7324729,17.48945 C64.4517906,16.7830147 60.4095082,16.7164029 60.3218612,21.361697 M47.8496847,1.77608528 C41.4461906,1.57975587 39.2164494,2.58769704 35.2846024,2.75422646 C34.5290847,2.7349441 33.9260729,2.53160293 33.6946847,2.42642646 C33.5053671,2.86115587 33.4352494,3.9567441 33.68592,4.47912057 C31.5227906,5.77103822 31.2703671,8.30053234 28.4218376,7.84126175 C28.2395318,8.62307351 28.7198376,9.68886175 29.2667553,10.0885323 C29.5577435,9.97459116 30.1590024,9.76423822 30.0696024,10.0569794 C28.91792,13.31745 29.1475553,14.7127912 28.8565671,16.355297 C28.6830259,17.338697 27.2859318,18.2414617 26.0115435,18.4921323 C25.9203906,19.3580853 26.47432,20.6622735 27.6838494,20.8813912 C28.41132,19.4036617 29.4876259,19.1757794 29.3000612,19.6280382 C28.9897906,20.38005 28.7356141,21.7175441 28.7128259,22.6781559 C28.6356965,25.9000617 29.4560729,29.1622853 30.4832965,31.5515441 C32.4851553,36.2091088 34.9690729,39.92885 31.5175318,42.1095088 C31.9680376,43.1893206 34.1977788,43.9430853 35.8472965,43.2822265 C36.5326965,41.4872147 36.09972,40.1409559 36.0085671,39.6939559 C35.9770141,39.539697 36.12952,39.5046382 36.3013082,39.6431206 C37.3074965,40.4880382 37.3635906,42.1515794 37.1707671,43.473297 C36.6624141,46.9756735 33.6718965,51.3036853 35.7368612,55.3740147 C36.3538965,54.8113206 37.3074965,54.350297 38.1734494,54.1592265 C38.3154376,52.0329088 38.9850612,50.5323912 40.2173788,49.6383912 C40.9413435,49.1142617 41.0658024,49.4455676 40.8694729,49.6664382 C39.3496729,51.52105 39.4530965,55.0111559 39.8597788,58.1454147 C40.3681318,62.0579794 39.1323082,64.3595912 37.9578376,64.9766265 C39.4040141,65.8881559 41.8055435,65.3342265 43.0413671,64.690897 C43.9458847,64.2211088 45.3517435,63.0501441 45.8863906,61.979097 C44.5190965,59.6336617 44.4314494,57.4407323 44.7785318,56.0278617 C45.0642612,54.8674147 45.7128494,54.4642382 45.5918965,55.0234265 C44.7189318,59.9579559 49.4133082,62.2227559 49.3081318,67.0293206 C51.7429671,66.2282265 52.8034965,63.29205 52.6071671,60.5311676 C52.6474847,60.1577912 52.9419788,60.3453559 53.0769553,60.7204853 C54.4582729,64.6523323 51.95332,70.1372853 47.3027671,69.6569794 C47.9531082,67.3343323 47.1905788,64.6067559 46.5174494,63.2815323 C45.9214494,64.5085912 44.7908024,65.5410735 43.7127435,66.1475912 C43.5690024,67.372897 43.2937906,68.445697 43.0799318,69.3379441 C42.3121435,72.55985 40.9641318,74.8071206 38.9587671,76.8615676 C34.5746612,81.3543559 32.9514376,81.7172147 30.0853788,85.878697 C29.4613318,86.5220265 27.5664024,87.547497 26.4725671,87.9787206 C17.7937553,91.4004617 10.5225553,86.7499088 11.0992729,77.4400382 C11.3324141,73.7027676 13.2851906,68.7787559 14.8400494,65.2237912 C19.3871788,54.8200853 23.6661082,46.1184853 24.2130259,38.1846735 C24.6617788,31.6584735 21.8570729,25.1550617 15.0731906,25.0849441 C10.4647082,25.0393676 6.02275529,28.8204617 5.92634353,36.4054382 C5.86849647,40.8771912 5.97192,44.2533559 4.05595529,47.3034735 C3.64752,47.9555676 3.44593176,48.2763559 2.89550824,48.9915559 C5.53543765,49.4315441 8.32612,47.9362853 10.1842376,45.8082147 C10.3630376,46.1219912 10.6470141,46.6233323 10.7662141,47.11065 C12.7207435,45.2385088 13.0327671,41.7834617 12.3105553,39.0418617 C13.5849435,39.4099794 14.7313671,38.6334265 15.1853788,37.5536147 C12.2439435,37.1644617 10.2753906,34.3702735 10.73992,31.3078853 C11.0133788,29.4953441 12.6155671,27.5162735 14.7839553,27.2603441 C20.4424494,26.5942265 22.1024847,32.3316029 22.0236024,37.7727323 C21.9236847,44.6723088 17.7586965,52.294097 14.0687553,60.0245676 C11.09752,66.2492617 7.73012,72.5668617 7.38654353,78.4777794 C7.00615529,85.0390382 10.0071906,96.75745 26.32532,94.2191912 C26.9791671,92.3137441 27.78552,91.57225 28.2728376,91.7913676 C28.4306024,91.8720029 28.3149082,92.1735088 28.2237553,92.7887912 C27.9275082,94.8064265 27.8310965,96.0667912 27.9275082,98.2246617 C28.1220847,102.470285 29.9696847,106.71065 30.1870494,109.78005 C30.5306259,114.640956 28.0221671,115.194885 24.0535082,115.647144 C22.3864612,115.834709 19.9025435,115.773356 18.3862494,116.500826 C17.5027671,116.923285 16.9242965,119.116215 16.0636024,120.217062 C15.2151788,121.303885 14.0494729,121.84905 12.6348494,122.122509 C13.06432,123.214591 14.5367906,124.003415 16.1354729,124.043732 C16.7156965,123.612509 17.3485082,122.583532 17.6167082,121.347709 C17.6728024,121.090026 17.9865788,120.909474 17.9532729,121.861321 C17.8673788,124.417109 15.5114259,127.202532 12.8802612,127.598697 C13.3535553,128.818744 15.2186847,129.739038 16.6753788,129.569003 C17.8147906,128.958979 18.7210612,127.873909 19.1365082,126.333074 C19.2451906,125.896591 19.5239082,126.091168 19.5081318,126.669638 C19.4748259,128.191191 18.6877553,129.434026 17.6552729,130.387626 C16.6210376,131.339474 15.9514141,132.605097 16.2879788,134.091591 C16.9698729,133.749768 18.2880847,133.677897 19.2784965,133.895262 C19.7798376,133.427226 20.48452,132.640156 20.6878612,131.50425 C20.7544729,131.127368 21.1418729,131.208003 21.0752612,132.096744 C20.9157435,134.217803 19.17332,135.183674 19.6185671,137.189038 C23.7695318,135.202956 24.2252965,142.581085 27.4559671,144.805568 C30.1344612,146.651415 35.0987906,145.543556 39.6143671,145.869603 C39.9369082,143.883521 41.2060376,141.846603 42.9659906,141.473226 C42.2139788,138.633462 38.9219553,138.736885 37.4144259,139.720285 C37.0866259,139.935897 37.1812847,139.502921 37.5511553,139.196156 C39.3812259,137.834121 42.02992,138.251321 43.2937906,139.821956 C43.6040612,139.246991 44.2140847,138.777203 44.7101671,138.691309 C43.4094847,135.977756 40.3067788,135.464144 38.0630141,136.843709 C37.6580847,137.10665 37.7755318,136.514156 38.4907318,136.100462 C41.1797435,134.542097 44.0282729,135.762144 45.2956494,137.755238 C45.5515788,137.327521 46.1072612,136.799885 46.5349788,136.834944 C45.8004965,135.073238 43.8845318,133.832156 41.4444376,133.875979 C37.2093318,133.954862 33.6403435,136.770085 32.0889906,134.598191 C30.3448141,132.133556 28.1746729,127.66005 28.0063906,122.318838 C28.0063906,121.868332 28.02392,121.445874 28.4253435,121.298626 C31.7050965,120.550121 34.8042965,119.938344 37.5739435,119.039085 C40.5539435,118.069709 43.5181671,117.037226 45.6514965,114.534026 C47.9233082,111.869556 48.5438494,105.858721 48.9294965,100.983791 C49.1153082,98.6523794 49.3431906,95.2043441 49.5237435,92.6485559 C49.8094729,88.560697 50.67192,85.9505676 52.2723553,85.1968029 C52.6790376,85.0074853 52.8806259,85.2055676 52.5668494,85.7700147 C52.1584141,86.444897 51.8218494,87.7070147 51.6623318,88.8534382 C52.3757788,88.2977559 53.2978259,87.6859794 53.9341435,87.338897 C56.0341671,86.1994853 57.43652,85.5842029 59.7486494,84.3729206 C61.9573553,83.2142265 64.0731553,81.676897 65.6508024,80.4375676 C66.6482259,79.6557559 67.8086729,78.7144265 68.8078494,77.3699206 C68.5624376,77.0438735 68.3065082,76.6144029 68.1820494,76.3199088 C67.0549082,77.8414617 64.7392729,79.0965676 62.9179671,78.9388029 C63.4000259,77.4119912 62.8460965,75.2769088 61.5646965,74.2251441 C60.14832,73.0594382 59.2630847,72.4055912 58.3690847,71.425697 C55.3943435,68.1669794 57.9343553,61.2831794 54.8807318,57.1322147 C54.6668729,56.704497 55.1296494,56.8184382 55.6309906,57.2934853 C57.4049671,58.9745559 57.7415318,61.5601441 58.1096494,64.154497 C58.3866141,66.1020147 58.4988024,68.4246617 59.4243553,69.8796029 C61.0738729,72.47045 64.8304259,73.0401559 64.6674024,76.94045 C65.8629082,76.6231676 67.3336259,75.4714853 67.3949788,74.4512735 C67.3371318,73.9849912 67.1057435,72.9332265 66.4711788,72.4581794 C66.3151671,72.3407323 66.4133318,72.1023323 66.8866259,72.2513323 C67.7701082,72.5265441 68.2065906,73.6168735 68.5852259,74.4162147 C68.9954141,75.2821676 69.4196259,76.0674853 70.0208847,76.7634029 C71.1059553,78.0185088 72.4381906,78.6530735 72.6204965,80.6882382 C73.6249318,80.3762147 74.9641788,79.3349676 75.0851318,77.9992265 C74.5522376,76.4811794 74.8975671,75.0595441 73.31992,74.0147912 C73.1130729,73.8745559 73.2077318,73.5239676 74.0631671,73.8815676 C76.0720376,74.7264853 75.7687788,77.1227559 76.7451671,78.4392147 C77.3955082,79.3174382 78.1720612,80.0571794 79.4955318,80.3516735 C79.6340141,79.1211088 80.1616494,77.7923794 81.2502259,77.0824382 C81.1485553,76.3970382 81.0451318,75.9903559 80.2738376,75.3855912 C80.0652376,75.2243206 80.1020494,74.8982735 80.9802729,75.3400147 C82.8015788,76.2620617 82.2686847,78.8616735 84.7052729,79.89065 C85.3976847,77.7415441 88.0235906,78.4830382 90.5110141,79.1263676 C91.7538494,79.4489088 93.2789082,79.8257912 94.6093906,79.8924029 C99.5544376,80.1343088 100.37832,76.8072265 104.715096,75.7291676 C104.404826,73.5677912 104.850073,71.5852147 106.236649,70.7560735 C104.424108,68.6157323 101.426579,69.7078147 100.409873,71.1750265 C100.183744,71.4695206 100.211791,70.9541559 100.558873,70.4528147 C101.863061,68.4807559 104.506496,68.2809206 106.117449,69.220497 C106.082391,68.5456147 106.341826,67.4447676 106.753767,67.4167206 C105.568779,66.0844853 102.092696,65.5393206 100.211791,67.8146382 C99.9856612,68.0740735 100.041755,67.5797441 100.315214,67.1748147 C101.68952,65.2991676 104.785214,64.7662735 106.881732,66.3334029 C106.865955,65.8951676 107.092085,64.9485794 107.603944,64.9240382 C106.718708,63.8740265 104.953496,63.2569912 103.223344,63.4305323 C98.2414847,63.9318735 96.8776965,69.4326029 91.5031788,68.982097 C90.2620965,68.8786735 89.0613318,68.0810853 86.6562965,67.253697 C85.3959318,66.8207206 83.8480847,66.39125 82.4474847,66.06345 C78.6015318,65.1624382 75.0325435,65.1151088 73.0499671,62.5242617 C72.3820965,61.6495441 71.8036259,60.5942735 71.5774965,59.0394147 C71.4582965,58.3224617 71.7370141,57.9964147 71.9368494,58.4767206 C73.1165788,60.7941088 74.3471435,62.9432147 77.2745553,63.5129206 C78.4735671,61.234097 79.3710729,57.3478265 79.2220729,53.9874382 C77.9476847,53.4142265 77.9564494,52.8357559 77.5462612,52.6622147 C77.7285671,55.21625 76.7714612,57.8842265 75.97212,58.6835676 C75.6075082,56.287297 73.6196729,54.5168265 71.5722376,53.962897 C71.3092965,53.8910265 71.2742376,53.4598029 72.3873553,53.5351794 C73.1393671,53.5877676 74.9010729,54.05405 75.6758729,55.0795206 C76.3823082,52.6166382 75.9616024,50.3115206 75.0886376,48.0712617 C74.6170965,46.8599794 73.4934612,45.2788265 72.2418612,44.3602853 C71.9719082,44.1622029 72.0858494,43.8536853 72.9728376,44.3112029 C75.2481553,45.4856735 76.9975906,47.7837794 77.3867435,50.9723794 C78.5892612,51.6735559 79.0906024,53.247697 80.7804376,52.7971912 C79.3342612,51.1774735 80.0582259,48.4639206 77.7794024,44.51805 C76.5663671,42.4197794 74.9413906,40.910497 72.2120612,39.569497 C68.8446612,37.9164735 64.7883553,36.7525206 62.1904965,35.7130265 C59.4664259,34.622697 57.9571435,33.4131676 57.6012965,29.4848265 C56.6880141,29.0746382 56.15512,28.4874029 55.6117082,27.8055088 C55.1156259,28.2367323 54.8106141,29.1903323 54.7895788,29.8108735 C53.0208612,28.9571912 52.0777788,27.1604265 51.9130024,25.5880382 C51.35732,25.6704265 50.2371906,28.8677912 46.14232,27.3374735 C48.5771553,24.7957088 45.2413082,22.792097 47.8672141,19.7665206 C48.3597906,19.1547441 49.1012847,18.9969794 48.7752376,19.454497 C46.38072,22.8779912 49.2678141,24.0577206 48.1476847,26.2962265 C50.7437906,26.5416382 50.8980494,23.1111323 53.1733671,23.1637206 C52.8595906,24.6817676 53.2119318,26.755497 54.1374847,27.4005794 C54.6808965,26.4399676 55.3487671,25.8089088 56.3549553,25.4215088 C56.7966965,27.3006617 58.1254259,28.30685 59.7451435,28.6679559 C62.1940024,29.2113676 64.9496259,27.7616853 66.9532376,28.0456617 C68.1610141,28.21745 69.2390729,28.9256382 69.6702965,29.9423441 C70.6712259,28.9642029 71.5862612,25.2567323 71.1883435,24.9797676 C67.2880494,22.5431794 60.9686965,27.7651912 59.1228494,23.3512853 C58.7950494,22.5712265 58.6355318,21.5755559 58.7722612,20.6903206 C59.3209318,17.1283441 61.6786376,15.4069559 65.9172494,15.7154735 C67.7753671,15.85045 71.8527082,16.7269206 72.9395318,15.9188147 C73.8405435,15.2509441 73.5933788,12.7337206 73.0464612,11.6363794 C71.94912,11.3401323 70.6817435,10.603897 70.7448494,9.79403822 C70.8132141,9.07708528 71.4810847,10.5863676 72.9395318,10.1358617 C73.3479671,9.95180293 73.5705906,8.47232057 73.3023906,8.38292057 C70.9604612,7.50995587 67.7403082,6.9577794 64.8900259,7.25928528 C64.46932,8.53192057 63.4683906,8.65988528 63.3824965,9.63802646 C63.2370024,11.3120853 62.71112,12.6881441 62.0029318,13.2350617 C61.72772,13.4208735 61.7452494,13.13865 61.9082729,12.6075088 C62.1081082,11.9536617 62.3394965,10.8650853 62.0327318,10.1902029 C61.3841435,8.76506175 58.5917082,8.96489704 58.5303553,7.38900293 C58.4882847,6.74567351 58.8634141,6.8175441 61.6278024,7.46087351 C62.7935082,7.7325794 62.9092024,7.75186175 63.0757318,7.39250881 C63.5350024,6.3617794 61.9538494,5.80784998 60.5567553,5.46953234 C56.3602141,4.45633234 52.4914729,4.58955587 50.8489671,5.22587351 C52.5072494,6.01469704 52.9349671,7.59935587 52.4125906,8.35487351 C52.0497318,8.83868528 52.3091671,7.57306175 50.4440376,6.44942646 C48.40712,5.22061469 44.8100847,5.02428528 44.1071553,6.0129441 C43.7127435,6.56862646 43.6040612,8.22866175 43.7250141,8.98067351 C43.9318612,10.2725912 44.3490612,11.5399676 45.7777082,12.4970735 C47.7374965,13.8117794 49.0609671,13.07905 48.8751553,13.4997559 C48.4597082,14.39025 45.90392,14.2657912 44.4051553,13.0737912 C43.16232,12.0851323 42.23852,10.7809441 41.9983671,8.92633234 C41.8283318,7.60987351 42.0036259,5.63080293 42.6048847,4.91560293 C43.4200024,3.9479794 45.7356376,3.73762646 47.8987671,4.15833234 C49.6411906,3.62543822 51.9463082,3.28712057 53.7150259,3.41333234 C52.4756965,2.37383822 50.0198259,1.84269704 47.8496847,1.77608528 M72.8992141,17.636697 C72.4750024,18.5131676 71.7300024,19.6385559 70.9289082,20.02245 C72.1962847,20.2485794 74.3488965,20.6973323 75.9388141,20.5237912 C77.9231435,20.3099323 79.1204024,18.4658382 78.0616259,16.593697 C77.9862494,16.4622265 78.0213082,16.08885 78.5121318,16.3535441 C80.9715082,17.6857794 80.4614024,21.2758029 77.8968494,22.1943441 C75.4462376,23.0725676 72.4013788,21.7543559 70.2522729,21.3967559 C70.5713082,21.9734735 70.7974376,22.7079559 70.8395082,23.1286617 C71.4407671,23.2899323 72.9395318,23.7211559 72.8816847,24.2785912 C72.6678259,25.9771912 72.3435318,28.0158617 71.6388494,29.5900029 C71.0130494,30.9923559 69.8771435,32.6138265 68.4905671,32.7978853 C68.7727906,27.9404853 63.3632141,31.2903559 60.3095906,30.2876735 C60.0343788,33.7392147 65.4492141,34.6577559 71.2286612,37.1346617 C74.24372,38.4265794 77.1921671,40.0235088 79.1572141,43.0192853 C81.4465553,41.2786147 83.3835553,40.2356147 86.4143906,38.6930265 C87.5502965,38.1145559 88.5985553,37.5869206 88.8176729,36.5071088 C88.9929671,35.6534265 88.9000612,33.3921323 88.7195082,32.0493794 C87.8149906,25.3075676 94.35872,21.5930853 98.7638612,25.0130735 C98.6446612,25.2129088 98.5166965,25.5214265 98.4851435,25.8492265 C99.8506847,26.1980617 101.298614,27.0815441 102.222414,27.977297 C101.934932,28.3086029 101.712308,28.6556853 101.575579,29.0571088 C102.669414,29.5321559 104.108579,30.7153912 104.567849,31.9091441 C104.020932,32.38945 103.375849,33.3693441 103.140955,33.8654265 C102.31532,35.5973323 102.310061,37.7902617 101.938438,39.7658265 C101.615896,41.4854617 100.956791,43.4031794 99.8559435,44.7038617 C97.4614259,47.5348617 92.54092,49.1090029 90.1130965,52.0942617 C89.2857082,53.1109676 89.2769435,55.2968853 90.7108494,55.8140029 C89.3400494,57.5424029 87.0472024,57.8141088 85.5729788,57.6335559 C85.8289082,58.7151206 87.0436965,59.3198853 87.6589788,59.3794853 C85.6010259,63.50065 81.9601671,61.4391912 80.1914494,62.5575676 C80.0196612,63.0939676 79.8881906,63.4217676 79.7286729,63.7793676 C82.7226965,64.2929794 85.8972729,65.3517559 87.7080612,66.0879912 C89.2962259,66.7330735 91.70652,68.1512029 93.9537906,67.3255676 C95.3280965,66.8207206 96.6322847,65.4113559 97.87512,64.4717794 C99.5281435,63.2254382 101.358214,61.7985441 104.829038,62.2104853 C107.910708,62.57685 111.162414,65.5095206 110.89772,70.2968029 C110.547132,70.2512265 110.256144,70.2529794 110.000214,70.2968029 C110.140449,71.0295323 110.326261,72.64925 110.186026,73.6291441 C109.725002,73.5607794 109.369155,73.5905794 109.102708,73.6431676 C109.174579,74.5284029 108.920402,76.3479559 108.327908,77.4277676 C107.446179,77.1315206 106.115696,76.9141559 104.949991,77.2910382 C101.700038,78.339297 99.5404141,81.8539441 94.3920259,81.4227206 C93.1807435,81.32105 91.61712,81.0423323 90.4023318,80.7671206 C89.2506494,80.5041794 87.59412,79.888897 86.7965318,80.0010853 C85.8639671,80.1308029 85.8078729,80.7338147 85.6360847,81.73825 C83.3555082,81.3578617 82.0039906,80.0747088 81.6621671,78.7757794 C80.6489671,79.5067559 80.7313553,80.812697 80.7138259,81.9906735 C78.7470259,81.8083676 76.95552,81.0879088 75.9686141,79.6592617 C75.25692,81.0914147 73.40932,82.4587088 71.2602141,82.4061206 C71.3881788,81.5086147 71.2461906,80.0606853 70.2715553,79.1386382 C68.9726259,80.7373206 67.5176847,81.9486029 65.4159082,83.4438617 C69.3319788,85.4141676 73.7336141,87.9787206 77.5620376,91.2567206 C81.0503906,94.2454853 85.1662965,98.9591441 85.3854141,103.774474 C85.6220612,108.959674 81.8935553,111.950191 78.9065435,114.158897 C75.9493318,116.346568 73.4829435,118.115285 70.6607082,120.00145 C70.3960141,120.167979 70.4152965,120.309968 70.4854141,120.523826 C71.1638024,122.490626 72.1717435,124.427626 73.2953788,125.866791 C73.9334494,126.685415 75.2095906,128.191191 76.4822259,128.231509 C78.44552,128.292862 81.2309435,126.503109 83.4747082,126.219132 C88.3776847,125.600344 91.9344024,129.714497 90.3690259,135.062721 C90.0587553,134.908462 89.6292847,134.840097 89.3540729,134.875156 C89.4049082,136.477344 88.8702612,138.163674 88.4074847,139.087474 C88.0130729,138.829791 87.5555553,138.68605 87.2382729,138.640474 C86.99812,139.963944 86.2724024,141.736168 85.3626259,142.61965 C84.7228024,142.063968 83.6955788,141.760709 83.1048376,141.694097 C76.1298847,141.401356 72.9114847,142.328662 70.4240612,140.717709 C69.6317318,140.20585 68.7464965,138.826285 68.0348024,137.890215 C67.2915553,136.913826 66.4694259,135.401038 65.6928729,135.206462 C64.7164847,134.964556 64.1099671,135.350203 63.6086259,135.853297 C62.91972,134.983838 62.4902494,133.651603 62.6848259,132.534979 C61.7803082,132.310603 60.7040024,133.073132 60.0817082,133.691921 C59.3244376,132.66645 58.8826965,130.769768 59.1316141,129.188615 C57.9220847,128.915156 56.7406024,129.718003 56.0885082,130.49105 C54.9017671,128.552297 55.1471788,126.425979 55.8693906,125.223462 C54.2303906,124.895662 52.8017435,123.75625 52.2337906,122.166332 C55.0157082,120.986603 55.4048612,119.195097 56.3234024,117.210768 C57.5346847,114.588368 65.2704141,114.293874 66.0872847,110.600426 C66.3502259,109.415438 65.9575671,107.878109 65.5403671,107.103309 C63.4648847,103.239826 56.8790847,102.023285 51.23812,102.06185 C51.0172494,105.260968 50.6771788,107.993803 50.0443671,110.363779 C49.4518729,112.584756 48.4649671,114.728603 47.0731318,116.283462 C45.2202729,118.353685 41.9808376,119.521144 39.0271318,120.395862 C36.06992,121.272332 33.4703082,121.854309 30.3553318,122.583532 C29.8452259,122.639626 30.6112612,127.937015 32.2099435,131.364015 C33.0776494,133.223885 33.4036965,134.233579 34.9550494,133.998685 C36.8867906,133.705944 39.5284729,132.405262 41.9738259,132.491156 C46.9521788,132.669956 50.43352,137.967344 47.6989318,143.366403 C47.3798965,143.184097 47.1397435,143.061391 46.8645318,143.010556 C46.6752141,144.230603 46.1598494,145.434874 45.6602612,146.242979 C45.2500729,145.951991 44.9380494,145.813509 44.5418847,145.692556 C44.0493082,147.214109 43.0641553,148.495509 42.20872,149.066968 C41.5916847,148.434156 40.7467671,147.859191 39.5354847,147.815368 C32.01712,147.531391 28.7724259,148.633991 25.7170494,145.852074 C24.7196259,144.94405 23.9343082,143.448791 23.2804612,141.932497 C22.0025671,138.968274 20.9876141,137.336285 18.7946847,139.502921 C17.89192,138.137379 17.7867435,136.415991 18.3809906,135.280085 C17.3975906,134.964556 16.0618494,135.401038 15.2642612,135.793697 C14.4719318,134.389591 14.5718494,132.098497 15.4290376,130.964344 C13.3640729,130.761003 11.4007788,129.048379 11.0203906,126.76605 C12.2018729,126.797603 13.69012,126.168297 14.5192612,125.347921 C12.6032965,124.955262 11.0659671,123.286462 10.6189671,121.053215 C11.8898494,121.053215 13.3307671,120.770991 14.1388729,120.138179 C15.9654376,118.713038 15.3904729,115.834709 18.2179671,114.889874 C21.6099082,113.755721 28.2465435,115.291297 28.4393671,111.049179 C28.5217553,109.27345 27.2263318,105.886768 26.6741553,103.772721 C26.08692,101.523697 25.7573671,99.1747559 25.7573671,96.5804029 C10.1018494,98.0721559 5.08843765,87.7017559 5.53193176,79.2736147 C5.89303765,72.4038382 8.36819059,67.6340853 12.3508729,59.7002735 C17.2573553,49.9258735 20.8210847,42.8913206 20.5178259,36.1775559 C20.3810965,33.1151676 19.2557082,29.5058617 16.9751318,28.8677912 C12.6208259,27.649497 10.9572847,32.5892853 13.0713318,35.1345559 C13.7847788,35.9917441 15.1625906,36.62105 16.8121082,36.4510147 C16.8682024,38.7280853 15.7130141,40.1234265 14.1038141,40.5038147 C14.6647553,44.66705 12.9608965,48.1799441 9.98966118,49.8084265 C9.95284941,49.3263676 9.83014353,48.9459794 9.70568471,48.4867088 C7.57235529,50.1555088 2.98140235,51.90845 -0.000350588235,49.8925676 C0.881378824,48.8863794 1.32837882,48.3640029 1.89633176,47.5821912 C3.06028471,45.9800029 4.03492,44.0517676 4.17515529,41.83605 C4.32064941,39.5221676 4.41706118,37.2521088 4.46263765,35.3624382 C4.60637882,29.3919206 8.56802588,23.2233206 15.8497435,23.7649794 C21.9832847,24.2207441 25.4576141,29.2359088 25.7713906,35.9426617 C26.1360024,43.6783912 22.2304494,52.5570382 16.9400729,64.959097 C14.8400494,69.8848617 12.8837671,75.0087088 13.0432847,78.9580853 C13.2378612,83.8189912 16.4860612,87.22145 21.0682494,87.3371441 C23.8624376,87.4055088 27.3122259,86.0557441 28.7601553,84.5850265 C28.9634965,84.3799323 29.1580729,84.09245 29.9433906,83.0021206 C33.4370024,78.1464735 40.6047788,75.0139676 41.0307435,67.3588735 C38.63272,68.0968617 35.5440376,66.6156265 35.0216612,64.8486617 C37.1620024,64.0563323 38.69232,62.3209206 38.1594259,57.8596853 C38.1243671,57.4407323 38.0682729,56.8499912 38.0507435,56.3346265 C36.8657553,56.5344617 35.8963788,57.3793794 35.3336847,58.2891559 C31.4456612,54.2731676 33.4545318,49.1440617 34.7744965,45.5768265 C31.7857318,45.7240735 29.3859553,43.4312265 29.0791906,41.3943088 C30.52712,41.2049912 31.4351435,40.1462147 31.4018376,38.8753323 C31.3737906,37.8270735 30.6375553,36.231897 30.0608376,34.9732853 C28.4130729,31.3832617 26.8196494,27.7739559 26.9108024,22.8762382 C24.7687082,21.8630382 23.8238729,19.3598382 23.8869788,17.3860265 C25.7240612,17.2528029 27.0300024,16.3780853 27.0860965,15.2001088 C27.1316729,14.2675441 27.2876847,12.5216147 27.6785906,11.3681794 C26.9756612,10.6827794 25.8537788,8.58976763 26.9546259,6.13389704 C27.7381906,6.31444998 28.9687553,6.34950881 29.7137553,5.93581469 C30.0398024,5.75701469 30.6726141,4.62286175 31.7524259,3.83403822 C31.5946612,3.07150881 31.7419082,1.36063822 32.5938376,0.279073514 C33.11972,0.513967632 33.9698965,0.747108808 34.8042965,0.833002926 C38.4311318,1.19936763 47.0503435,-1.36167943 53.4222847,1.03984998 C54.7510141,1.53943822 55.8764024,2.30021469 56.7037906,3.12935587 C57.9694141,3.26433234 59.5575788,3.53779116 61.1264612,3.89013234 C64.2449435,4.58955587 64.1835906,5.15049704 65.3475435,5.3783794 C65.8173318,5.46953234 67.1250259,5.56419116 68.4309671,5.67462646 C69.8245553,5.7955794 73.8352847,6.52655587 74.6276141,7.38023822 C75.3515788,8.16204998 74.6118376,9.56440293 74.6521553,11.0999794 C74.69072,12.5181088 75.4006612,15.0283206 74.4382965,16.71465 C74.1262729,17.2598147 73.5092376,17.5315206 72.8992141,17.636697"
                fill="#FFFFFF"
                mask="url(#mask-3)"
              ></path>
            </g>
            <path
              id="Fill-4"
              d="M51.2212918,10.0466318 C51.0319741,10.9423847 50.2554212,11.1632553 50.2519153,10.4953847 C50.2431506,8.58643176 48.2465506,7.61880824 46.1360094,7.42949059 C45.5733153,7.37865529 46.1325035,6.97022 46.7162329,6.91587882 C48.7356212,6.72480824 51.6542682,8.00094941 51.2212918,10.0466318"
              fill="#FFFFFF"
            ></path>
            <path
              id="Fill-6"
              d="M33.9812906,27.0634835 C33.2660906,31.1303071 35.4695376,31.3897424 35.5887376,34.3872718 C37.0541965,34.6624835 38.6704082,33.5966953 39.5591494,32.1960953 C39.7046435,31.9647071 39.8413729,32.2031071 39.7134082,32.7167188 C39.1892788,34.8202482 36.4985141,36.88346 33.90942,35.9806953 C35.07162,33.2443541 31.6954553,30.6044247 33.5027376,27.2563071 C33.8603376,26.6007071 34.0303729,26.7286718 33.9812906,27.0634835"
              fill="#FFFFFF"
            ></path>
            <path
              id="Fill-8"
              d="M41.2386424,38.0945671 C41.4735365,37.8035788 41.6786306,37.8824612 41.5962424,38.1699435 C39.5698424,44.9152612 44.5446894,45.3938141 44.9250776,51.20832 C46.9917953,50.6508847 47.9208541,48.9768259 48.6027482,46.9802259 C48.7640188,46.4420729 49.0392306,46.7400729 49.0006659,47.4622847 C48.9200306,48.9610494 48.5063365,50.1828494 48.0330424,50.9033082 C47.17936,52.1987318 45.2353482,53.8272141 42.7742188,53.4152729 C44.3378424,48.3422612 40.0694306,46.4560965 40.0571384,41.9002024 C40.0536541,40.83792 40.4778659,38.9762965 41.2386424,38.0945671"
              fill="#FFFFFF"
            ></path>
            <path
              id="Fill-10"
              d="M67.6423188,50.2522659 C67.4792953,50.0138659 67.4670247,49.5738776 68.3610247,50.3925012 C72.3962953,54.0894541 68.4206247,60.5262541 71.1271659,63.7113482 C67.4109306,65.1645365 63.8559659,62.5982306 63.4387659,60.4035482 C63.2459424,59.3254894 64.0207424,60.7646541 65.04446,61.4430424 C65.9034012,62.0127482 67.5792129,62.5982306 68.4539306,62.4001482 C67.4109306,58.4402541 70.6240718,55.0816188 67.6423188,50.2522659"
              fill="#FFFFFF"
            ></path>
            <polygon
              id="Fill-12"
              fill="#2EA9E1"
              points="124.659185 60.0629518 124.659185 89.0057635 153.601996 89.0057635"
            ></polygon>
            <mask id="mask-5" fill="white">
              <use xlink:href="#path-4"></use>
            </mask>
            <g id="Clip-15"></g>
            <path
              id="Fill-14"
              d="M124.223929,89.4403176 L154.0362,89.4403176 L154.0362,59.6280471 L124.223929,59.6280471 L124.223929,89.4403176 Z M125.093388,88.5708588 L153.168494,88.5708588 L153.168494,60.4975059 L125.093388,60.4975059 L125.093388,88.5708588 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-16"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="167.618164 59.5279541 176.873693 59.5279541 176.873693 81.8691894 190.169752 81.8691894 190.169752 89.56986 167.618164 89.56986"
            ></polygon>
            <path
              id="Fill-17"
              d="M192.7762,89.5700353 L201.106176,89.5700353 L201.106176,67.7336471 L192.7762,67.7336471 L192.7762,89.5700353 Z M192.7762,65.3776941 L201.106176,65.3776941 L201.106176,59.5281294 L192.7762,59.5281294 L192.7762,65.3776941 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-18"
              d="M218.565646,76.0217282 C218.481505,75.1382459 218.187011,74.4230459 217.640093,73.9602694 C217.135246,73.4974929 216.420046,73.2450694 215.536564,73.2450694 C212.339199,73.2450694 211.876422,76.0217282 211.876422,78.6721753 C211.876422,81.3226224 212.339199,84.0572106 215.536564,84.0572106 C217.345599,84.0572106 218.607716,82.58474 218.775999,80.8598459 L226.72734,80.8598459 C226.348705,83.8047871 224.960375,86.1204224 222.940987,87.7191047 C220.963669,89.2757165 218.313222,90.1171282 215.368281,90.1171282 C208.805269,90.1171282 203.544693,85.5717518 203.544693,78.6721753 C203.544693,71.7708459 208.805269,67.1851518 215.368281,67.1851518 C221.089881,67.1851518 225.970069,70.0038812 226.474916,76.0217282 L218.565646,76.0217282 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-19"
              d="M243.806947,76.1894847 C243.806947,74.1700965 242.292406,72.5293435 240.146806,72.5293435 C237.664641,72.5293435 236.234241,73.8335318 235.855606,76.1894847 L243.806947,76.1894847 Z M235.813535,80.5245082 C236.023888,83.0066729 237.454288,84.7718847 240.062665,84.7718847 C241.408924,84.7718847 242.881394,84.2670376 243.554524,83.2170259 L251.337582,83.2170259 C249.654759,87.9271788 245.069065,90.1166024 240.104735,90.1166024 C233.121018,90.1166024 227.860441,85.9936847 227.860441,78.71372 C227.860441,72.3610612 232.488206,67.1846259 239.389535,67.1846259 C248.056076,67.1846259 251.802112,72.0244965 251.802112,80.5245082 L235.813535,80.5245082 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-20"
              d="M264.88326,73.2450694 C261.727966,73.2450694 261.30726,76.3162224 261.30726,78.6301047 C261.30726,80.9439871 261.727966,84.0572106 264.88326,84.0572106 C268.038554,84.0572106 268.461013,80.9439871 268.461013,78.6301047 C268.461013,76.3162224 268.038554,73.2450694 264.88326,73.2450694 M264.88326,90.1171282 C256.679495,90.1171282 252.977284,84.6882694 252.977284,78.6301047 C252.977284,72.5701871 256.679495,67.1851518 264.88326,67.1851518 C273.088778,67.1851518 276.789236,72.5701871 276.789236,78.6301047 C276.789236,84.6882694 273.088778,90.1171282 264.88326,90.1171282"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-21"
              d="M307.440114,78.8411588 L304.747596,69.5838765 L304.663455,69.5838765 L301.760585,78.8411588 L307.440114,78.8411588 Z M300.161902,59.5272529 L309.207079,59.5272529 L320.147185,89.5691588 L310.553338,89.5691588 L309.29122,85.2779588 L299.739444,85.2779588 L298.393185,89.5691588 L289.095585,89.5691588 L300.161902,59.5272529 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-22"
              d="M321.152847,67.7327706 L329.148012,67.7327706 L329.148012,71.2246294 L329.2304,71.2246294 C330.576659,68.6162529 332.345376,67.1858529 335.374459,67.1858529 C336.215871,67.1858529 337.015212,67.3120647 337.814553,67.5224176 L337.814553,74.8847706 C336.973141,74.5902765 336.215871,74.3396059 334.533047,74.3396059 C331.251541,74.3396059 329.482824,76.2731 329.482824,80.9429353 L329.482824,89.5691588 L321.152847,89.5691588 L321.152847,67.7327706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-23"
              d="M349.800814,67.7327706 L354.260296,67.7327706 L354.260296,72.8653824 L349.800814,72.8653824 L349.800814,80.4801588 C349.800814,82.5013 350.263591,83.3847824 352.36712,83.3847824 C352.998179,83.3847824 353.629238,83.3409588 354.260296,83.2568176 L354.260296,89.5691588 C352.577473,89.5691588 350.684296,89.8215824 348.917332,89.8215824 C345.381649,89.8215824 341.470838,89.2746647 341.470838,83.3006412 L341.470838,72.8653824 L337.766873,72.8653824 L337.766873,67.7327706 L341.470838,67.7327706 L341.470838,61.0856176 L349.800814,61.0856176 L349.800814,67.7327706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-24"
              d="M356.572776,89.5700353 L364.902753,89.5700353 L364.902753,67.7336471 L356.572776,67.7336471 L356.572776,89.5700353 Z M356.572776,65.3776941 L364.902753,65.3776941 L364.902753,59.5281294 L356.572776,59.5281294 L356.572776,65.3776941 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-25"
              d="M380.949702,74.0856047 C380.907632,73.3704047 380.528996,72.8234871 379.980326,72.4448518 C379.477232,72.0241459 378.802349,71.8137929 378.130973,71.8137929 C376.951244,71.8137929 375.604985,72.0679694 375.604985,73.4966165 C375.604985,74.1276753 376.109832,74.4221694 376.574361,74.6325224 C377.960938,75.2215106 381.117985,75.3897929 383.894644,76.3153459 C386.671302,77.1988282 389.111396,78.8413341 389.111396,82.4173341 C389.111396,88.4754988 383.305655,90.1180047 378.003008,90.1180047 C372.870396,90.1180047 367.232938,88.0547929 367.108479,82.4173341 L375.058067,82.4173341 C375.101891,83.1746047 375.436702,83.8056635 376.067761,84.3508282 C376.488467,84.7312165 377.289561,84.98364 378.297502,84.98364 C379.391338,84.98364 381.117985,84.5629341 381.117985,83.3008165 C381.117985,82.0386988 380.402785,81.6583106 376.530538,80.9869341 C370.177879,79.8930988 367.611573,77.8719576 367.611573,74.1276753 C367.611573,68.6164282 373.543526,67.1842753 377.918867,67.1842753 C382.632526,67.1842753 388.312055,68.4902165 388.522408,74.0856047 L380.949702,74.0856047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-26"
              d="M401.437202,67.7327706 L405.896685,67.7327706 L405.896685,72.8653824 L401.437202,72.8653824 L401.437202,80.4801588 C401.437202,82.5013 401.899979,83.3847824 404.003508,83.3847824 C404.634567,83.3847824 405.265626,83.3409588 405.896685,83.2568176 L405.896685,89.5691588 C404.213861,89.5691588 402.320685,89.8215824 400.55372,89.8215824 C397.018038,89.8215824 393.107226,89.2746647 393.107226,83.3006412 L393.107226,72.8653824 L389.403261,72.8653824 L389.403261,67.7327706 L393.107226,67.7327706 L393.107226,61.0856176 L401.437202,61.0856176 L401.437202,67.7327706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-27"
              d="M408.223188,89.5700353 L416.554918,89.5700353 L416.554918,67.7336471 L408.223188,67.7336471 L408.223188,89.5700353 Z M408.223188,65.3776941 L416.554918,65.3776941 L416.554918,59.5281294 L408.223188,59.5281294 L408.223188,65.3776941 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-28"
              d="M433.929895,76.0217282 C433.845754,75.1382459 433.55126,74.4230459 433.004342,73.9602694 C432.499495,73.4974929 431.784295,73.2450694 430.900813,73.2450694 C427.703448,73.2450694 427.240672,76.0217282 427.240672,78.6721753 C427.240672,81.3226224 427.703448,84.0572106 430.900813,84.0572106 C432.709848,84.0572106 433.971966,82.58474 434.140248,80.8598459 L442.091589,80.8598459 C441.712954,83.8047871 440.324625,86.1204224 438.305236,87.7191047 C436.327919,89.2757165 433.677472,90.1171282 430.732531,90.1171282 C424.169519,90.1171282 418.908942,85.5717518 418.908942,78.6721753 C418.908942,71.7708459 424.169519,67.1851518 430.732531,67.1851518 C436.454131,67.1851518 441.334319,70.0038812 441.840919,76.0217282 L433.929895,76.0217282 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-29"
              d="M455.163798,73.2450694 C452.008504,73.2450694 451.587798,76.3162224 451.587798,78.6301047 C451.587798,80.9439871 452.008504,84.0572106 455.163798,84.0572106 C458.319092,84.0572106 458.739798,80.9439871 458.739798,78.6301047 C458.739798,76.3162224 458.319092,73.2450694 455.163798,73.2450694 M455.163798,90.1171282 C446.95828,90.1171282 443.257821,84.6882694 443.257821,78.6301047 C443.257821,72.5701871 446.95828,67.1851518 455.163798,67.1851518 C463.369315,67.1851518 467.069774,72.5701871 467.069774,78.6301047 C467.069774,84.6882694 463.369315,90.1171282 455.163798,90.1171282"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-30"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="167.335765 42.1336941 170.419188 42.1336941 170.419188 45.5817294 170.447235 45.5817294 173.194094 42.1336941 176.992718 42.1336941 173.362376 46.0445059 177.581706 52.1412353 173.741012 52.1412353 171.274624 48.2444471 170.419188 49.1840235 170.419188 52.1412353 167.335765 52.1412353"
            ></polygon>
            <path
              id="Fill-31"
              d="M182.815112,48.8758565 C182.478547,49.0441388 182.099912,49.1423035 181.721276,49.2264447 C181.104241,49.36668 180.7817,49.5209388 180.7817,50.0100094 C180.7817,50.3465741 181.146312,50.6831388 181.651159,50.6831388 C182.282218,50.6831388 182.773041,50.3045035 182.815112,49.5489859 L182.815112,48.8758565 Z M185.477829,50.5148565 C185.477829,51.0617741 185.505876,51.6788094 185.814394,52.1415859 L182.983394,52.1415859 C182.913276,51.9452565 182.871206,51.6507624 182.885229,51.4544329 L182.857182,51.4544329 C182.268194,52.1275624 181.412759,52.3238918 180.515253,52.3238918 C179.114653,52.3238918 177.952453,51.6507624 177.952453,50.1221976 C177.952453,47.8240918 180.643218,47.9082329 182.057841,47.6417859 C182.436476,47.5716682 182.815112,47.45948 182.815112,46.9967035 C182.815112,46.50588 182.352335,46.3235741 181.903582,46.3235741 C181.0499,46.3235741 180.879865,46.7583035 180.867594,47.0668212 L178.287265,47.0668212 C178.329335,46.0448565 178.834182,45.4418447 179.549382,45.10528 C180.250559,44.7687153 181.174359,44.6845741 182.029794,44.6845741 C185.505876,44.6845741 185.477829,46.1289976 185.477829,47.5295976 L185.477829,50.5148565 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-32"
              d="M187.22148,44.8667047 L189.898221,44.8667047 L189.898221,45.7922576 L189.926268,45.7922576 C190.445139,45.0630341 191.188386,44.6843988 192.296245,44.6843988 C193.59868,44.6843988 194.79068,45.48374 194.79068,47.1507871 L194.79068,52.1414106 L192.015774,52.1414106 L192.015774,48.3287635 C192.015774,47.4891047 191.917609,46.9001165 191.104245,46.9001165 C190.627445,46.9001165 189.996386,47.1367635 189.996386,48.3007165 L189.996386,52.1414106 L187.22148,52.1414106 L187.22148,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-33"
              d="M199.910671,44.8667047 L201.397165,44.8667047 L201.397165,46.5775753 L199.910671,46.5775753 L199.910671,49.1140812 C199.910671,49.7872106 200.064929,50.0817047 200.766106,50.0817047 C200.976459,50.0817047 201.186812,50.0659282 201.397165,50.0396341 L201.397165,52.1414106 C200.836224,52.1414106 200.205165,52.2255518 199.617929,52.2255518 C198.439953,52.2255518 197.135765,52.0432459 197.135765,50.0519047 L197.135765,46.5775753 L195.901694,46.5775753 L195.901694,44.8667047 L197.135765,44.8667047 L197.135765,42.65274 L199.910671,42.65274 L199.910671,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-34"
              d="M206.206885,46.7027353 C205.15512,46.7027353 205.014885,47.7264529 205.014885,48.4959941 C205.014885,49.2672882 205.15512,50.3050294 206.206885,50.3050294 C207.258649,50.3050294 207.398885,49.2672882 207.398885,48.4959941 C207.398885,47.7264529 207.258649,46.7027353 206.206885,46.7027353 M206.206885,52.3244176 C203.474049,52.3244176 202.239979,50.5153824 202.239979,48.4959941 C202.239979,46.4783588 203.474049,44.6851 206.206885,44.6851 C208.93972,44.6851 210.173791,46.4783588 210.173791,48.4959941 C210.173791,50.5153824 208.93972,52.3244176 206.206885,52.3244176"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-35"
              d="M211.649592,44.8667047 L214.326333,44.8667047 L214.326333,45.7922576 L214.35438,45.7922576 C214.873251,45.0630341 215.616498,44.6843988 216.724356,44.6843988 C218.026792,44.6843988 219.218792,45.48374 219.218792,47.1507871 L219.218792,52.1414106 L216.443886,52.1414106 L216.443886,48.3287635 C216.443886,47.4891047 216.345721,46.9001165 215.532356,46.9001165 C215.055556,46.9001165 214.424498,47.1367635 214.424498,48.3007165 L214.424498,52.1414106 L211.649592,52.1414106 L211.649592,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-36"
              d="M225.209293,46.9833812 C225.195269,46.7449812 225.069058,46.5626753 224.886752,46.4364635 C224.718469,46.2962282 224.494093,46.2261106 224.269716,46.2261106 C223.877058,46.2261106 223.428305,46.3102518 223.428305,46.7870518 C223.428305,46.9974047 223.59834,47.0955694 223.750846,47.1656871 C224.213622,47.3620165 225.265387,47.4181106 226.19094,47.7266282 C227.11474,48.0211224 227.928105,48.5662871 227.928105,49.7582871 C227.928105,51.7759224 225.994611,52.32284 224.227646,52.32284 C222.518528,52.32284 220.639375,51.6356871 220.597305,49.7582871 L223.245999,49.7582871 C223.261775,50.0107106 223.373964,50.2210635 223.582564,50.4033694 C223.722799,50.5295812 223.989246,50.6137224 224.325811,50.6137224 C224.690422,50.6137224 225.265387,50.4734871 225.265387,50.0527812 C225.265387,49.6320753 225.026987,49.5058635 223.736822,49.28324 C221.621022,48.9186282 220.765587,48.2454988 220.765587,46.9974047 C220.765587,45.1603224 222.742905,44.6835224 224.199599,44.6835224 C225.770234,44.6835224 227.661658,45.1200047 227.731775,46.9833812 L225.209293,46.9833812 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-37"
              d="M233.524545,46.9833812 C233.510521,46.7449812 233.384309,46.5626753 233.202004,46.4364635 C233.033721,46.2962282 232.809345,46.2261106 232.584968,46.2261106 C232.192309,46.2261106 231.743556,46.3102518 231.743556,46.7870518 C231.743556,46.9974047 231.913592,47.0955694 232.066098,47.1656871 C232.528874,47.3620165 233.580639,47.4181106 234.506192,47.7266282 C235.429992,48.0211224 236.243356,48.5662871 236.243356,49.7582871 C236.243356,51.7759224 234.309862,52.32284 232.542898,52.32284 C230.83378,52.32284 228.95638,51.6356871 228.912556,49.7582871 L231.561251,49.7582871 C231.577027,50.0107106 231.689215,50.2210635 231.897815,50.4033694 C232.038051,50.5295812 232.304498,50.6137224 232.641062,50.6137224 C233.005674,50.6137224 233.580639,50.4734871 233.580639,50.0527812 C233.580639,49.6320753 233.342239,49.5058635 232.052074,49.28324 C229.936274,48.9186282 229.080839,48.2454988 229.080839,46.9974047 C229.080839,45.1603224 231.058156,44.6835224 232.514851,44.6835224 C234.085486,44.6835224 235.976909,45.1200047 236.047027,46.9833812 L233.524545,46.9833812 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-38"
              d="M242.330445,47.6279376 C242.302398,47.3334435 242.204233,47.0950435 242.021927,46.9407847 C241.853645,46.7882788 241.615245,46.7023847 241.320751,46.7023847 C240.254962,46.7023847 240.102456,47.6279376 240.102456,48.51142 C240.102456,49.3931494 240.254962,50.3046788 241.320751,50.3046788 C241.923762,50.3046788 242.344468,49.8156082 242.400562,49.2388906 L245.049256,49.2388906 C244.923045,50.2205376 244.460268,50.9918318 243.788892,51.5247259 C243.129786,52.0435965 242.246304,52.3240671 241.264656,52.3240671 C239.078739,52.3240671 237.327551,50.8095259 237.327551,48.51142 C237.327551,46.2115612 239.078739,44.6847494 241.264656,44.6847494 C243.170104,44.6847494 244.796833,45.6243259 244.965115,47.6279376 L242.330445,47.6279376 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-39"
              d="M246.469665,42.1336941 L249.244571,42.1336941 L249.244571,45.6518471 L249.272618,45.6518471 C249.749418,45.0909059 250.366453,44.6842235 251.544429,44.6842235 C252.846865,44.6842235 254.038865,45.4835647 254.038865,47.1506118 L254.038865,52.1412353 L251.262206,52.1412353 L251.262206,48.3285882 C251.262206,47.4889294 251.165794,46.8999412 250.352429,46.8999412 C249.875629,46.8999412 249.244571,47.1365882 249.244571,48.3005412 L249.244571,52.1412353 L246.469665,52.1412353 L246.469665,42.1336941 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-40"
              d="M263.392208,52.1412353 L260.715467,52.1412353 L260.715467,51.2156824 L260.68742,51.2156824 C260.168549,51.9449059 259.425302,52.3235412 258.317444,52.3235412 C257.015008,52.3235412 255.823008,51.5242 255.823008,49.8571529 L255.823008,44.8665294 L258.597914,44.8665294 L258.597914,48.6791765 C258.597914,49.5205882 258.696079,50.1095765 259.509444,50.1095765 C259.986244,50.1095765 260.617302,49.8711765 260.617302,48.7072235 L260.617302,44.8665294 L263.392208,44.8665294 L263.392208,52.1412353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-41"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="265.234024 52.1412353 268.008929 52.1412353 268.008929 42.1336941 265.234024 42.1336941"
            ></polygon>
            <path
              id="Fill-42"
              d="M274.787202,47.6843824 C274.787202,47.0112529 274.282355,46.4643353 273.568908,46.4643353 C272.74152,46.4643353 272.26472,46.8990647 272.138508,47.6843824 L274.787202,47.6843824 Z M272.124485,49.1270529 C272.194602,49.9544412 272.671402,50.5434294 273.540861,50.5434294 C273.987861,50.5434294 274.478685,50.3751471 274.703061,50.0245588 L277.295661,50.0245588 C276.73472,51.5934412 275.207908,52.3226647 273.553132,52.3226647 C271.226979,52.3226647 269.475791,50.9501118 269.475791,48.5240412 C269.475791,46.4082412 271.016626,44.6851 273.316485,44.6851 C276.203579,44.6851 277.44992,46.2960529 277.44992,49.1270529 L272.124485,49.1270529 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-43"
              d="M169.703988,103.118693 C169.703988,103.372869 169.746059,103.59374 169.816176,103.777799 C170.040553,104.380811 170.713682,104.505269 171.286894,104.505269 C171.791741,104.505269 172.563035,104.336987 172.563035,103.59374 C172.563035,103.078375 172.128306,102.936387 170.405165,102.445564 C168.820506,101.996811 167.013224,101.562081 167.013224,99.5444459 C167.013224,97.2323165 168.988788,96.2366459 171.050247,96.2366459 C173.222141,96.2366459 175.141612,97.0640341 175.225753,99.5023753 L172.310612,99.5023753 C172.366706,99.12374 172.198424,98.8713165 171.946,98.7030341 C171.693576,98.5207282 171.344741,98.4523635 171.036224,98.4523635 C170.615518,98.4523635 169.928365,98.5627988 169.928365,99.12374 C169.984459,99.83894 171.414859,99.9931988 172.829482,100.385858 C174.244106,100.776764 175.646459,101.437622 175.646459,103.272952 C175.646459,105.879575 173.250188,106.720987 171.020447,106.720987 C169.886294,106.720987 166.648612,106.314305 166.620565,103.118693 L169.703988,103.118693 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-44"
              d="M181.524421,101.968238 C181.496374,101.673744 181.398209,101.437096 181.215904,101.282838 C181.047621,101.128579 180.809221,101.044438 180.514727,101.044438 C179.448939,101.044438 179.296433,101.968238 179.296433,102.85172 C179.296433,103.735202 179.448939,104.644979 180.514727,104.644979 C181.117739,104.644979 181.538445,104.155908 181.594539,103.580944 L184.243233,103.580944 C184.117021,104.562591 183.654245,105.333885 182.982868,105.866779 C182.323762,106.385649 181.44028,106.66612 180.458633,106.66612 C178.272715,106.66612 176.521527,105.149826 176.521527,102.85172 C176.521527,100.553614 178.272715,99.0250494 180.458633,99.0250494 C182.36408,99.0250494 183.990809,99.9646259 184.159092,101.968238 L181.524421,101.968238 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-45"
              d="M185.663641,96.4748706 L188.438547,96.4748706 L188.438547,99.9930235 L188.466594,99.9930235 C188.943394,99.4320824 189.560429,99.0254 190.738406,99.0254 C192.040841,99.0254 193.232841,99.8247412 193.232841,101.491788 L193.232841,106.482412 L190.457935,106.482412 L190.457935,102.669765 C190.457935,101.830106 190.359771,101.241118 189.546406,101.241118 C189.069606,101.241118 188.438547,101.477765 188.438547,102.643471 L188.438547,106.482412 L185.663641,106.482412 L185.663641,96.4748706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-46"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="204.253582 106.482412 201.408559 106.482412 200.356794 102.010659 200.328747 102.010659 199.250688 106.482412 196.403912 106.482412 194.135606 99.2094588 197.0227 99.2094588 198.100759 103.707506 198.128806 103.707506 199.054359 99.2094588 201.646959 99.2094588 202.612829 103.707506 202.670676 103.707506 203.678618 99.2094588 206.565712 99.2094588"
            ></polygon>
            <path
              id="Fill-47"
              d="M212.487673,102.026435 C212.487673,101.351553 211.982826,100.806388 211.269379,100.806388 C210.441991,100.806388 209.965191,101.241118 209.838979,102.026435 L212.487673,102.026435 Z M209.824955,103.467353 C209.895073,104.296494 210.371873,104.885482 211.241332,104.885482 C211.688332,104.885482 212.179155,104.7172 212.403532,104.364859 L214.996132,104.364859 C214.435191,105.935494 212.908379,106.664718 211.253602,106.664718 C208.927449,106.664718 207.176261,105.290412 207.176261,102.866094 C207.176261,100.748541 208.717096,99.0254 211.016955,99.0254 C213.904049,99.0254 215.150391,100.638106 215.150391,103.467353 L209.824955,103.467353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-48"
              d="M216.640741,106.482412 L219.415647,106.482412 L219.415647,99.2094588 L216.640741,99.2094588 L216.640741,106.482412 Z M216.640741,98.4223882 L219.415647,98.4223882 L219.415647,96.4748706 L216.640741,96.4748706 L216.640741,98.4223882 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-49"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="220.750687 104.337513 224.156652 101.226042 221.059205 101.226042 221.059205 99.2084071 227.716875 99.2084071 227.716875 101.338231 224.395052 104.463725 228.011369 104.463725 228.011369 106.483113 220.750687 106.483113"
            ></polygon>
            <path
              id="Fill-50"
              d="M234.336858,102.026435 C234.336858,101.351553 233.832011,100.806388 233.116811,100.806388 C232.291175,100.806388 231.814375,101.241118 231.688164,102.026435 L234.336858,102.026435 Z M231.67414,103.467353 C231.744258,104.296494 232.219305,104.885482 233.090516,104.885482 C233.537516,104.885482 234.02834,104.7172 234.252716,104.364859 L236.845316,104.364859 C236.284375,105.935494 234.757564,106.664718 233.102787,106.664718 C230.776634,106.664718 229.025446,105.290412 229.025446,102.866094 C229.025446,100.748541 230.566281,99.0254 232.86614,99.0254 C235.753234,99.0254 236.999575,100.638106 236.999575,103.467353 L231.67414,103.467353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-51"
              d="M238.434182,99.2087576 L241.098653,99.2087576 L241.098653,100.370958 L241.124947,100.370958 C241.5737,99.5032518 242.162688,99.0264518 243.172382,99.0264518 C243.4511,99.0264518 243.7193,99.0685224 243.985747,99.13864 L243.985747,101.591005 C243.703524,101.49284 243.4511,101.408699 242.891912,101.408699 C241.798076,101.408699 241.209088,102.053781 241.209088,103.60864 L241.209088,106.481711 L238.434182,106.481711 L238.434182,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-52"
              d="M244.984047,106.482412 L247.758953,106.482412 L247.758953,99.2094588 L244.984047,99.2094588 L244.984047,106.482412 Z M244.984047,98.4223882 L247.758953,98.4223882 L247.758953,96.4748706 L244.984047,96.4748706 L244.984047,98.4223882 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-53"
              d="M253.816066,101.324558 C253.802042,101.086158 253.675831,100.903852 253.493525,100.77764 C253.325242,100.637405 253.100866,100.567287 252.876489,100.567287 C252.483831,100.567287 252.035078,100.651428 252.035078,101.129981 C252.035078,101.338581 252.205113,101.436746 252.357619,101.506864 C252.820395,101.703193 253.87216,101.759287 254.797713,102.067805 C255.721513,102.362299 256.534878,102.907464 256.534878,104.099464 C256.534878,106.117099 254.601384,106.665769 252.834419,106.665769 C251.125301,106.665769 249.246148,105.976864 249.204078,104.099464 L251.852772,104.099464 C251.868548,104.351887 251.980736,104.563993 252.189336,104.744546 C252.329572,104.870758 252.596019,104.953146 252.932584,104.953146 C253.297195,104.953146 253.87216,104.812911 253.87216,104.393958 C253.87216,103.975005 253.63376,103.84704 252.343595,103.624416 C250.227795,103.259805 249.37236,102.586675 249.37236,101.338581 C249.37236,99.5032518 251.349678,99.0246988 252.806372,99.0246988 C254.377007,99.0246988 256.268431,99.4611812 256.338548,101.324558 L253.816066,101.324558 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-54"
              d="M262.621966,101.968238 C262.593919,101.673744 262.495754,101.437096 262.313448,101.282838 C262.145166,101.128579 261.906766,101.044438 261.612272,101.044438 C260.546484,101.044438 260.393978,101.968238 260.393978,102.85172 C260.393978,103.735202 260.546484,104.644979 261.612272,104.644979 C262.215284,104.644979 262.635989,104.155908 262.692084,103.580944 L265.340778,103.580944 C265.214566,104.562591 264.751789,105.333885 264.080413,105.866779 C263.421307,106.385649 262.537825,106.66612 261.556178,106.66612 C259.37026,106.66612 257.619072,105.149826 257.619072,102.85172 C257.619072,100.553614 259.37026,99.0250494 261.556178,99.0250494 C263.461625,99.0250494 265.088354,99.9646259 265.256636,101.968238 L262.621966,101.968238 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-55"
              d="M266.762062,96.4748706 L269.536968,96.4748706 L269.536968,99.9930235 L269.565015,99.9930235 C270.041815,99.4320824 270.658851,99.0254 271.836827,99.0254 C273.139262,99.0254 274.331262,99.8247412 274.331262,101.491788 L274.331262,106.482412 L271.554604,106.482412 L271.554604,102.669765 C271.554604,101.830106 271.458192,101.241118 270.644827,101.241118 C270.168027,101.241118 269.536968,101.477765 269.536968,102.643471 L269.536968,106.482412 L266.762062,106.482412 L266.762062,96.4748706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-56"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="276.018118 103.889812 280.403976 103.889812 280.403976 101.591706 276.018118 101.591706"
            ></polygon>
            <path
              id="Fill-57"
              d="M282.1464,106.482412 L284.921306,106.482412 L284.921306,99.2094588 L282.1464,99.2094588 L282.1464,106.482412 Z M282.1464,98.4223882 L284.921306,98.4223882 L284.921306,96.4748706 L282.1464,96.4748706 L282.1464,98.4223882 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-58"
              d="M290.108259,99.2087576 L291.594753,99.2087576 L291.594753,100.917875 L290.108259,100.917875 L290.108259,103.454381 C290.108259,104.129264 290.262518,104.423758 290.963694,104.423758 C291.174047,104.423758 291.3844,104.407981 291.594753,104.379934 L291.594753,106.481711 C291.033812,106.481711 290.402753,106.565852 289.815518,106.565852 C288.637541,106.565852 287.333353,106.385299 287.333353,104.393958 L287.333353,100.917875 L286.099282,100.917875 L286.099282,99.2087576 L287.333353,99.2087576 L287.333353,96.99304 L290.108259,96.99304 L290.108259,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-59"
              d="M297.176644,103.217909 C296.840079,103.386192 296.461444,103.482604 296.082808,103.566745 C295.465773,103.70698 295.143232,103.861239 295.143232,104.350309 C295.143232,104.688627 295.507844,105.025192 296.012691,105.025192 C296.643749,105.025192 297.134573,104.644804 297.176644,103.889286 L297.176644,103.217909 Z M299.839361,104.856909 C299.839361,105.402074 299.867408,106.020862 300.175926,106.481886 L297.344926,106.481886 C297.274808,106.285556 297.232738,105.991062 297.246761,105.796486 L297.218714,105.796486 C296.629726,106.467862 295.774291,106.665945 294.876785,106.665945 C293.476185,106.665945 292.313985,105.991062 292.313985,104.464251 C292.313985,102.164392 295.004749,102.248533 296.419373,101.983839 C296.798008,101.913721 297.176644,101.79978 297.176644,101.338756 C297.176644,100.847933 296.713867,100.665627 296.265114,100.665627 C295.409679,100.665627 295.241396,101.100356 295.229126,101.408874 L292.648796,101.408874 C292.690867,100.386909 293.195714,99.7838976 293.910914,99.4473329 C294.612091,99.1090153 295.535891,99.0248741 296.391326,99.0248741 C299.867408,99.0248741 299.839361,100.469298 299.839361,101.871651 L299.839361,104.856909 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-60"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="301.637353 106.482412 304.412259 106.482412 304.412259 96.4748706 301.637353 96.4748706"
            ></polygon>
            <path
              id="Fill-61"
              d="M306.321212,106.482412 L309.096118,106.482412 L309.096118,99.2094588 L306.321212,99.2094588 L306.321212,106.482412 Z M306.321212,98.4223882 L309.096118,98.4223882 L309.096118,96.4748706 L306.321212,96.4748706 L306.321212,98.4223882 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-62"
              d="M315.953098,102.026435 C315.953098,101.351553 315.448251,100.806388 314.733051,100.806388 C313.907415,100.806388 313.430615,101.241118 313.304404,102.026435 L315.953098,102.026435 Z M313.29038,103.467353 C313.360498,104.296494 313.835545,104.885482 314.706756,104.885482 C315.153756,104.885482 315.64458,104.7172 315.868956,104.364859 L318.461556,104.364859 C317.900615,105.935494 316.373804,106.664718 314.719027,106.664718 C312.392874,106.664718 310.641686,105.290412 310.641686,102.866094 C310.641686,100.748541 312.182521,99.0254 314.48238,99.0254 C317.369474,99.0254 318.615815,100.638106 318.615815,103.467353 L313.29038,103.467353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-63"
              d="M320.050422,99.2087576 L322.727164,99.2087576 L322.727164,100.132558 L322.755211,100.132558 C323.274081,99.4033341 324.017328,99.0264518 325.125187,99.0264518 C326.427622,99.0264518 327.619622,99.8257929 327.619622,101.49284 L327.619622,106.481711 L324.842964,106.481711 L324.842964,102.670816 C324.842964,101.829405 324.746552,101.240416 323.933187,101.240416 C323.456387,101.240416 322.825328,101.478816 322.825328,102.642769 L322.825328,106.481711 L320.050422,106.481711 L320.050422,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-64"
              d="M329.460035,106.482412 L332.234941,106.482412 L332.234941,99.2094588 L329.460035,99.2094588 L329.460035,106.482412 Z M329.460035,98.4223882 L332.234941,98.4223882 L332.234941,96.4748706 L329.460035,96.4748706 L329.460035,98.4223882 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-65"
              d="M338.293632,101.324558 C338.279608,101.086158 338.153396,100.903852 337.971091,100.77764 C337.802808,100.637405 337.578432,100.567287 337.354055,100.567287 C336.961396,100.567287 336.512644,100.651428 336.512644,101.129981 C336.512644,101.338581 336.682679,101.436746 336.835185,101.506864 C337.297961,101.703193 338.349726,101.759287 339.275279,102.067805 C340.199079,102.362299 341.012444,102.907464 341.012444,104.099464 C341.012444,106.117099 339.078949,106.665769 337.311985,106.665769 C335.602867,106.665769 333.725467,105.976864 333.681644,104.099464 L336.330338,104.099464 C336.346114,104.351887 336.458302,104.563993 336.666902,104.744546 C336.807138,104.870758 337.073585,104.953146 337.410149,104.953146 C337.774761,104.953146 338.349726,104.812911 338.349726,104.393958 C338.349726,103.975005 338.111326,103.84704 336.821161,103.624416 C334.705361,103.259805 333.849926,102.586675 333.849926,101.338581 C333.849926,99.5032518 335.827244,99.0246988 337.283938,99.0246988 C338.854573,99.0246988 340.745996,99.4611812 340.816114,101.324558 L338.293632,101.324558 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-66"
              d="M347.099532,101.968238 C347.071485,101.673744 346.97332,101.437096 346.791014,101.282838 C346.622732,101.128579 346.384332,101.044438 346.089838,101.044438 C345.024049,101.044438 344.871544,101.968238 344.871544,102.85172 C344.871544,103.735202 345.024049,104.644979 346.089838,104.644979 C346.692849,104.644979 347.113555,104.155908 347.169649,103.580944 L349.818344,103.580944 C349.692132,104.562591 349.229355,105.333885 348.557979,105.866779 C347.898873,106.385649 347.015391,106.66612 346.033744,106.66612 C343.847826,106.66612 342.096638,105.149826 342.096638,102.85172 C342.096638,100.553614 343.847826,99.0250494 346.033744,99.0250494 C347.939191,99.0250494 349.56592,99.9646259 349.734202,101.968238 L347.099532,101.968238 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-67"
              d="M351.238752,96.4748706 L354.013658,96.4748706 L354.013658,99.9930235 L354.041705,99.9930235 C354.518505,99.4320824 355.13554,99.0254 356.313516,99.0254 C357.615952,99.0254 358.806199,99.8247412 358.806199,101.491788 L358.806199,106.482412 L356.031293,106.482412 L356.031293,102.669765 C356.031293,101.830106 355.933128,101.241118 355.121516,101.241118 C354.642964,101.241118 354.013658,101.477765 354.013658,102.643471 L354.013658,106.482412 L351.238752,106.482412 L351.238752,96.4748706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-68"
              d="M365.594288,102.026435 C365.594288,101.351553 365.091194,100.806388 364.375994,100.806388 C363.548606,100.806388 363.073559,101.241118 362.945594,102.026435 L365.594288,102.026435 Z M362.931571,103.467353 C363.001688,104.296494 363.478488,104.885482 364.347947,104.885482 C364.7967,104.885482 365.285771,104.7172 365.5119,104.364859 L368.1045,104.364859 C367.541806,105.935494 366.014994,106.664718 364.361971,106.664718 C362.035818,106.664718 360.284629,105.290412 360.284629,102.866094 C360.284629,100.748541 361.825465,99.0254 364.123571,99.0254 C367.012418,99.0254 368.258759,100.638106 368.258759,103.467353 L362.931571,103.467353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-69"
              d="M373.898672,101.324558 C373.882895,101.086158 373.758436,100.903852 373.574378,100.77764 C373.407848,100.637405 373.185225,100.567287 372.959095,100.567287 C372.566436,100.567287 372.117684,100.651428 372.117684,101.129981 C372.117684,101.338581 372.287719,101.436746 372.441978,101.506864 C372.904754,101.703193 373.954766,101.759287 374.880319,102.067805 C375.804119,102.362299 376.617484,102.907464 376.617484,104.099464 C376.617484,106.117099 374.683989,106.665769 372.917025,106.665769 C371.207907,106.665769 369.330507,105.976864 369.286684,104.099464 L371.935378,104.099464 C371.951154,104.351887 372.061589,104.563993 372.271942,104.744546 C372.412178,104.870758 372.678625,104.953146 373.015189,104.953146 C373.379801,104.953146 373.954766,104.812911 373.954766,104.393958 C373.954766,103.975005 373.716366,103.84704 372.426201,103.624416 C370.310401,103.259805 369.456719,102.586675 369.456719,101.338581 C369.456719,99.5032518 371.432284,99.0246988 372.890731,99.0246988 C374.45786,99.0246988 376.351036,99.4611812 376.419401,101.324558 L373.898672,101.324558 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-70"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="383.086187 96.4748706 386.167858 96.4748706 386.167858 99.9229059 386.195905 99.9229059 388.944516 96.4748706 392.741387 96.4748706 389.112799 100.385682 393.330375 106.482412 389.489681 106.482412 387.023293 102.585624 386.167858 103.5252 386.167858 106.482412 383.086187 106.482412"
            ></polygon>
            <path
              id="Fill-71"
              d="M401.704351,106.482412 L399.027609,106.482412 L399.027609,105.556859 L398.999562,105.556859 C398.480692,106.286082 397.739198,106.664718 396.629586,106.664718 C395.327151,106.664718 394.136904,105.865376 394.136904,104.196576 L394.136904,99.2094588 L396.911809,99.2094588 L396.911809,103.0186 C396.911809,103.861765 397.009974,104.450753 397.821586,104.450753 C398.300139,104.450753 398.929445,104.2106 398.929445,103.0484 L398.929445,99.2094588 L401.704351,99.2094588 L401.704351,106.482412 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-72"
              d="M403.489721,99.2087576 L406.166462,99.2087576 L406.166462,100.132558 L406.196262,100.132558 C406.71338,99.4033341 407.456627,99.0264518 408.564486,99.0264518 C409.866921,99.0264518 411.057168,99.8257929 411.057168,101.49284 L411.057168,106.481711 L408.282262,106.481711 L408.282262,102.670816 C408.282262,101.829405 408.185851,101.240416 407.372486,101.240416 C406.893933,101.240416 406.264627,101.478816 406.264627,102.642769 L406.264627,106.481711 L403.489721,106.481711 L403.489721,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-73"
              d="M417.049422,101.324558 C417.033646,101.086158 416.909187,100.903852 416.725128,100.77764 C416.558599,100.637405 416.334222,100.567287 416.109846,100.567287 C415.717187,100.567287 415.268434,100.651428 415.268434,101.129981 C415.268434,101.338581 415.436716,101.436746 415.590975,101.506864 C416.053752,101.703193 417.103764,101.759287 418.029316,102.067805 C418.954869,102.362299 419.768234,102.907464 419.768234,104.099464 C419.768234,106.117099 417.832987,106.665769 416.066022,106.665769 C414.358658,106.665769 412.479505,105.976864 412.437434,104.099464 L415.086128,104.099464 C415.101905,104.351887 415.21234,104.563993 415.422693,104.744546 C415.562928,104.870758 415.829375,104.953146 416.16594,104.953146 C416.528799,104.953146 417.103764,104.812911 417.103764,104.393958 C417.103764,103.975005 416.867116,103.84704 415.576952,103.624416 C413.461152,103.259805 412.605716,102.586675 412.605716,101.338581 C412.605716,99.5032518 414.581281,99.0246988 416.039728,99.0246988 C417.608611,99.0246988 419.500034,99.4611812 419.570152,101.324558 L417.049422,101.324558 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-74"
              d="M424.494164,99.2087576 L425.980658,99.2087576 L425.980658,100.917875 L424.494164,100.917875 L424.494164,103.454381 C424.494164,104.129264 424.650175,104.423758 425.347846,104.423758 C425.559952,104.423758 425.770305,104.407981 425.980658,104.379934 L425.980658,106.481711 C425.419716,106.481711 424.788658,106.565852 424.201422,106.565852 C423.023446,106.565852 421.719258,106.385299 421.719258,104.393958 L421.719258,100.917875 L420.48694,100.917875 L420.48694,99.2087576 L421.719258,99.2087576 L421.719258,96.99304 L424.494164,96.99304 L424.494164,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-75"
              d="M430.706587,104.268973 C431.730305,104.268973 431.842493,103.285573 431.842493,102.475714 C431.842493,101.67462 431.449834,101.043561 430.638222,101.043561 C429.852905,101.043561 429.460246,101.716691 429.460246,102.487985 C429.460246,103.31362 429.712669,104.268973 430.706587,104.268973 L430.706587,104.268973 Z M434.547281,105.543361 C434.547281,106.987785 434.170399,109.019444 430.762681,109.019444 C429.03954,109.019444 427.218234,108.556667 426.964058,106.593373 L429.712669,106.593373 C429.740716,106.665244 429.809081,106.763408 429.866928,106.847549 C430.035211,107.09822 430.329705,107.378691 430.67854,107.378691 C431.576046,107.378691 431.770622,106.314655 431.770622,105.709891 L431.770622,105.038514 L431.744328,105.038514 C431.295575,105.683596 430.624199,106.048208 429.795058,106.048208 C427.652964,106.048208 426.683587,104.451279 426.683587,102.502008 C426.683587,100.608832 427.763399,99.0259259 429.838881,99.0259259 C430.652246,99.0259259 431.421787,99.3484671 431.744328,100.091714 L431.770622,100.091714 L431.770622,99.2082318 L434.547281,99.2082318 L434.547281,105.543361 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-76"
              d="M441.070151,105.922698 C440.845774,106.566027 440.595104,107.393415 440.158621,107.93858 C439.429398,108.850109 438.309268,108.836098 437.229456,108.836098 L435.969092,108.836098 L435.969092,106.622121 L436.612421,106.622121 C436.892892,106.622121 437.257504,106.650168 437.453833,106.552004 C437.622115,106.469615 437.72028,106.327627 437.72028,106.005086 C437.72028,105.656251 436.654492,102.977756 436.500233,102.557051 L435.266162,99.2089329 L438.239151,99.2089329 L439.403104,103.386192 L439.429398,103.386192 L440.607374,99.2089329 L443.480445,99.2089329 L441.070151,105.922698 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-77"
              d="M444.285045,99.2087576 L446.960033,99.2087576 L446.960033,100.174628 L446.989833,100.174628 C447.549021,99.3349694 448.362386,99.0264518 449.37208,99.0264518 C450.157398,99.0264518 450.997056,99.4313812 451.333621,100.160605 C451.445809,100.078216 452.006751,99.0264518 453.815786,99.0264518 C455.679162,99.0264518 456.308468,100.314864 456.308468,101.49284 L456.308468,106.481711 L453.533562,106.481711 L453.533562,102.542852 C453.533562,101.857452 453.463445,101.240416 452.623786,101.240416 C451.922609,101.240416 451.684209,101.787334 451.684209,102.542852 L451.684209,106.481711 L448.911056,106.481711 L448.911056,102.542852 C448.911056,101.857452 448.839186,101.240416 447.997774,101.240416 C447.298351,101.240416 447.058198,101.787334 447.058198,102.542852 L447.058198,106.481711 L444.285045,106.481711 L444.285045,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-78"
              d="M458.068947,99.2087576 L460.745688,99.2087576 L460.745688,100.132558 L460.775488,100.132558 C461.294359,99.4033341 462.037606,99.0264518 463.143712,99.0264518 C464.4479,99.0264518 465.638147,99.8257929 465.638147,101.49284 L465.638147,106.481711 L462.863241,106.481711 L462.863241,102.670816 C462.863241,101.829405 462.766829,101.240416 461.951712,101.240416 C461.474912,101.240416 460.845606,101.478816 460.845606,102.642769 L460.845606,106.481711 L458.068947,106.481711 L458.068947,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-79"
              d="M471.852674,103.217909 C471.517862,103.386192 471.137474,103.482604 470.758839,103.566745 C470.141804,103.70698 469.819262,103.861239 469.819262,104.350309 C469.819262,104.688627 470.185627,105.025192 470.688721,105.025192 C471.31978,105.025192 471.812356,104.644804 471.852674,103.889286 L471.852674,103.217909 Z M474.515392,104.856909 C474.515392,105.402074 474.543439,106.020862 474.851956,106.481886 L472.020956,106.481886 C471.950839,106.285556 471.907015,105.991062 471.922792,105.796486 L471.892992,105.796486 C471.305756,106.467862 470.450321,106.665945 469.552815,106.665945 C468.152215,106.665945 466.990015,105.991062 466.990015,104.464251 C466.990015,102.164392 469.68078,102.248533 471.095404,101.983839 C471.474039,101.913721 471.852674,101.79978 471.852674,101.338756 C471.852674,100.847933 471.389898,100.665627 470.941145,100.665627 C470.085709,100.665627 469.917427,101.100356 469.905156,101.408874 L467.32658,101.408874 C467.366898,100.386909 467.871745,99.7838976 468.586945,99.4473329 C469.288121,99.1090153 470.211921,99.0248741 471.069109,99.0248741 C474.543439,99.0248741 474.515392,100.469298 474.515392,101.871651 L474.515392,104.856909 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-80"
              d="M480.463296,101.324558 C480.449273,101.086158 480.324814,100.903852 480.140755,100.77764 C479.974226,100.637405 479.749849,100.567287 479.525473,100.567287 C479.132814,100.567287 478.684061,100.651428 478.684061,101.129981 C478.684061,101.338581 478.852344,101.436746 479.006602,101.506864 C479.469379,101.703193 480.519391,101.759287 481.444944,102.067805 C482.370496,102.362299 483.183861,102.907464 483.183861,104.099464 C483.183861,106.117099 481.248614,106.665769 479.481649,106.665769 C477.772532,106.665769 475.895132,105.976864 475.853061,104.099464 L478.501755,104.099464 C478.515779,104.351887 478.627967,104.563993 478.83832,104.744546 C478.978555,104.870758 479.245002,104.953146 479.581567,104.953146 C479.944426,104.953146 480.519391,104.812911 480.519391,104.393958 C480.519391,103.975005 480.280991,103.84704 478.992579,103.624416 C476.875026,103.259805 476.021344,102.586675 476.021344,101.338581 C476.021344,99.5032518 477.996908,99.0246988 479.455355,99.0246988 C481.024238,99.0246988 482.915661,99.4611812 482.985779,101.324558 L480.463296,101.324558 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-81"
              d="M484.630388,106.482412 L487.405294,106.482412 L487.405294,99.2094588 L484.630388,99.2094588 L484.630388,106.482412 Z M484.630388,98.4223882 L487.405294,98.4223882 L487.405294,96.4748706 L484.630388,96.4748706 L484.630388,98.4223882 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-82"
              d="M496.825249,106.482412 L494.150261,106.482412 L494.150261,105.556859 L494.120461,105.556859 C493.601591,106.286082 492.858344,106.664718 491.752238,106.664718 C490.448049,106.664718 489.257802,105.865376 489.257802,104.196576 L489.257802,99.2094588 L492.032708,99.2094588 L492.032708,103.0186 C492.032708,103.861765 492.130873,104.450753 492.942485,104.450753 C493.421038,104.450753 494.050344,104.2106 494.050344,103.0484 L494.050344,99.2094588 L496.825249,99.2094588 L496.825249,106.482412 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-83"
              d="M498.597122,99.2087576 L501.273864,99.2087576 L501.273864,100.174628 L501.301911,100.174628 C501.862852,99.3349694 502.674464,99.0264518 503.684158,99.0264518 C504.469475,99.0264518 505.310887,99.4313812 505.645699,100.160605 C505.75964,100.078216 506.318828,99.0264518 508.127864,99.0264518 C509.99124,99.0264518 510.622299,100.314864 510.622299,101.49284 L510.622299,106.481711 L507.847393,106.481711 L507.847393,102.542852 C507.847393,101.857452 507.777275,101.240416 506.937616,101.240416 C506.234687,101.240416 505.99804,101.787334 505.99804,102.542852 L505.99804,106.481711 L503.223134,106.481711 L503.223134,102.542852 C503.223134,101.857452 503.153016,101.240416 502.311605,101.240416 C501.610428,101.240416 501.372028,101.787334 501.372028,102.542852 L501.372028,106.481711 L498.597122,106.481711 L498.597122,99.2087576 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-84"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="283.355929 42.1336941 291.093412 42.1336941 291.093412 44.6982471 286.439353 44.6982471 286.439353 45.9463412 290.434306 45.9463412 290.434306 48.3285882 286.439353 48.3285882 286.439353 52.1412353 283.355929 52.1412353"
            ></polygon>
            <path
              id="Fill-85"
              d="M292.331164,44.8667047 L294.993881,44.8667047 L294.993881,46.0306576 L295.021928,46.0306576 C295.470681,45.1611988 296.059669,44.6843988 297.069364,44.6843988 C297.349834,44.6843988 297.616281,44.7264694 297.882728,44.7965871 L297.882728,47.2489518 C297.600505,47.1507871 297.349834,47.0666459 296.78714,47.0666459 C295.695058,47.0666459 295.106069,47.7134812 295.106069,49.26834 L295.106069,52.1414106 L292.331164,52.1414106 L292.331164,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-86"
              d="M303.943522,47.6843824 C303.943522,47.0112529 303.438675,46.4643353 302.725228,46.4643353 C301.89784,46.4643353 301.42104,46.8990647 301.294828,47.6843824 L303.943522,47.6843824 Z M301.280805,49.1270529 C301.350922,49.9544412 301.827722,50.5434294 302.697181,50.5434294 C303.144181,50.5434294 303.635005,50.3751471 303.859381,50.0245588 L306.451981,50.0245588 C305.89104,51.5934412 304.364228,52.3226647 302.709452,52.3226647 C300.383299,52.3226647 298.632111,50.9501118 298.632111,48.5240412 C298.632111,46.4082412 300.172946,44.6851 302.472805,44.6851 C305.359899,44.6851 306.60624,46.2960529 306.60624,49.1270529 L301.280805,49.1270529 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-87"
              d="M315.596199,52.1412353 L312.919458,52.1412353 L312.919458,51.2156824 L312.891411,51.2156824 C312.37254,51.9449059 311.629293,52.3235412 310.521434,52.3235412 C309.218999,52.3235412 308.026999,51.5242 308.026999,49.8571529 L308.026999,44.8665294 L310.803658,44.8665294 L310.803658,48.6791765 C310.803658,49.5205882 310.900069,50.1095765 311.713434,50.1095765 C312.190234,50.1095765 312.821293,49.8711765 312.821293,48.7072235 L312.821293,44.8665294 L315.596199,44.8665294 L315.596199,52.1412353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-88"
              d="M321.039958,46.7027353 C320.044287,46.7027353 319.819911,47.6423118 319.819911,48.4959941 C319.819911,49.3672059 320.044287,50.3050294 321.039958,50.3050294 C322.033875,50.3050294 322.258252,49.3672059 322.258252,48.4959941 C322.258252,47.6423118 322.033875,46.7027353 321.039958,46.7027353 L321.039958,46.7027353 Z M324.936746,52.1421118 L322.258252,52.1421118 L322.258252,51.3427706 L322.230205,51.3427706 C321.879616,51.8055471 321.460664,52.3244176 320.100381,52.3244176 C318.040675,52.3244176 317.045005,50.2910059 317.045005,48.4697 C317.045005,46.7588294 317.704111,44.6851 320.142452,44.6851 C320.96984,44.6851 321.713087,45.0497118 322.133793,45.6667471 L322.16184,45.6667471 L322.16184,42.1345706 L324.936746,42.1345706 L324.936746,52.1421118 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-89"
              d="M331.710812,47.6843824 C331.710812,47.0112529 331.205965,46.4643353 330.490765,46.4643353 C329.665129,46.4643353 329.188329,46.8990647 329.062118,47.6843824 L331.710812,47.6843824 Z M329.048094,49.1270529 C329.118212,49.9544412 329.593259,50.5434294 330.464471,50.5434294 C330.911471,50.5434294 331.402294,50.3751471 331.626671,50.0245588 L334.219271,50.0245588 C333.658329,51.5934412 332.131518,52.3226647 330.476741,52.3226647 C328.150588,52.3226647 326.3994,50.9501118 326.3994,48.5240412 C326.3994,46.4082412 327.940235,44.6851 330.240094,44.6851 C333.127188,44.6851 334.373529,46.2960529 334.373529,49.1270529 L329.048094,49.1270529 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-90"
              d="M335.794288,44.8667047 L338.471029,44.8667047 L338.471029,45.7922576 L338.499076,45.7922576 C339.017947,45.0630341 339.761194,44.6843988 340.869053,44.6843988 C342.171488,44.6843988 343.363488,45.48374 343.363488,47.1507871 L343.363488,52.1414106 L340.586829,52.1414106 L340.586829,48.3287635 C340.586829,47.4891047 340.490418,46.9001165 339.677053,46.9001165 C339.200253,46.9001165 338.569194,47.1367635 338.569194,48.3007165 L338.569194,52.1414106 L335.794288,52.1414106 L335.794288,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-91"
              d="M349.030396,46.7027353 C348.036479,46.7027353 347.812102,47.6423118 347.812102,48.4959941 C347.812102,49.3672059 348.036479,50.3050294 349.030396,50.3050294 C350.026067,50.3050294 350.248691,49.3672059 350.248691,48.4959941 C350.248691,47.6423118 350.026067,46.7027353 349.030396,46.7027353 L349.030396,46.7027353 Z M345.133608,42.1345706 L347.908514,42.1345706 L347.908514,45.6667471 L347.936561,45.6667471 C348.357267,45.0497118 349.100514,44.6851 349.927902,44.6851 C352.366244,44.6851 353.025349,46.7588294 353.025349,48.4697 C353.025349,50.2910059 352.029679,52.3244176 349.969973,52.3244176 C348.609691,52.3244176 348.190738,51.8055471 347.840149,51.3427706 L347.812102,51.3427706 L347.812102,52.1421118 L345.133608,52.1421118 L345.133608,42.1345706 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-92"
              d="M359.476173,47.6843824 C359.476173,47.0112529 358.973079,46.4643353 358.257879,46.4643353 C357.430491,46.4643353 356.955444,46.8990647 356.827479,47.6843824 L359.476173,47.6843824 Z M356.813455,49.1270529 C356.883573,49.9544412 357.360373,50.5434294 358.229832,50.5434294 C358.678585,50.5434294 359.167655,50.3751471 359.393785,50.0245588 L361.986385,50.0245588 C361.423691,51.5934412 359.896879,52.3226647 358.243855,52.3226647 C355.917702,52.3226647 354.166514,50.9501118 354.166514,48.5240412 C354.166514,46.4082412 355.707349,44.6851 358.005455,44.6851 C360.894302,44.6851 362.140644,46.2960529 362.140644,49.1270529 L356.813455,49.1270529 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-93"
              d="M363.560701,44.8667047 L366.225172,44.8667047 L366.225172,46.0306576 L366.251466,46.0306576 C366.700219,45.1611988 367.289207,44.6843988 368.298901,44.6843988 C368.577619,44.6843988 368.845819,44.7264694 369.110513,44.7965871 L369.110513,47.2489518 C368.830042,47.1507871 368.577619,47.0666459 368.018431,47.0666459 C366.924595,47.0666459 366.335607,47.7134812 366.335607,49.26834 L366.335607,52.1414106 L363.560701,52.1414106 L363.560701,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-94"
              d="M373.850641,49.92692 C374.872606,49.92692 374.984794,48.9452729 374.984794,48.1336612 C374.984794,47.33432 374.593888,46.7032612 373.780524,46.7032612 C372.996959,46.7032612 372.602547,47.3746376 372.602547,48.1459318 C372.602547,48.97332 372.856724,49.92692 373.850641,49.92692 L373.850641,49.92692 Z M377.689582,51.2030612 C377.689582,52.6457318 377.3127,54.6773906 373.906735,54.6773906 C372.181841,54.6773906 370.360535,54.2163671 370.108112,52.2530729 L372.856724,52.2530729 C372.883018,52.3231906 372.953135,52.4213553 373.010982,52.5054965 C373.177512,52.75792 373.472006,53.0383906 373.820841,53.0383906 C374.718347,53.0383906 374.914676,51.9726024 374.914676,51.3695906 L374.914676,50.6964612 L374.888382,50.6964612 C374.439629,51.3432965 373.7665,51.7061553 372.939112,51.7061553 C370.795265,51.7061553 369.827641,50.1092259 369.827641,48.1617082 C369.827641,46.2685318 370.907453,44.6838729 372.982935,44.6838729 C373.794547,44.6838729 374.564088,45.0064141 374.888382,45.7496612 L374.914676,45.7496612 L374.914676,44.8661788 L377.689582,44.8661788 L377.689582,51.2030612 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <polygon
              id="Fill-95"
              fill="#FFFFFF"
              mask="url(#mask-5)"
              points="383.373669 49.7309412 388.025975 44.6982471 383.638364 44.6982471 383.638364 42.1336941 392.091046 42.1336941 392.091046 44.3757059 387.396669 49.5766824 392.315422 49.5766824 392.315422 52.1412353 383.373669 52.1412353"
            ></polygon>
            <path
              id="Fill-96"
              d="M397.842271,44.0969882 L400.224518,44.0969882 L400.224518,42.2739294 L397.842271,42.2739294 L397.842271,44.0969882 Z M394.662435,44.0969882 L397.044682,44.0969882 L397.044682,42.2739294 L394.662435,42.2739294 L394.662435,44.0969882 Z M401.221941,52.1412353 L398.543447,52.1412353 L398.543447,51.2156824 L398.5154,51.2156824 C397.996529,51.9449059 397.253282,52.3235412 396.147176,52.3235412 C394.842988,52.3235412 393.650988,51.5242 393.650988,49.8571529 L393.650988,44.8665294 L396.425894,44.8665294 L396.425894,48.6791765 C396.425894,49.5205882 396.524059,50.1095765 397.339176,50.1095765 C397.814224,50.1095765 398.445282,49.8711765 398.445282,48.7072235 L398.445282,44.8665294 L401.221941,44.8665294 L401.221941,52.1412353 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-97"
              d="M402.991535,44.8667047 L405.656006,44.8667047 L405.656006,46.0306576 L405.6823,46.0306576 C406.131053,45.1611988 406.720041,44.6843988 407.729735,44.6843988 C408.008453,44.6843988 408.276653,44.7264694 408.541347,44.7965871 L408.541347,47.2489518 C408.260876,47.1507871 408.008453,47.0666459 407.449265,47.0666459 C406.355429,47.0666459 405.766441,47.7134812 405.766441,49.26834 L405.766441,52.1414106 L402.991535,52.1414106 L402.991535,44.8667047 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-98"
              d="M409.527376,52.1412353 L412.300529,52.1412353 L412.300529,44.8665294 L409.527376,44.8665294 L409.527376,52.1412353 Z M409.527376,44.0812118 L412.300529,44.0812118 L412.300529,42.1336941 L409.527376,42.1336941 L409.527376,44.0812118 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-99"
              d="M418.836546,47.6279376 C418.806746,47.3334435 418.710334,47.0950435 418.528028,46.9407847 C418.359746,46.7882788 418.121346,46.7023847 417.826852,46.7023847 C416.761064,46.7023847 416.608558,47.6279376 416.608558,48.51142 C416.608558,49.3931494 416.761064,50.3046788 417.826852,50.3046788 C418.429864,50.3046788 418.850569,49.8156082 418.904911,49.2388906 L421.555358,49.2388906 C421.429146,50.2205376 420.966369,50.9918318 420.29324,51.5247259 C419.634134,52.0435965 418.750652,52.3240671 417.770758,52.3240671 C415.58484,52.3240671 413.831899,50.8095259 413.831899,48.51142 C413.831899,46.2115612 415.58484,44.6847494 417.770758,44.6847494 C419.676205,44.6847494 421.301181,45.6243259 421.469464,47.6279376 L418.836546,47.6279376 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
            <path
              id="Fill-100"
              d="M422.962093,42.1336941 L425.736999,42.1336941 L425.736999,45.6518471 L425.765046,45.6518471 C426.241846,45.0909059 426.858881,44.6842235 428.036858,44.6842235 C429.339293,44.6842235 430.52954,45.4835647 430.52954,47.1506118 L430.52954,52.1412353 L427.754634,52.1412353 L427.754634,48.3285882 C427.754634,47.4889294 427.656469,46.8999412 426.844858,46.8999412 C426.366305,46.8999412 425.736999,47.1365882 425.736999,48.3005412 L425.736999,52.1412353 L422.962093,52.1412353 L422.962093,42.1336941 Z"
              fill="#FFFFFF"
              mask="url(#mask-5)"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<style lang="scss">
.logo {
  width: 254px;
  @media screen and (min-width: $lg) {
    width: 510px;
  }
}
</style>
