<template>
  <svg
    width="502px"
    height="146px"
    viewBox="0 0 502 146"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <title>Liceo Logo Weiss</title>
    <defs>
      <filter id="filter-1" color-interpolation-filters="auto">
        <feColorMatrix
          in="SourceGraphic"
          type="matrix"
          values="0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 0 1.000000 0 0 0 1.000000 0"
        ></feColorMatrix>
      </filter>
      <polygon id="path-2" points="0 0 109 0 109 146 0 146"></polygon>
      <polygon id="path-4" points="0 146 502 146 502 0 0 0"></polygon>
    </defs>
    <g
      id="Layout"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g id="06-Kontakt" transform="translate(-112.000000, -2628.000000)">
        <g
          id="Group-101-Copy"
          transform="translate(12.000000, 2603.000000)"
          filter="url(#filter-1)"
        >
          <g transform="translate(100.000000, 25.000000)">
            <g id="Group-3">
              <mask id="mask-3" fill="white">
                <use xlink:href="#path-2"></use>
              </mask>
              <g id="Clip-2"></g>
              <path
                id="Fill-1"
                d="M39.9578898,143.026372 C40.4815933,143.186041 41.05181,143.503663 41.323998,143.919147 C41.987241,143.125951 42.898554,141.273442 42.5023309,139.561713 C41.2550896,139.558283 40.1008746,141.503503 39.9578898,143.026372 M43.1552376,137.760715 C43.6307053,138.682677 43.8856662,140.29654 43.7530176,141.283743 C43.928734,141.302629 44.147518,141.373021 44.3421841,141.455431 C44.7297936,140.500848 45.1277394,138.1865 44.2646622,136.658481 C43.8615483,136.725439 43.2672137,137.158092 43.1552376,137.760715 M46.225105,138.92304 C46.7350269,137.434509 46.5834285,135.630072 46.0528341,134.92272 C45.9184628,134.745882 45.1449665,135.175101 45.0105952,135.710766 C45.4343816,136.43357 45.846109,137.927252 45.7995959,138.842346 C45.9339672,138.842346 46.089011,138.864666 46.225105,138.92304 M81.7094642,136.864506 C82.4037159,136.97782 83.0617907,137.25767 83.4442321,137.501467 C83.7853285,136.938332 84.6432375,134.660038 84.1505428,133.408436 C82.7396441,133.544069 81.687069,135.863568 81.7094642,136.864506 M84.9412662,131.901019 C85.2909761,132.527679 85.5752231,133.762112 85.5976183,134.545007 C85.7819482,134.553592 86.0179593,134.553592 86.1867848,134.605098 C86.6949839,133.085663 86.5261584,131.228004 86.0179593,130.551555 C85.7095944,130.45541 85.1738319,131.257191 84.9412662,131.901019 M87.8164674,130.803936 C87.9835702,129.948932 87.8164674,128.357388 87.363395,127.771934 C87.0429711,127.571059 86.6691433,128.175399 86.5054859,128.89477 C86.8741456,129.430435 87.3168818,130.256252 87.4116308,130.803936 C87.5477248,130.786767 87.6717599,130.78505 87.8164674,130.803936 M55.2193685,86.4364413 C53.2399759,87.1609627 50.7609977,88.83835 50.6886439,89.307057 C50.5198184,90.3972728 50.4543555,91.9647801 50.4543555,93.137406 C51.7446645,92.3905652 52.1116015,91.0548361 53.5638452,89.913114 C56.1806401,87.8580141 57.4519993,87.5609947 57.3124599,87.2622583 C57.0109858,86.7145751 55.7861397,86.4364413 55.2193685,86.4364413 M83.5803261,124.990596 C79.6301545,124.588847 75.8264131,128.118743 73.3388213,126.556386 C72.2035561,125.843883 70.6875722,124.212851 69.5781477,122.597271 C68.8804505,121.579164 66.9148396,118.657042 67.0957241,117.480982 C67.1680778,116.99339 67.9519104,116.632846 69.3283549,115.76239 C71.736702,114.239522 73.8987017,112.720087 75.9022123,111.107941 C78.3415682,109.143835 82.095351,106.178792 82.1315279,102.331274 C82.1573685,99.6804182 80.4019281,96.8012181 79.0306517,95.0311196 C76.6188592,91.9184245 72.4722987,88.9585312 68.5186817,86.7128582 C66.7804683,85.7273717 63.5331619,84.0396832 61.5089789,83.2379024 C59.5175273,84.3555883 58.5373059,84.6560415 56.8490512,85.5608348 C58.0859562,86.053578 59.1023545,86.8519251 58.9025202,87.5318078 C58.7767625,87.9541591 58.4632295,88.0451535 56.9851452,89.0272063 C56.1186226,89.6023595 55.0591565,90.4350441 54.5664618,90.8848655 C53.475987,91.884087 52.8799297,92.9914716 51.9531123,94.088555 C51.3897865,94.7547026 51.0349084,95.0019327 50.4681372,95.4260009 C50.462969,95.9822686 50.4319603,96.4887468 50.3992288,97.1926657 C56.8490512,97.3746545 62.6838664,99.2357475 65.4970501,102.832601 C65.8984413,103.34423 66.522062,104.233572 66.7735775,104.899719 C68.0380459,108.256211 65.8915505,110.991193 64.0878742,112.177554 C62.2945342,113.358765 58.2099912,114.076419 57.0609444,115.159767 C56.1737492,115.995885 56.0927819,117.503302 55.038484,118.80641 C54.5647391,119.391865 54.0048587,119.745541 53.3416157,120.123254 C53.7033846,120.80142 55.0815518,121.395458 56.0652186,121.292446 C56.44766,120.919884 56.8301014,120.667503 57.2246017,120.068314 C57.5260758,119.615059 57.7930957,118.885387 57.7707005,118.078455 C57.7655323,117.879298 58.0497793,117.657821 58.1772598,118.327402 C58.8181075,121.665008 54.926508,122.053022 55.6259278,125.792376 C56.340852,125.313368 57.4847308,124.746799 58.7078541,125.052403 C59.016219,124.401707 59.4537871,124.020561 59.8086652,123.462576 C60.0222811,123.127786 60.2737966,122.605856 60.2410651,121.651273 C60.2324516,121.404043 60.561489,121.314765 60.6958603,122.159468 C61.0800244,124.56481 58.525247,125.177735 59.5812676,128.982331 C60.2703512,128.391726 61.2815813,128.129044 62.2549119,128.156514 C62.5115955,127.619132 63.1283253,127.064581 62.9801724,125.859335 C62.9474409,125.591502 63.2334106,125.320236 63.4470265,126.214728 C63.8708129,127.998561 62.3617198,128.66986 63.1369389,131.025413 C65.8278103,129.938631 66.5151711,131.875266 67.7072857,133.406719 C68.3877558,134.282325 69.2870099,135.666127 69.9950432,136.206943 C71.8021649,137.590744 76.8600384,136.399233 80.6965113,136.802698 C80.9445814,134.725279 82.2934625,132.869337 83.9369269,132.477889 C83.1599851,129.902576 79.7490214,129.296519 78.0693801,131.015111 C77.8144192,131.27436 77.9711857,130.587609 78.472494,130.166975 C80.0849496,128.810643 82.9756553,129.229561 84.403781,131.08722 C84.6897507,130.386735 85.2427402,129.765226 85.6648039,129.748057 C84.4554623,127.184762 80.9342451,126.61991 78.9979203,128.185701 C78.8463219,128.311033 78.7963633,127.969374 79.3338485,127.500667 C80.8291599,126.194125 84.0299531,126.288553 85.9163195,128.29043 C86.0472453,127.560758 86.4262413,127.018225 86.80696,127.018225 C86.2867019,126.178673 84.8620216,125.121078 83.5803261,124.990596 M104.874732,69.9939254 C103.651608,70.8163087 103.648163,72.7495105 103.860056,73.9787933 C104.509517,73.8620457 105.043557,73.886082 105.610328,74.0612033 C106.001383,72.783848 105.606883,70.7373325 104.874732,69.9939254 M107.164212,70.8970019 C107.193498,69.434224 106.395884,67.3980098 105.531084,66.6528859 C105.10902,66.719844 105.024607,67.7070474 105.07112,68.3628938 C105.894575,69.0736802 106.442397,70.1123898 106.705971,70.9759782 C106.862738,70.9399238 107.038454,70.9021525 107.164212,70.8970019 M105.879071,65.5781219 C106.468237,66.1910464 107.071185,67.0872553 107.357155,67.8735843 C107.453627,67.8478312 107.617284,67.808343 107.724092,67.808343 C107.794723,66.7679165 107.145262,64.9136911 106.287353,64.1754346 C105.91697,64.074139 105.782599,65.1025474 105.879071,65.5781219 M100.9883,31.0363054 C100.159677,29.7520826 98.4490271,29.2593394 97.5583866,29.3451831 C97.2465763,30.600219 98.8779817,32.047545 99.9736246,32.4527276 C100.32678,31.6526637 100.674767,31.2509148 100.9883,31.0363054 M98.8211323,27.7914109 C98.0407451,27.0359857 96.0303438,26.1037223 94.5867137,26.5792968 C94.4695694,27.1647513 95.2826881,27.9493634 95.8701318,28.299606 C96.5764425,28.0317734 97.5756137,27.9184597 98.6488614,28.1639728 C98.6936518,28.0523759 98.7487785,27.9373453 98.8211323,27.7914109 M90.8070902,31.7110374 C90.2713277,30.243109 90.3660767,29.1511762 90.9535205,27.8841221 C91.2394901,27.266047 91.897565,26.563845 92.3420239,26.2307711 C91.5668048,26.0573667 91.2739443,25.6556179 91.1740272,25.3053753 C86.9516675,27.5561989 89.1515669,31.9187794 88.7191669,35.8006347 C88.4487016,38.2145615 85.3719434,39.0781498 83.3460377,40.3400533 C81.6061016,41.4268354 79.8971743,42.5960276 78.6947235,43.8218766 C80.8739503,48.9639185 79.3820844,50.0936225 81.8145494,52.5762243 C81.402822,53.0724013 80.6224348,53.4174933 80.0504954,53.4226439 C80.017764,55.599642 79.8230979,57.5723318 79.259772,59.5192685 C81.0410531,58.7981808 82.3640936,59.994843 83.847346,58.5543845 C82.4829605,57.5191087 82.4261111,55.599642 82.775821,54.5283117 C82.9791007,53.9085197 83.2443979,53.9857791 83.2443979,54.1557497 C83.2426751,54.4682211 83.2840202,54.7515055 83.3546512,54.9540968 C84.1470974,55.1566881 85.8250159,55.2373812 86.9361632,54.5111429 C85.0394606,51.2748328 88.6709311,48.4282533 91.4220973,46.6375523 C93.3274134,45.3979682 96.0785796,44.0279017 97.4395197,42.1942787 C99.2742047,39.7271287 98.3732279,37.0436525 99.5515609,33.3884247 C98.1665029,32.6948071 96.3318178,31.3298911 96.5333748,29.3709363 C95.0776857,29.5546419 93.3670357,31.3556442 94.3041894,34.4013812 C94.4609559,34.928462 94.1388093,34.7756601 93.8321671,34.2829168 C92.6400525,32.0509788 93.7046867,29.4997019 95.0621813,28.7528611 C94.300744,28.2669854 93.6650644,27.3158364 93.744309,26.811075 C91.5340734,27.6094221 90.8346535,29.5220213 91.3118439,32.0595632 C91.3876431,32.433842 91.0741101,32.447577 90.8070902,31.7110374 M95.4187821,24.8298008 C94.6366722,24.4589557 93.1499744,24.2649488 92.1335761,24.8486864 C91.8010933,25.1405552 92.2197115,25.544021 93.1775377,25.7397448 C93.9200253,25.3877853 94.7107487,25.2418509 95.36021,25.2195315 C95.36021,25.0632958 95.3791598,25.0049221 95.4187821,24.8298008 M68.1362403,21.1453861 C68.0535502,21.1041811 67.98981,21.2930374 67.8623295,21.4904781 C67.6831678,21.7651782 67.3816937,22.1840958 66.9544619,22.553224 C67.3644667,22.525754 68.1655263,22.5824109 68.5376315,22.6665378 C68.5841446,22.1171376 68.2585526,21.2037599 68.1362403,21.1453861 M59.827615,22.5154527 C60.3340914,24.2014244 63.3471094,22.6012965 65.7020525,22.4381933 C66.4428174,21.8304194 67.0164794,21.2140612 67.3282898,20.6715285 C64.4548112,20.0980921 61.2815813,20.4706541 59.827615,22.5154527 M68.7512474,17.0987108 C68.9820904,17.6309422 69.1354115,18.2284148 69.1698656,18.4498917 C69.2043198,18.6816699 69.1905382,18.887695 69.3162959,18.8258875 C69.7263006,18.6215793 70.4257205,17.6961834 70.541142,17.0557889 C70.0501699,17.1416327 69.1715884,17.1261808 68.7512474,17.0987108 M59.2815162,20.9221923 C61.2591861,19.2860101 64.1223284,18.6713687 68.3222928,19.3873057 C68.2878387,18.6713687 67.8847248,17.6292253 67.5470738,17.1296146 C63.3402185,16.4377138 59.3676517,16.3724725 59.2815162,20.9221923 M47.024442,1.73954334 C40.7313861,1.54725329 38.5401003,2.53445666 34.6760641,2.69755982 C33.9335766,2.67867419 33.3409647,2.47951664 33.1135671,2.37650412 C32.9275145,2.80228922 32.8586062,3.87533635 33.1049536,4.38696523 C30.9791307,5.65230241 30.7310606,8.12975363 27.9316585,7.67993227 C27.7524968,8.44565871 28.2245191,9.48951896 28.7620043,9.88096655 C29.047974,9.76936965 29.6388631,9.5633446 29.551005,9.8500628 C28.4191852,13.0434511 28.6448601,14.4100839 28.3588904,16.0187962 C28.1883422,16.9819633 26.8153431,17.8661541 25.5629337,18.1116673 C25.4733529,18.9598037 26.0177289,20.2371591 27.2063981,20.4517685 C27.9213223,19.0044425 28.9790656,18.7812487 28.7947357,19.2242026 C28.4898162,19.9607421 28.2400235,21.270718 28.2176282,22.2115658 C28.141829,25.3671828 28.9480568,28.5622879 29.9575643,30.9023891 C31.9248979,35.4641271 34.3659765,39.1073367 30.9739626,41.2431297 C31.4166988,42.300725 33.6079846,43.0389814 35.2290537,42.3917194 C35.9026329,40.633639 35.4771238,39.3150787 35.3875429,38.8772754 C35.3565342,38.7261904 35.5064098,38.6918529 35.6752353,38.827486 C36.6640703,39.65502 36.719197,41.2843348 36.529699,42.5788588 C36.0301134,46.0091759 33.0911719,50.2481413 35.120523,54.234726 C35.7269166,53.683609 36.6640703,53.2320708 37.5150885,53.0449313 C37.6546279,50.9623615 38.3127027,49.4927161 39.5237671,48.6171096 C40.2352459,48.1037639 40.3575583,48.4282533 40.1646149,48.6445796 C38.6710262,50.4610338 38.772666,53.8793328 39.1723345,56.949106 C39.6719201,60.781172 38.4574103,63.0354294 37.3031953,63.6397695 C38.7244302,64.5325447 41.0845415,63.9900121 42.2990513,63.3599188 C43.1879691,62.8997962 44.5695817,61.7529234 45.0950079,60.7039126 C43.7512949,58.4067333 43.6651595,56.2589221 44.0062559,54.8751205 C44.2870574,53.738549 44.9244597,53.3436677 44.8055928,53.8913509 C43.9476838,58.7243552 48.5610984,60.9425582 48.4577358,65.6502306 C50.8505786,64.8656186 51.8928175,61.9898522 51.6998741,59.2857735 C51.7394964,58.920079 52.0289115,59.1037847 52.1615601,59.471196 C53.5190547,63.3221476 51.0573036,68.6942507 46.4869568,68.2238269 C47.1260818,65.9489669 46.3767034,63.2775088 45.7151831,61.979551 C45.1294621,63.1813638 44.0183148,64.1926034 42.9588488,64.7866423 C42.8175867,65.9867382 42.5471214,67.037466 42.3369509,67.9113555 C41.5824044,71.0669726 40.2576412,73.2680068 38.2868621,75.2801848 C33.978367,79.6805365 32.3831385,80.0359297 29.5665093,84.111792 C28.953225,84.7418852 27.0909766,85.7462573 26.0160062,86.1686087 C17.4868741,89.5199495 10.3410773,84.965079 10.9078486,75.8467537 C11.1369689,72.1863753 13.0560667,67.3636723 14.5841095,63.8818489 C19.0528166,53.6921934 23.2579491,45.1696238 23.7954343,37.3990457 C24.2364478,31.0071185 21.4801135,24.6375107 14.8132298,24.5688357 C10.284228,24.524197 5.91888345,28.2274972 5.82413445,35.6564171 C5.76728506,40.0361663 5.86892489,43.3428684 3.98600399,46.3302316 C3.58461281,46.9689092 3.38650127,47.2830974 2.84557066,47.9835826 C5.43997036,48.4145183 8.18252302,46.9500236 10.0085945,44.8657369 C10.1843108,45.1730576 10.4633897,45.6640839 10.5805339,46.1413753 C12.5013544,44.3077524 12.8079966,40.9237909 12.0982405,38.2385978 C13.3506499,38.5991416 14.4773016,37.8385658 14.9234832,36.7809705 C12.0327775,36.3998242 10.0981754,33.6631248 10.5546933,30.6637434 C10.8234359,28.8884943 12.3979918,26.9501419 14.5289828,26.6994781 C20.0898874,26.0470655 21.7212927,31.6663987 21.6437708,36.99558 C21.5455764,43.7532016 17.4524199,51.2181759 13.8261176,58.7895965 C10.9061259,64.8862211 7.59680197,71.0738401 7.25915102,76.863144 C6.88532317,83.2894086 9.83460091,94.7667208 25.8712986,92.2806852 C26.5138691,90.4144416 27.3063152,89.6882033 27.7852283,89.9028127 C27.9402721,89.981789 27.8265733,90.2770916 27.7369924,90.8797148 C27.4458546,92.8558384 27.3511056,94.0902719 27.4458546,96.2037455 C27.6370753,100.362018 29.4528106,104.515139 29.6664265,107.521388 C30.0040774,112.282284 27.5388809,112.824816 23.6386678,113.26777 C22.0003716,113.451476 19.559293,113.391385 18.0691497,114.103889 C17.2009044,114.517656 16.6324105,116.665467 15.7865604,117.743664 C14.9527692,118.808127 13.8071678,119.342075 12.4169416,119.609908 C12.8390053,120.679521 14.2860809,121.452115 15.8571914,121.491603 C16.4274081,121.069252 17.049306,120.061446 17.3128805,118.851049 C17.3680072,118.598668 17.6763721,118.42183 17.6436406,119.354094 C17.5592279,121.857298 15.2439071,124.585413 12.6581209,124.973427 C13.1232523,126.168372 14.9562147,127.069732 16.3877858,126.903195 C17.5075466,126.305722 18.3981872,125.242976 18.8064692,123.733843 C18.9132771,123.306341 19.1871879,123.496914 19.1716835,124.063483 C19.138952,125.553731 18.3654557,126.770995 17.3507801,127.704976 C16.3343818,128.637239 15.676307,129.876823 16.0070671,131.332733 C16.6772009,130.997943 17.972678,130.927551 18.9460086,131.140443 C19.4387034,130.682038 20.1312324,129.91116 20.3310666,128.798625 C20.3965296,128.429497 20.7772482,128.508473 20.7117853,129.378929 C20.5550188,131.456348 18.8426461,132.402347 19.2802141,134.366452 C23.359589,132.421232 23.8074933,139.647561 26.9824459,141.826276 C29.6147452,143.634146 34.493457,142.54908 38.9311553,142.868419 C39.2481337,140.923199 40.495375,138.92819 42.2249748,138.562496 C41.4859326,135.781158 38.2506852,135.882453 36.7691555,136.84562 C36.4470089,137.056796 36.5400352,136.632728 36.9035268,136.332275 C38.702035,134.998262 41.3050482,135.406879 42.5471214,136.945199 C42.8520409,136.382064 43.4515436,135.921941 43.9390702,135.837814 C42.6608202,133.180091 39.6116253,132.677047 37.4065578,134.028228 C37.0086121,134.285759 37.1240336,133.705455 37.8268988,133.300273 C40.4695344,131.77397 43.2689364,132.968916 44.514455,134.921003 C44.7659705,134.502085 45.3120693,133.985306 45.7324102,134.019643 C45.0105952,132.294184 43.1276743,131.078636 40.7296634,131.121558 C36.5675986,131.198817 33.0601631,133.956119 31.5355657,131.82891 C29.8214703,129.414984 27.6887566,125.033517 27.5233765,119.802198 C27.5233765,119.360961 27.5406036,118.947194 27.935104,118.802977 C31.1582924,118.069871 34.2040419,117.470681 36.925922,116.589924 C39.8545273,115.640492 42.7676281,114.629252 44.8641649,112.177554 C47.0967957,109.567904 47.7066347,103.680738 48.0856307,98.9061074 C48.2682378,96.6226631 48.49219,93.2455692 48.669629,90.7423648 C48.9504306,86.7386113 49.7980034,84.1821838 51.3708367,83.4439274 C51.7705051,83.2585049 51.9686167,83.4525118 51.6602518,84.0053457 C51.2588606,84.6663427 50.9281005,85.902493 50.7713339,87.0253295 C51.4724765,86.48108 52.3786214,85.8818905 53.0039648,85.5419492 C55.0677701,84.4259802 56.4459373,83.8233569 58.7181904,82.636996 C60.8888037,81.5021413 62.9681134,79.9964416 64.5185515,78.7826107 C65.4987729,78.0168842 66.6392062,77.0949221 67.6211503,75.7780787 C67.379971,75.4587399 67.1284555,75.0381054 67.0061432,74.7496703 C65.8984413,76.2399182 63.6227428,77.469201 61.8328482,77.3146822 C62.3065931,75.8192837 61.7622171,73.7281294 60.5029169,72.6980042 C59.110968,71.556282 58.241,70.9158875 57.3624184,69.9561542 C54.4389813,66.7644828 56.9351866,60.022313 53.9342276,55.956752 C53.7240571,55.5378344 54.1788523,55.6494313 54.671547,56.1147046 C56.4149285,57.7611881 56.7456886,60.2935793 57.1074575,62.8345549 C57.3796455,64.7420035 57.4898989,67.0168635 58.3994892,68.44187 C60.0205584,70.9794119 63.7123237,71.5373964 63.5521117,75.3574442 C64.7269992,75.0466898 66.1723521,73.9187026 66.2326469,72.9194811 C66.1757975,72.4627923 65.9483999,71.432667 65.3247792,70.9673938 C65.1714581,70.8523631 65.2679299,70.6188681 65.7330613,70.7648025 C66.6013066,71.0343519 67.0302611,72.1022484 67.4023663,72.8851436 C67.8054801,73.7332801 68.2223757,74.5024403 68.8132649,75.1840398 C69.8796217,76.4133226 71.1888805,77.0348315 71.3680423,79.0281239 C72.3551545,78.72252 73.6713042,77.702696 73.7901711,76.394437 C73.2664676,74.9076229 73.6058412,73.5152369 72.0554032,72.4919792 C71.8521235,72.3546291 71.9451498,72.011254 72.7858318,72.3614966 C74.7600562,73.1890306 74.4620276,75.5359993 75.4215765,76.8253727 C76.0607015,77.6855273 76.8238616,78.4100487 78.1245068,78.6984838 C78.2606008,77.4932372 78.7791362,76.1918457 79.8489385,75.4965111 C79.7490214,74.8252128 79.6473815,74.4268977 78.8893896,73.8345757 C78.6843872,73.6766232 78.7205641,73.3572844 79.5836413,73.789937 C81.3735359,74.6930134 80.8498324,77.2391397 83.2443979,78.2469455 C83.9248679,76.1420563 86.5054859,76.8682946 88.9500099,77.4983879 C90.1714106,77.8142929 91.6701674,78.1834211 92.9777035,78.2486624 C97.8374655,78.4855912 98.6471387,75.2269617 102.909121,74.1710833 C102.604201,72.0541759 103.041769,70.1123898 104.404432,69.3003078 C102.623151,67.2040029 99.6773186,68.2736163 98.6781474,69.710641 C98.455918,69.999076 98.4834813,69.4943147 98.8245777,69.0032883 C100.106273,67.0718035 102.704118,66.8760797 104.287288,67.7963249 C104.252834,67.1353279 104.507795,66.0571301 104.912631,66.0296601 C103.74808,64.7248348 100.331948,64.1908865 98.4834813,66.4193908 C98.2612519,66.6734884 98.3163786,66.1893295 98.5851211,65.7927313 C99.935725,63.9556746 102.978029,63.4337445 105.038389,64.9686311 C105.022885,64.5394122 105.245114,63.6122995 105.748145,63.5882633 C104.878177,62.5598549 103.143409,61.9555147 101.443095,62.1254854 C96.5471564,62.6165118 95.2068889,68.0040668 89.9250632,67.5628298 C88.7053853,67.4615342 87.5253296,66.6803559 85.1617729,65.8699907 C83.9231452,65.4459225 82.4019932,65.025288 81.0255487,64.7042323 C77.2459253,63.8217583 73.7384898,63.7754027 71.790106,61.2378608 C71.1337539,60.38114 70.5652599,59.347581 70.3430304,57.8247125 C70.2258862,57.1225104 70.499797,56.8031716 70.6961858,57.2735955 C71.8555689,59.5433048 73.0649106,61.648194 75.9418346,62.2061785 C77.1201675,59.9742405 78.0021945,56.1679277 77.8557642,52.8766775 C76.6033548,52.3152593 76.6119684,51.7486904 76.2088545,51.5787197 C76.3880162,54.0802072 75.4474171,56.6932916 74.6618618,57.4761868 C74.3035383,55.1292181 72.3499864,53.3951739 70.3378623,52.8526413 C70.079456,52.7822494 70.0450018,52.359898 71.138922,52.4337237 C71.8779641,52.48523 73.6092866,52.9419188 74.370724,53.9462909 C75.0649757,51.534081 74.6515256,49.2763898 73.7936165,47.082223 C73.3302078,45.8958621 72.2259513,44.3472405 70.9959371,43.4475978 C70.73064,43.2535908 70.842616,42.9514208 71.7143068,43.3995253 C73.950383,44.5498318 75.6696466,46.8006555 76.0520879,49.9236518 C77.2338663,50.610402 77.7265611,52.1521561 79.3872525,51.7109191 C77.9660176,50.1245263 78.6774964,47.4668031 76.4379748,43.6021166 C75.2458602,41.5470167 73.6489089,40.068787 70.9666511,38.7553773 C67.6573272,37.1363637 63.6709786,35.9963585 61.117924,34.9782514 C58.4408342,33.9103548 56.9575818,32.7257108 56.6078719,28.878193 C55.7103405,28.4764442 55.186637,27.9012909 54.6525972,27.2334264 C54.1650706,27.6557777 53.8653192,28.5897579 53.8446467,29.1975318 C52.1064334,28.3614135 51.179616,26.6016162 51.0176813,25.061579 C50.4715826,25.1422721 49.3707716,28.2738529 45.3465234,26.7750206 C47.7393662,24.2855513 44.461051,22.3231627 47.041669,19.3598357 C47.5257503,18.7606462 48.2544562,18.6061274 47.9340323,19.0542319 C45.5808118,22.4072896 48.4181135,23.5627467 47.3173025,25.7551966 C49.8686345,25.9955592 50.0202328,22.635634 52.2563091,22.6871403 C51.9479442,24.1739544 52.2942087,26.205018 53.203799,26.8368281 C53.7378388,25.8959804 54.3941909,25.2779053 55.3830258,24.8984758 C55.8171485,26.7389662 57.1229619,27.7244527 58.714745,28.0781291 C61.1213694,28.6103604 63.8294679,27.1905045 65.7985242,27.4686383 C66.9854707,27.6368921 68.0449367,28.3305098 68.4687231,29.3262975 C69.4523899,28.368281 70.351644,24.7370895 69.9605891,24.4658232 C66.1275616,22.0793664 59.9171958,27.1939382 58.1031833,22.8708459 C57.7810367,22.1068364 57.6242702,21.1316511 57.7586415,20.2646291 C58.2978494,16.7759382 60.6148929,15.0899666 64.7804032,15.3921366 C66.6064747,15.524336 70.6134958,16.3827737 71.6815753,15.5912942 C72.5670477,14.9371646 72.3241458,12.4717316 71.7866606,11.3969675 C70.7082447,11.1068156 69.4627262,10.3857279 69.5247437,9.59253148 C69.5919293,8.89032944 70.2482815,10.3685592 71.6815753,9.92732219 C72.0829665,9.74705027 72.3017505,8.29800742 72.0381761,8.21044678 C69.7366369,7.35544282 66.5720205,6.81462706 63.7708958,7.10992963 C63.3574456,8.35638119 62.3737788,8.48171309 62.2893661,9.43972957 C62.1463812,11.0793456 61.6295685,12.4270928 60.9335941,12.9627579 C60.6631288,13.1447467 60.6803559,12.8683298 60.8405678,12.3481165 C61.0369566,11.707722 61.2643542,10.6415424 60.9628802,9.98054533 C60.3254778,8.58472562 57.5812025,8.78044941 57.5209077,7.23697842 C57.4795626,6.60688514 57.8482224,6.67727703 60.5649344,7.30737031 C61.7105358,7.573486 61.8242346,7.59237163 61.987892,7.24041217 C62.4392417,6.23088942 60.8853583,5.68835679 59.5123592,5.35699984 C55.388194,4.36464585 51.5861753,4.49512838 49.971997,5.11835415 C51.6016797,5.89094809 52.0220207,7.44300347 51.5086534,8.18297677 C51.1520526,8.65683438 51.4070136,7.41725033 49.5740512,6.31673319 C47.5722634,5.11320353 44.0372646,4.92091348 43.3464583,5.88923122 C42.9588488,6.43348072 42.8520409,8.05936174 42.9709078,8.79590129 C43.1741874,10.0612385 43.5841922,11.3025394 44.9882,12.2399534 C46.9141886,13.5276099 48.2148338,12.809956 48.0322267,13.2220061 C47.6239447,14.0941788 45.112235,13.9722807 43.6393188,12.8048054 C42.4179182,11.8364876 41.5100506,10.5591323 41.2740394,8.74267815 C41.1069367,7.45330472 41.2792076,5.51495238 41.8700967,4.81446721 C42.6711564,3.86675198 44.946855,3.66072693 47.0726778,4.07277703 C48.7850505,3.5508469 51.0504128,3.21948995 52.7886261,3.34310498 C51.5706709,2.32499786 49.1571557,1.80478461 47.024442,1.73954334 M71.641953,17.2738321 C71.2250574,18.1322698 70.4929061,19.2345038 69.7056281,19.6104995 C70.9511467,19.8319765 73.0666333,20.2714966 74.6291303,20.1015259 C76.5792369,19.8920671 77.7558471,18.0859142 76.7153309,16.2522912 C76.6412544,16.1235256 76.6757086,15.7578311 77.1580671,16.0170793 C79.5750278,17.3219046 79.0737195,20.8380654 76.5533963,21.7377082 C74.1450491,22.5978627 71.1527037,21.3067724 69.0406625,20.9565298 C69.3541955,21.5213819 69.576425,22.2407527 69.61777,22.6528028 C70.2086591,22.8107553 71.6815753,23.2331066 71.6247259,23.779073 C71.4145554,25.4427253 71.0958543,27.4394514 70.4033253,28.9812055 C69.7883182,30.3547059 68.6720028,31.9428156 67.30934,32.1230875 C67.5866961,27.3656258 62.2704163,30.6465747 59.2694572,29.6645219 C58.9989919,33.0450496 64.3204399,33.9446924 70.0002114,36.3706373 C72.9632708,37.6359745 75.8608672,39.200048 77.792024,42.1341881 C80.0418819,40.4293308 81.9454753,39.4077899 84.9240391,37.8969396 C86.0403545,37.3303707 87.0705345,36.8135912 87.2858731,35.7559959 C87.458144,34.9198776 87.3668404,32.7051083 87.1894014,31.3899817 C86.3004836,24.7868789 92.7313561,21.1488199 97.0605237,24.4984438 C96.9433795,24.6941676 96.8176218,24.9963377 96.786613,25.3173934 C98.1286033,25.6590516 99.5515609,26.5243568 100.459428,27.4016802 C100.176904,27.7261696 99.9581202,28.0661109 99.8237489,28.4592754 C100.898719,28.9245486 102.313063,30.0834395 102.764413,31.2526317 C102.226928,31.7230556 101.592971,32.6827889 101.362128,33.1686647 C100.550732,34.8649376 100.545564,37.0127487 100.18035,38.9476673 C99.8633712,40.6319221 99.2156326,42.5101838 98.1337714,43.7841054 C95.780551,46.5568591 90.9449069,48.0986133 88.558955,51.0224521 C87.7458364,52.0182398 87.7372228,54.1591835 89.1463988,54.6656617 C87.7992403,56.3585009 85.545937,56.6246166 84.0971388,56.4477784 C84.3486543,57.5070905 85.5424916,58.0994126 86.1471625,58.1577863 C84.1247021,62.1941604 80.5466356,60.1751149 78.8084223,61.2704814 C78.6395968,61.7958453 78.5103936,62.116901 78.3536271,62.4671436 C81.296014,62.9701881 84.4158399,64.0071809 86.1953983,64.7282685 C87.7561726,65.3600787 90.1248974,66.7490309 92.3334103,65.9403826 C93.6840142,65.4459225 94.9657096,64.0655546 96.1871103,63.1453094 C97.8116248,61.924611 99.610133,60.5270744 103.021097,60.9305401 C106.049619,61.2893671 109.245244,64.1616996 108.985115,68.8504864 C108.640573,68.8058476 108.354604,68.8075645 108.103088,68.8504864 C108.240905,69.5681403 108.423512,71.1545332 108.285695,72.1142666 C107.832623,72.0473084 107.482913,72.0764953 107.221061,72.1280016 C107.291692,72.9950236 107.041899,74.7771403 106.459624,75.8347356 C105.593101,75.5445836 104.285565,75.3316911 103.139964,75.7008193 C99.9460612,76.7275108 97.8236838,80.169846 92.7640876,79.7474946 C91.5736957,79.6479159 90.0370393,79.3749327 88.843202,79.1053832 C87.7113822,78.8478519 86.0834222,78.2452287 85.2995896,78.3551087 C84.3831085,78.4821575 84.3279818,79.0727626 84.1591563,80.0565322 C81.917912,79.6839703 80.5897033,78.4272175 80.2537751,77.1550128 C79.2580493,77.8709498 79.3390166,79.150022 79.3217896,80.3037623 C77.3889101,80.1252072 75.6283015,79.4195714 74.6584164,78.020318 C73.9589966,79.4230052 72.1432613,80.762168 70.0312201,80.7106618 C70.1569779,79.8316215 70.0174385,78.4134825 69.0596123,77.510406 C67.7830849,79.0761964 66.3532365,80.2625573 64.2877085,81.727052 C68.1362403,83.65682 72.4619625,86.1686087 76.2243588,89.3791657 C79.6525497,92.3064383 83.6974703,96.9231163 83.9128089,101.639373 C84.1453746,106.717891 80.4811727,109.64688 77.5456766,111.810143 C74.6394666,113.952804 72.2156151,115.685131 69.4420537,117.532489 C69.1819246,117.695592 69.2008744,117.834659 69.2697828,118.044118 C69.9364711,119.970452 70.9270288,121.867599 72.0312852,123.277154 C72.6583513,124.078935 73.9124834,125.553731 75.1631701,125.593219 C77.0926042,125.653309 79.8299887,123.90038 82.0350562,123.622246 C86.8534731,123.016189 90.3488496,127.045695 88.8104705,132.283882 C88.505551,132.132797 88.0834873,132.065839 87.813022,132.100177 C87.8629806,133.669401 87.3375543,135.321035 86.8827592,136.225828 C86.4951497,135.973448 86.0455226,135.832664 85.7337123,135.788025 C85.4977012,137.084266 84.7844997,138.820027 83.8904137,139.685332 C83.2616249,139.141083 82.2521175,138.844063 81.6715646,138.778822 C74.8169056,138.492104 71.654012,139.400331 69.209488,137.822522 C68.4308235,137.321195 67.5608555,135.970014 66.8614356,135.053202 C66.131007,134.096903 65.3230565,132.615239 64.5598965,132.424666 C63.6003476,132.187737 63.0042903,132.56545 62.5115955,133.058193 C61.8345709,132.206623 61.4125072,130.901798 61.6037279,129.808148 C60.7148101,129.588388 59.6570668,130.335229 59.0455051,130.941286 C58.3012948,129.936914 57.8671722,128.079254 58.1117968,126.530633 C56.9231276,126.2628 55.7620218,127.049129 55.1211741,127.806271 C53.9549001,125.907407 54.1960794,123.824837 54.9058355,122.647061 C53.2951026,122.326005 51.8910948,121.210036 51.3329371,119.65283 C54.0668762,118.497373 54.4493176,116.742726 55.3520171,114.799223 C56.542409,112.230777 64.1447236,111.942342 64.947506,108.324886 C65.2059123,107.164278 64.8200255,105.658578 64.4100208,104.899719 C62.3703334,101.115726 55.8981158,99.9242145 50.3544384,99.9619858 C50.137377,103.095283 49.8031715,105.771892 49.1812736,108.093108 C48.5989979,110.268389 47.6291128,112.368128 46.2612819,113.890996 C44.4403785,115.918626 41.2568124,117.062065 38.3540478,117.918786 C35.4478377,118.777223 32.8930604,119.347226 29.8318065,120.061446 C29.3304982,120.116386 30.083322,125.304784 31.6544326,128.661275 C32.5071735,130.48288 32.8275974,131.4718 34.3521948,131.241739 C36.2506201,130.955021 38.8467425,129.681099 41.2499215,129.765226 C46.142415,129.940347 49.563715,135.128745 46.876289,140.416721 C46.562756,140.238166 46.3267448,140.117985 46.0562795,140.068195 C45.870227,141.263141 45.3637505,142.442634 44.8727785,143.234114 C44.4696646,142.949112 44.1630224,142.813479 43.7736901,142.695015 C43.2896089,144.185263 42.3214465,145.440299 41.4807645,146 C40.874371,145.380208 40.0440252,144.817073 38.8536334,144.774151 C31.4649346,144.496017 28.2762003,145.575932 25.2735186,142.85125 C24.2932972,141.961909 23.5215236,140.497414 22.8789532,139.012317 C21.6230983,136.109081 20.6256498,134.51067 18.4705409,136.632728 C17.5833458,135.295282 17.4799833,133.60931 18.0639816,132.496775 C17.0975419,132.187737 15.7848377,132.615239 15.0010051,132.999819 C14.2223406,131.624602 14.320535,129.380646 15.1629397,128.269828 C13.1335886,128.07067 11.2041545,126.393283 10.8303267,124.157911 C11.9914325,124.188815 13.4540124,123.572456 14.2688538,122.768959 C12.3859329,122.384379 10.8751171,120.749913 10.4358263,118.562614 C11.6847903,118.562614 13.1008571,118.286197 13.8950259,117.666405 C15.6900887,116.270585 15.1250401,113.451476 17.9037697,112.52608 C21.2372115,111.415262 27.7593877,112.919245 27.9488856,108.764406 C28.029853,107.025211 26.756771,103.708208 26.2141177,101.637656 C25.6370102,99.434905 25.3131409,97.134292 25.3131409,94.5933164 C9.9276272,96.0543773 5.00067957,85.8973424 5.43652494,77.6426054 C5.79140298,70.9141706 8.22386804,66.2425526 12.1378628,58.4719745 C16.9597252,48.8986772 20.4619925,42.0088562 20.1639638,35.4332233 C20.0295925,32.433842 18.9236134,28.8987955 16.682369,28.2738529 C12.40316,27.0806245 10.7683092,31.9187794 12.8458962,34.4116825 C13.5470387,35.2512345 14.901088,35.8675928 16.5221571,35.7010559 C16.5772838,37.9312771 15.4420186,39.2979099 13.8605718,39.6704719 C14.4118386,43.748051 12.7373655,47.1886693 9.81737382,48.7836466 C9.78119694,48.3115058 9.66060731,47.9389439 9.53829497,47.4891225 C7.44175817,49.1235879 2.9299834,50.8404633 -0.000344541792,48.8660566 C0.866178065,47.8805701 1.30546885,47.3689412 1.86362655,46.6032148 C3.0075053,45.0339907 3.96533149,43.1454277 4.1031482,40.9752972 C4.24613305,38.7090216 4.34088204,36.485668 4.38567247,34.6348763 C4.52693461,28.7871986 8.42025686,22.745514 15.5763899,23.2760285 C21.6041485,23.7224161 25.0185577,28.6343967 25.3269226,35.203162 C25.6852461,42.7797332 21.8470505,51.4757072 16.6479149,63.6226008 C14.5841095,68.4470207 12.6615663,73.4654475 12.8183328,77.3335678 C13.0095535,82.0944633 16.2017332,85.4269185 20.7048945,85.5402323 C23.4508925,85.6071904 26.8411838,84.2851964 28.2641414,82.8447379 C28.4639756,82.6438635 28.6551963,82.3622959 29.4269699,81.2943994 C32.8603289,76.5386545 39.9044858,73.4705981 40.3231041,65.9730032 C37.9664382,66.6958078 34.9310251,65.245048 34.4176578,63.5144376 C36.5210854,62.7384099 38.0250103,61.0387033 37.5013068,56.6692553 C37.4668526,56.2589221 37.411726,55.6803351 37.3944989,55.1755737 C36.2299476,55.3712975 35.2772896,56.1988315 34.7243,57.0898898 C30.9033315,53.1565282 32.877556,48.1329508 34.1747558,44.6391093 C31.237537,44.7833268 28.8791485,42.5376538 28.5776744,40.5426446 C30.000632,40.357222 30.8929952,39.3202293 30.8602638,38.0754946 C30.8327004,37.0488031 30.1091627,35.4864465 29.5423914,34.2537299 C27.923045,30.7375691 26.3571026,27.2025226 26.4466834,22.4055727 C24.3415331,21.4132187 23.4129929,18.9615206 23.4750105,17.0283189 C25.2804095,16.8978364 26.5638276,16.0411155 26.6189543,14.8873753 C26.6637448,13.9739975 26.8170658,12.2639896 27.2012299,11.1342856 C26.5104237,10.4629873 25.4078899,8.41303807 26.4897511,6.00769562 C27.2598021,6.18453379 28.4691437,6.21887129 29.2012951,5.8136887 C29.5217189,5.6385674 30.1436169,4.52774901 31.2048056,3.75515508 C31.0497618,3.00831427 31.1944693,1.33264387 32.0317059,0.273331736 C32.5485186,0.503393042 33.3840324,0.731737472 34.2040419,0.815864367 C37.7683267,1.17469133 46.2388867,-1.33366365 52.5009337,1.01845567 C53.8067471,1.50776516 54.9127263,2.25288909 55.7258449,3.06497116 C56.9696408,3.19717057 58.5304151,3.46500313 60.0722396,3.81009509 C63.1369389,4.49512838 63.0766441,5.04452851 64.2205228,5.26772232 C64.6822088,5.35699984 65.9673497,5.44971111 67.2507679,5.55787426 C68.6203215,5.67633866 72.5618796,6.39227571 73.340544,7.22839404 C74.0520228,7.99412047 73.3250397,9.3676208 73.364662,10.8716037 C73.4025616,12.2605559 74.1002587,14.7191215 73.1544915,16.3707556 C72.8478493,16.9047039 72.2414557,17.1708196 71.641953,17.2738321"
                fill="#1D1D1B"
                mask="url(#mask-3)"
              ></path>
            </g>
            <path
              id="Fill-4"
              d="M50.9516881,9.15990156 C50.7398336,10.0585808 49.8708381,10.280173 49.8669149,9.61012053 C49.8571068,7.69493122 47.6228272,6.72414656 45.2610426,6.53421043 C44.6313641,6.48320906 45.2571193,6.07343945 45.9103372,6.01892074 C48.1701178,5.82722594 51.436207,7.10753615 50.9516881,9.15990156"
              fill="#1D1D1B"
            ></path>
            <path
              id="Fill-6"
              d="M33.9012879,26.2633839 C33.2707125,30.1528586 35.2134412,30.4009802 35.3185371,33.2677913 C36.6105985,33.5310015 38.0355753,32.5116909 38.819158,31.1721692 C38.9474368,30.9508715 39.067988,31.1788752 38.9551644,31.670089 C38.4930516,33.6818863 36.1206661,35.6551241 33.8379213,34.7917278 C34.8626063,32.1747148 31.8859194,29.6499093 33.4793588,26.4477986 C33.7946465,25.8207885 33.9445627,25.9431728 33.9012879,26.2633839"
              fill="#1D1D1B"
            ></path>
            <path
              id="Fill-8"
              d="M40.1884779,37.1763604 C40.4247585,36.8960036 40.6310632,36.972004 40.5481886,37.248983 C38.5098276,43.7478569 43.5140392,44.2089256 43.8966727,49.8109954 C45.9755893,49.2739263 46.910132,47.6610301 47.5960511,45.737377 C47.7582736,45.2188858 48.0351098,45.5059982 47.9963175,46.2018235 C47.9152062,47.6458301 47.4990702,48.822991 47.0229824,49.5171274 C46.1642612,50.765222 44.2087747,52.3342069 41.7331182,51.9373162 C43.3059712,47.0496496 39.0123647,45.2323969 39,40.8429548 C38.9964951,39.8194835 39.4232108,38.0258754 40.1884779,37.1763604"
              fill="#1D1D1B"
            ></path>
            <path
              id="Fill-10"
              d="M66.8393344,48.3286691 C66.6914763,48.093919 66.6803472,47.6606669 67.491182,48.4667575 C71.1510673,52.1071107 67.5452376,58.4453644 70,61.5816953 C66.6294713,63.0126355 63.4052109,60.4856193 63.0268213,58.3245372 C62.8519354,57.2629832 63.5546588,58.6801146 64.4831441,59.3481168 C65.2621814,59.9091006 66.782099,60.4856193 67.5754452,60.2905696 C66.6294713,56.3913007 69.5437067,53.0840855 66.8393344,48.3286691"
              fill="#1D1D1B"
            ></path>
            <mask id="mask-5" fill="white">
              <use xlink:href="#path-4"></use>
            </mask>
            <g id="Clip-15"></g>
            <g id="Group" mask="url(#mask-5)" fill="#1D1D1B">
              <g transform="translate(128.000000, 41.000000)">
                <polygon
                  id="Fill-16"
                  points="0.980193903 16.9038534 10.0742438 16.9038534 10.0742438 38.615209 23.1383288 38.615209 23.1383288 46.0987701 0.980193903 46.0987701"
                ></polygon>
                <path
                  id="Fill-17"
                  d="M25.6993028,46.0989404 L33.8839477,46.0989404 L33.8839477,24.8781984 L25.6993028,24.8781984 L25.6993028,46.0989404 Z M25.6993028,22.5886682 L33.8839477,22.5886682 L33.8839477,16.9040237 L25.6993028,16.9040237 L25.6993028,22.5886682 Z"
                ></path>
                <path
                  id="Fill-18"
                  d="M51.038805,32.9326088 C50.9561318,32.074035 50.6667757,31.378999 50.1294,30.9292699 C49.633361,30.4795407 48.9306389,30.2342339 48.0625705,30.2342339 C44.9209896,30.2342339 44.4662871,32.9326088 44.4662871,35.5083302 C44.4662871,38.0840517 44.9209896,40.741542 48.0625705,40.741542 C49.8400439,40.741542 51.0801416,39.3105857 51.245488,37.6343225 L59.0581036,37.6343225 C58.6860743,40.4962352 57.3219668,42.7465844 55.3378104,44.3001942 C53.3949907,45.8129195 50.7907855,46.6306088 47.8972242,46.6306088 C41.448716,46.6306088 36.2799199,42.2133828 36.2799199,35.5083302 C36.2799199,28.8015741 41.448716,24.3451671 47.8972242,24.3451671 C53.5190005,24.3451671 58.314045,27.0844264 58.810084,32.9326088 L51.038805,32.9326088 Z"
                ></path>
                <path
                  id="Fill-19"
                  d="M75.8397259,33.0956356 C75.8397259,31.1331812 74.3516087,29.5386869 72.2434426,29.5386869 C69.8045837,29.5386869 68.3991396,30.8061054 68.0271103,33.0956356 L75.8397259,33.0956356 Z M67.9857737,37.3084392 C68.1924567,39.7206228 69.5979008,41.4360669 72.1607694,41.4360669 C73.4835403,41.4360669 74.9303209,40.9454533 75.5917064,39.9250451 L83.2389756,39.9250451 C81.585512,44.502402 77.0798236,46.6300978 72.202106,46.6300978 C65.3402319,46.6300978 60.1714358,42.62342 60.1714358,35.5487036 C60.1714358,29.3751491 64.7184607,24.3446561 71.4993839,24.3446561 C80.0147216,24.3446561 83.6954005,29.0480733 83.6954005,37.3084392 L67.9857737,37.3084392 Z"
                ></path>
                <path
                  id="Fill-20"
                  d="M96.5483244,30.2342339 C93.4480801,30.2342339 93.0347142,33.2188 93.0347142,35.4674457 C93.0347142,37.7160914 93.4480801,40.741542 96.5483244,40.741542 C99.6485687,40.741542 100.063657,37.7160914 100.063657,35.4674457 C100.063657,33.2188 99.6485687,30.2342339 96.5483244,30.2342339 M96.5483244,46.6306088 C88.4876892,46.6306088 84.8500693,41.354809 84.8500693,35.4674457 C84.8500693,29.5783789 88.4876892,24.3451671 96.5483244,24.3451671 C104.610682,24.3451671 108.246579,29.5783789 108.246579,35.4674457 C108.246579,41.354809 104.610682,46.6306088 96.5483244,46.6306088"
                ></path>
                <path
                  id="Fill-21"
                  d="M138.362697,35.6725495 L135.717155,26.6762632 L135.634482,26.6762632 L132.782257,35.6725495 L138.362697,35.6725495 Z M131.211467,16.903172 L140.098834,16.903172 L150.84807,46.0980887 L141.421605,46.0980887 L140.181507,41.927873 L130.796379,41.927873 L129.473608,46.0980887 L120.338221,46.0980887 L131.211467,16.903172 Z"
                ></path>
                <path
                  id="Fill-22"
                  d="M151.836186,24.8773466 L159.691861,24.8773466 L159.691861,28.2707574 L159.772812,28.2707574 C161.095583,25.7359204 162.833442,24.3458485 165.809676,24.3458485 C166.636408,24.3458485 167.421803,24.4685019 168.207199,24.6729243 L168.207199,31.827706 C167.380467,31.5415148 166.636408,31.2979115 164.982945,31.2979115 C161.758691,31.2979115 160.020831,33.1768935 160.020831,37.7150693 L160.020831,46.0980887 L151.836186,46.0980887 L151.836186,24.8773466 Z"
                ></path>
                <path
                  id="Fill-23"
                  d="M179.984338,24.8773466 L184.366016,24.8773466 L184.366016,29.8652516 L179.984338,29.8652516 L179.984338,37.2653402 C179.984338,39.2294981 180.43904,40.088072 182.50587,40.088072 C183.125919,40.088072 183.745967,40.045484 184.366016,39.963715 L184.366016,46.0980887 C182.712553,46.0980887 180.852406,46.3433955 179.116269,46.3433955 C175.642273,46.3433955 171.799693,45.8118974 171.799693,40.006303 L171.799693,29.8652516 L168.160351,29.8652516 L168.160351,24.8773466 L171.799693,24.8773466 L171.799693,18.4176008 L179.984338,18.4176008 L179.984338,24.8773466 Z"
                ></path>
                <path
                  id="Fill-24"
                  d="M186.638151,46.0989404 L194.822796,46.0989404 L194.822796,24.8781984 L186.638151,24.8781984 L186.638151,46.0989404 Z M186.638151,22.5886682 L194.822796,22.5886682 L194.822796,16.9040237 L186.638151,16.9040237 L186.638151,22.5886682 Z"
                ></path>
                <path
                  id="Fill-25"
                  d="M210.589777,31.0510715 C210.548441,30.3560356 210.176411,29.8245375 209.637313,29.4565773 C209.142996,29.0477326 208.479889,28.8433103 207.820226,28.8433103 C206.661079,28.8433103 205.338308,29.0903206 205.338308,30.478689 C205.338308,31.091956 205.834347,31.3781473 206.290772,31.5825696 C207.653157,32.1549521 210.755124,32.31849 213.483338,33.2179483 C216.211553,34.0765221 218.609076,35.6727198 218.609076,39.1478996 C218.609076,45.0352629 212.904626,46.6314606 207.694493,46.6314606 C202.651429,46.6314606 197.112326,44.6264182 196.990039,39.1478996 L204.800932,39.1478996 C204.843991,39.88382 205.172961,40.497087 205.79301,41.0268815 C206.206376,41.3965453 206.993494,41.6418521 207.98385,41.6418521 C209.058601,41.6418521 210.755124,41.2330074 210.755124,40.0064734 C210.755124,38.7799394 210.052401,38.4102756 206.247713,37.7578277 C200.005888,36.6948315 197.484356,34.7306736 197.484356,31.091956 C197.484356,25.7360908 203.312815,24.3443154 207.61182,24.3443154 C212.243241,24.3443154 217.82368,25.6134374 218.030363,31.0510715 L210.589777,31.0510715 Z"
                ></path>
                <path
                  id="Fill-26"
                  d="M230.719836,24.8773466 L235.101514,24.8773466 L235.101514,29.8652516 L230.719836,29.8652516 L230.719836,37.2653402 C230.719836,39.2294981 231.174538,40.088072 233.241368,40.088072 C233.861416,40.088072 234.481465,40.045484 235.101514,39.963715 L235.101514,46.0980887 C233.448051,46.0980887 231.587904,46.3433955 229.851767,46.3433955 C226.377771,46.3433955 222.535191,45.8118974 222.535191,40.006303 L222.535191,29.8652516 L218.895848,29.8652516 L218.895848,24.8773466 L222.535191,24.8773466 L222.535191,18.4176008 L230.719836,18.4176008 L230.719836,24.8773466 Z"
                ></path>
                <path
                  id="Fill-27"
                  d="M237.387428,46.0989404 L245.573795,46.0989404 L245.573795,24.8781984 L237.387428,24.8781984 L237.387428,46.0989404 Z M237.387428,22.5886682 L245.573795,22.5886682 L245.573795,16.9040237 L237.387428,16.9040237 L237.387428,22.5886682 Z"
                ></path>
                <path
                  id="Fill-28"
                  d="M262.645635,32.9326088 C262.562961,32.074035 262.273605,31.378999 261.73623,30.9292699 C261.24019,30.4795407 260.537468,30.2342339 259.6694,30.2342339 C256.527819,30.2342339 256.073117,32.9326088 256.073117,35.5083302 C256.073117,38.0840517 256.527819,40.741542 259.6694,40.741542 C261.446873,40.741542 262.686971,39.3105857 262.852317,37.6343225 L270.664933,37.6343225 C270.292904,40.4962352 268.928796,42.7465844 266.94464,44.3001942 C265.00182,45.8129195 262.397615,46.6306088 259.504054,46.6306088 C253.055546,46.6306088 247.886749,42.2133828 247.886749,35.5083302 C247.886749,28.8015741 253.055546,24.3451671 259.504054,24.3451671 C265.12583,24.3451671 269.920874,27.0844264 270.418636,32.9326088 L262.645635,32.9326088 Z"
                ></path>
                <path
                  id="Fill-29"
                  d="M283.509073,30.2342339 C280.408829,30.2342339 279.995463,33.2188 279.995463,35.4674457 C279.995463,37.7160914 280.408829,40.741542 283.509073,40.741542 C286.609317,40.741542 287.022683,37.7160914 287.022683,35.4674457 C287.022683,33.2188 286.609317,30.2342339 283.509073,30.2342339 M283.509073,46.6306088 C275.446715,46.6306088 271.810818,41.354809 271.810818,35.4674457 C271.810818,29.5783789 275.446715,24.3451671 283.509073,24.3451671 C291.57143,24.3451671 295.207328,29.5783789 295.207328,35.4674457 C295.207328,41.354809 291.57143,46.6306088 283.509073,46.6306088"
                ></path>
                <polygon
                  id="Fill-30"
                  points="0.702722039 0 3.73234965 0 3.73234965 3.3508228 3.75990738 3.3508228 6.45884227 0 10.1911919 0 6.62418863 3.80055194 10.7699042 9.72539266 6.99621795 9.72539266 4.57286033 5.93846888 3.73234965 6.85155531 3.73234965 9.72539266 0.702722039 9.72539266"
                ></polygon>
                <path
                  id="Fill-31"
                  d="M15.9120038,6.55207659 C15.5813111,6.71561446 15.2092818,6.81101155 14.8372525,6.89278048 C14.2309825,7.02906204 13.9140686,7.17897176 13.9140686,7.65425369 C13.9140686,7.98132943 14.2723191,8.30840517 14.7683581,8.30840517 C15.388407,8.30840517 15.8706672,7.94044496 15.9120038,7.20622807 L15.9120038,6.55207659 Z M18.5282655,8.1448673 C18.5282655,8.67636537 18.5558233,9.27600422 18.8589582,9.72573337 L16.0773502,9.72573337 C16.0084559,9.53493918 15.9671193,9.24874791 15.9808981,9.05795373 L15.9533404,9.05795373 C15.3746281,9.71210521 14.5341175,9.90289939 13.6522702,9.90289939 C12.2761062,9.90289939 11.1341829,9.24874791 11.1341829,7.76327893 C11.1341829,5.52996491 13.7780023,5.61173384 15.1679452,5.35279888 C15.5399745,5.2846581 15.9120038,5.17563286 15.9120038,4.72590372 C15.9120038,4.24891827 15.4573013,4.07175224 15.0163777,4.07175224 C14.1775894,4.07175224 14.0105207,4.49422507 13.9984641,4.7940445 L11.4631533,4.7940445 C11.5044899,3.80089264 12.0005289,3.21488195 12.703251,2.88780621 C13.3921942,2.56073047 14.2998768,2.47896153 15.1403875,2.47896153 C18.5558233,2.47896153 18.5282655,3.88266158 18.5282655,5.24377364 L18.5282655,8.1448673 Z"
                ></path>
                <path
                  id="Fill-32"
                  d="M20.241495,2.65595721 L22.8715355,2.65595721 L22.8715355,3.55541549 L22.8990933,3.55541549 C23.4089112,2.84675139 24.139191,2.47879118 25.2277212,2.47879118 C26.5074331,2.47879118 27.6786365,3.25559606 27.6786365,4.87564308 L27.6786365,9.72556301 L24.9521439,9.72556301 L24.9521439,6.02040816 C24.9521439,5.20442234 24.8556919,4.63203979 24.0565178,4.63203979 C23.5880364,4.63203979 22.9679876,4.86201492 22.9679876,5.99315185 L22.9679876,9.72556301 L20.241495,9.72556301 L20.241495,2.65595721 Z"
                ></path>
                <path
                  id="Fill-33"
                  d="M32.7092996,2.65595721 L34.1698591,2.65595721 L34.1698591,4.31859221 L32.7092996,4.31859221 L32.7092996,6.78358489 C32.7092996,7.43773636 32.8608671,7.72392763 33.5498103,7.72392763 C33.7564932,7.72392763 33.9631762,7.70859596 34.1698591,7.68304317 L34.1698591,9.72556301 C33.6187046,9.72556301 32.9986557,9.80733195 32.4216658,9.80733195 C31.2642413,9.80733195 29.982807,9.63016592 29.982807,7.6949678 L29.982807,4.31859221 L28.770267,4.31859221 L28.770267,2.65595721 L29.982807,2.65595721 L29.982807,0.504412115 L32.7092996,0.504412115 L32.7092996,2.65595721 Z"
                ></path>
                <path
                  id="Fill-34"
                  d="M38.8956649,4.4402235 C37.8622501,4.4402235 37.7244615,5.43507887 37.7244615,6.18292392 C37.7244615,6.93247249 37.8622501,7.94095602 38.8956649,7.94095602 C39.9290796,7.94095602 40.0668683,6.93247249 40.0668683,6.18292392 C40.0668683,5.43507887 39.9290796,4.4402235 38.8956649,4.4402235 M38.8956649,9.90341045 C36.2105088,9.90341045 34.9979688,8.14537835 34.9979688,6.18292392 C34.9979688,4.22217301 36.2105088,2.47947259 38.8956649,2.47947259 C41.5808209,2.47947259 42.7933609,4.22217301 42.7933609,6.18292392 C42.7933609,8.14537835 41.5808209,9.90341045 38.8956649,9.90341045"
                ></path>
                <path
                  id="Fill-35"
                  d="M44.243414,2.65595721 L46.8734546,2.65595721 L46.8734546,3.55541549 L46.9010123,3.55541549 C47.4108303,2.84675139 48.14111,2.47879118 49.2296403,2.47879118 C50.5093522,2.47879118 51.6805556,3.25559606 51.6805556,4.87564308 L51.6805556,9.72556301 L48.954063,9.72556301 L48.954063,6.02040816 C48.954063,5.20442234 48.8576109,4.63203979 48.0584369,4.63203979 C47.5899555,4.63203979 46.9699066,4.86201492 46.9699066,5.99315185 L46.9699066,9.72556301 L44.243414,9.72556301 L44.243414,2.65595721 Z"
                ></path>
                <path
                  id="Fill-36"
                  d="M57.5665416,4.71295697 C57.5527628,4.48127832 57.428753,4.3041123 57.2496278,4.18145889 C57.0842814,4.04517734 56.8638196,3.97703656 56.6433578,3.97703656 C56.2575496,3.97703656 55.816626,4.05880549 55.816626,4.52216279 C55.816626,4.72658512 55.9836947,4.82198222 56.1335398,4.89012299 C56.5882423,5.08091717 57.6216571,5.1354298 58.5310621,5.43524922 C59.4387447,5.7214405 60.2379188,6.25123505 60.2379188,7.40962829 C60.2379188,9.3703792 58.338158,9.90187728 56.6020212,9.90187728 C54.9227222,9.90187728 53.0763545,9.23409765 53.0350179,7.40962829 L55.6375007,7.40962829 C55.6530019,7.6549351 55.7632329,7.85935743 55.9681935,8.03652346 C56.1059821,8.15917686 56.3677805,8.24094579 56.6984732,8.24094579 C57.0567237,8.24094579 57.6216571,8.10466424 57.6216571,7.69581956 C57.6216571,7.28697489 57.3874164,7.16432149 56.1197609,6.94797452 C54.0408749,6.59364247 53.2003642,5.93949099 53.2003642,4.72658512 C53.2003642,2.94129672 55.143184,2.47793942 56.5744634,2.47793942 C58.1176962,2.47793942 59.9761204,2.90211577 60.0450147,4.71295697 L57.5665416,4.71295697 Z"
                ></path>
                <path
                  id="Fill-37"
                  d="M65.7367187,4.71295697 C65.7229399,4.48127832 65.5989301,4.3041123 65.4198049,4.18145889 C65.2544585,4.04517734 65.0339967,3.97703656 64.8135349,3.97703656 C64.4277267,3.97703656 63.9868031,4.05880549 63.9868031,4.52216279 C63.9868031,4.72658512 64.1538718,4.82198222 64.3037169,4.89012299 C64.7584194,5.08091717 65.7918342,5.1354298 66.7012392,5.43524922 C67.6089218,5.7214405 68.4080959,6.25123505 68.4080959,7.40962829 C68.4080959,9.3703792 66.5083351,9.90187728 64.7721983,9.90187728 C63.0928993,9.90187728 61.2482539,9.23409765 61.205195,7.40962829 L63.8076778,7.40962829 C63.8231791,7.6549351 63.93341,7.85935743 64.1383706,8.03652346 C64.2761592,8.15917686 64.5379576,8.24094579 64.8686503,8.24094579 C65.2269008,8.24094579 65.7918342,8.10466424 65.7918342,7.69581956 C65.7918342,7.28697489 65.5575935,7.16432149 64.2899381,6.94797452 C62.211052,6.59364247 61.3705414,5.93949099 61.3705414,4.72658512 C61.3705414,2.94129672 63.3133611,2.47793942 64.7446406,2.47793942 C66.2878733,2.47793942 68.1462975,2.90211577 68.2151918,4.71295697 L65.7367187,4.71295697 Z"
                ></path>
                <path
                  id="Fill-38"
                  d="M74.3889838,5.33934108 C74.3614261,5.05314981 74.2649741,4.82147116 74.0858488,4.67156145 C73.9205025,4.52335525 73.6862618,4.4398828 73.3969057,4.4398828 C72.349712,4.4398828 72.1998669,5.33934108 72.1998669,6.19791489 C72.1998669,7.05478519 72.349712,7.94061531 73.3969057,7.94061531 C73.9893968,7.94061531 74.4027627,7.46533338 74.4578782,6.90487547 L77.060361,6.90487547 C76.9363512,7.85884638 76.4816487,8.60839494 75.8219856,9.12626486 C75.1743791,9.63050663 74.3063107,9.90306974 73.3417902,9.90306974 C71.1940099,9.90306974 69.4733743,8.43122892 69.4733743,6.19791489 C69.4733743,3.96289735 71.1940099,2.47913189 73.3417902,2.47913189 C75.2139933,2.47913189 76.8123415,3.39221832 76.9776878,5.33934108 L74.3889838,5.33934108 Z"
                ></path>
                <path
                  id="Fill-39"
                  d="M78.4559876,0 L81.1824803,0 L81.1824803,3.41896358 L81.210038,3.41896358 C81.6785193,2.87383735 82.2847893,2.47862083 83.4422139,2.47862083 C84.7219258,2.47862083 85.8931292,3.25542571 85.8931292,4.87547273 L85.8931292,9.72539266 L83.1649142,9.72539266 L83.1649142,6.02023781 C83.1649142,5.20425198 83.0701846,4.63186944 82.2710105,4.63186944 C81.8025291,4.63186944 81.1824803,4.86184457 81.1824803,5.9929815 L81.1824803,9.72539266 L78.4559876,9.72539266 L78.4559876,0 Z"
                ></path>
                <path
                  id="Fill-40"
                  d="M95.0832867,9.72539266 L92.4532461,9.72539266 L92.4532461,8.82593438 L92.4256884,8.82593438 C91.9158705,9.53459848 91.1855907,9.90255869 90.0970605,9.90255869 C88.8173485,9.90255869 87.6461451,9.12575381 87.6461451,7.50570679 L87.6461451,2.65578686 L90.3726377,2.65578686 L90.3726377,6.36094171 C90.3726377,7.17863105 90.4690898,7.75101359 91.2682639,7.75101359 C91.7367452,7.75101359 92.3567941,7.51933495 92.3567941,6.38819802 L92.3567941,2.65578686 L95.0832867,2.65578686 L95.0832867,9.72539266 Z"
                ></path>
                <polygon
                  id="Fill-41"
                  points="96.8929682 9.72539266 99.6194608 9.72539266 99.6194608 0 96.8929682 0"
                ></polygon>
                <path
                  id="Fill-42"
                  d="M106.279474,5.39419441 C106.279474,4.74004293 105.783435,4.20854485 105.082436,4.20854485 C104.269483,4.20854485 103.801001,4.63101768 103.676992,5.39419441 L106.279474,5.39419441 Z M103.663213,6.79619093 C103.732107,7.60025212 104.200588,8.17263466 105.054878,8.17263466 C105.494079,8.17263466 105.976339,8.00909679 106.196801,7.6683929 L108.744169,7.6683929 C108.193014,9.19304283 106.69284,9.90170693 105.066934,9.90170693 C102.781366,9.90170693 101.06073,8.56785118 101.06073,6.21018023 C101.06073,4.15403223 102.574683,2.47947259 104.834416,2.47947259 C107.67114,2.47947259 108.895736,4.04500698 108.895736,6.79619093 L103.663213,6.79619093 Z"
                ></path>
                <path
                  id="Fill-43"
                  d="M3.02962761,59.2656128 C3.02962761,59.5126231 3.0709642,59.7272665 3.13985852,59.9061361 C3.36032034,60.4921468 4.02170579,60.6130967 4.58491683,60.6130967 C5.08095592,60.6130967 5.83879341,60.4495588 5.83879341,59.7272665 C5.83879341,59.2264318 5.41164864,59.0884467 3.71857079,58.6114613 C2.16155921,58.1753603 0.385808178,57.7528875 0.385808178,55.7921366 C0.385808178,53.5451944 2.32690558,52.5775953 4.35239851,52.5775953 C6.4864,52.5775953 8.37238194,53.3816565 8.45505512,55.7512521 L5.59077387,55.7512521 C5.64588932,55.3832919 5.48054296,55.1379851 5.23252342,54.9744472 C4.98450387,54.7972812 4.64175464,54.7308439 4.33861965,54.7308439 C3.92525374,54.7308439 3.25008943,54.8381657 3.25008943,55.3832919 C3.30520488,56.0783278 4.71064896,56.2282375 6.10059182,56.6098259 C7.49053467,56.9897107 8.86842103,57.6319376 8.86842103,59.4155225 C8.86842103,61.9486559 6.51395772,62.7663453 4.32311843,62.7663453 C3.20875284,62.7663453 0.027557727,62.3711288 0,59.2656128 L3.02962761,59.2656128 Z"
                ></path>
                <path
                  id="Fill-44"
                  d="M14.6438317,58.1475929 C14.6162739,57.8614017 14.5198219,57.6314265 14.3406967,57.4815168 C14.1753503,57.3316071 13.9411096,57.2498382 13.6517535,57.2498382 C12.6045599,57.2498382 12.4547147,58.1475929 12.4547147,59.0061667 C12.4547147,59.8647406 12.6045599,60.7488672 13.6517535,60.7488672 C14.2442446,60.7488672 14.6576105,60.2735852 14.712726,59.7148308 L17.3152088,59.7148308 C17.1911991,60.6688017 16.7364966,61.4183503 16.0768335,61.9362202 C15.4292269,62.440462 14.5611585,62.7130251 13.596638,62.7130251 C11.4488577,62.7130251 9.72822211,61.2394808 9.72822211,59.0061667 C9.72822211,56.7728527 11.4488577,55.2873837 13.596638,55.2873837 C15.4688411,55.2873837 17.0671893,56.2004702 17.2325356,58.1475929 L14.6438317,58.1475929 Z"
                ></path>
                <path
                  id="Fill-45"
                  d="M18.7108355,52.8091036 L21.4373281,52.8091036 L21.4373281,56.2280672 L21.4648858,56.2280672 C21.9333672,55.682941 22.5396372,55.2877244 23.6970617,55.2877244 C24.9767736,55.2877244 26.147977,56.0645293 26.147977,57.6845763 L26.147977,62.5344963 L23.4214844,62.5344963 L23.4214844,58.8293414 C23.4214844,58.0133556 23.3250324,57.4409731 22.5258583,57.4409731 C22.0573769,57.4409731 21.4373281,57.6709482 21.4373281,58.8037886 L21.4373281,62.5344963 L18.7108355,62.5344963 L18.7108355,52.8091036 Z"
                ></path>
                <polygon
                  id="Fill-46"
                  points="36.9764414 62.5344963 34.1810545 62.5344963 33.1476397 58.1888181 33.120082 58.1888181 32.0608318 62.5344963 29.2637226 62.5344963 27.0349914 55.466594 29.8717149 55.466594 30.930965 59.8378249 30.9585228 59.8378249 31.8679278 55.466594 34.4152951 55.466594 35.3643144 59.8378249 35.4211522 59.8378249 36.411508 55.466594 39.2482315 55.466594"
                ></polygon>
                <path
                  id="Fill-47"
                  d="M45.0668733,58.2041498 C45.0668733,57.5482948 44.5708343,57.0185002 43.8698346,57.0185002 C43.0568816,57.0185002 42.5884003,57.4409731 42.4643905,58.2041498 L45.0668733,58.2041498 Z M42.4506116,59.6044428 C42.519506,60.4102075 42.9879873,60.98259 43.8422769,60.98259 C44.2814781,60.98259 44.7637384,60.8190522 44.9842002,60.4766447 L47.5315676,60.4766447 C46.980413,62.0029982 45.4802393,62.7116623 43.8543334,62.7116623 C41.5687644,62.7116623 39.8481288,61.376103 39.8481288,59.0201356 C39.8481288,56.9622841 41.3620814,55.2877244 43.621815,55.2877244 C46.4585386,55.2877244 47.6831351,56.8549624 47.6831351,59.6044428 L42.4506116,59.6044428 Z"
                ></path>
                <path
                  id="Fill-48"
                  d="M49.1474838,62.5344963 L51.8739764,62.5344963 L51.8739764,55.466594 L49.1474838,55.466594 L49.1474838,62.5344963 Z M49.1474838,54.7017137 L51.8739764,54.7017137 L51.8739764,52.8091036 L49.1474838,52.8091036 L49.1474838,54.7017137 Z"
                ></path>
                <polygon
                  id="Fill-49"
                  points="53.1857242 60.4500698 56.5322657 57.4263228 53.4888592 57.4263228 53.4888592 55.4655719 60.0303746 55.4655719 60.0303746 57.535348 56.7665064 60.5727232 60.3197308 60.5727232 60.3197308 62.5351777 53.1857242 62.5351777"
                ></polygon>
                <path
                  id="Fill-50"
                  d="M66.5348594,58.2041498 C66.5348594,57.5482948 66.0388203,57.0185002 65.3360983,57.0185002 C64.5248677,57.0185002 64.0563863,57.4409731 63.9323766,58.2041498 L66.5348594,58.2041498 Z M63.9185977,59.6044428 C63.987492,60.4102075 64.454251,60.98259 65.3102629,60.98259 C65.7494642,60.98259 66.2317244,60.8190522 66.4521862,60.4766447 L68.9995536,60.4766447 C68.4483991,62.0029982 66.9482253,62.7116623 65.3223194,62.7116623 C63.0367504,62.7116623 61.3161148,61.376103 61.3161148,59.0201356 C61.3161148,56.9622841 62.8300675,55.2877244 65.0898011,55.2877244 C67.9265246,55.2877244 69.1511211,56.8549624 69.1511211,59.6044428 L63.9185977,59.6044428 Z"
                ></path>
                <path
                  id="Fill-51"
                  d="M70.5606988,55.4659126 L73.1786829,55.4659126 L73.1786829,56.595346 L73.2045183,56.595346 C73.6454419,55.7521038 74.2241542,55.2887466 75.2162324,55.2887466 C75.4900873,55.2887466 75.753608,55.329631 76.0154064,55.3977718 L76.0154064,57.7809955 C75.7381068,57.6855984 75.4900873,57.6038295 74.9406551,57.6038295 C73.8659037,57.6038295 73.2871915,58.2307247 73.2871915,59.7417464 L73.2871915,62.5338149 L70.5606988,62.5338149 L70.5606988,55.4659126 Z"
                ></path>
                <path
                  id="Fill-52"
                  d="M76.9962893,62.5344963 L79.7227819,62.5344963 L79.7227819,55.466594 L76.9962893,55.466594 L76.9962893,62.5344963 Z M76.9962893,54.7017137 L79.7227819,54.7017137 L79.7227819,52.8091036 L76.9962893,52.8091036 L76.9962893,54.7017137 Z"
                ></path>
                <path
                  id="Fill-53"
                  d="M85.6742175,57.5220606 C85.6604387,57.2903819 85.5364289,57.1132159 85.3573037,56.9905625 C85.1919573,56.8542809 84.9714955,56.7861402 84.7510337,56.7861402 C84.3652255,56.7861402 83.9243019,56.8679091 83.9243019,57.3329699 C83.9243019,57.5356887 84.0913706,57.6310858 84.2412157,57.6992266 C84.6959182,57.8900208 85.729333,57.9445334 86.638738,58.2443528 C87.5464206,58.5305441 88.3455947,59.0603387 88.3455947,60.2187319 C88.3455947,62.1794828 86.4458339,62.7126844 84.7096971,62.7126844 C83.0303981,62.7126844 81.1840304,62.0432013 81.1426938,60.2187319 L83.7451766,60.2187319 C83.7606779,60.4640387 83.8709088,60.6701646 84.0758694,60.8456271 C84.213658,60.9682805 84.4754564,61.0483459 84.8061491,61.0483459 C85.1643996,61.0483459 85.729333,60.9120643 85.729333,60.5049232 C85.729333,60.097782 85.4950923,59.9734251 84.2274369,59.7570781 C82.1485508,59.4027461 81.3080402,58.7485946 81.3080402,57.5356887 C81.3080402,55.7521038 83.2508599,55.287043 84.6821394,55.287043 C86.2253721,55.287043 88.0837963,55.7112194 88.1526906,57.5220606 L85.6742175,57.5220606 Z"
                ></path>
                <path
                  id="Fill-54"
                  d="M94.3264826,58.1475929 C94.2989249,57.8614017 94.2024729,57.6314265 94.0233476,57.4815168 C93.8580013,57.3316071 93.6237606,57.2498382 93.3344045,57.2498382 C92.2872108,57.2498382 92.1373657,58.1475929 92.1373657,59.0061667 C92.1373657,59.8647406 92.2872108,60.7488672 93.3344045,60.7488672 C93.9268956,60.7488672 94.3402615,60.2735852 94.3953769,59.7148308 L96.9978598,59.7148308 C96.87385,60.6688017 96.4191475,61.4183503 95.7594844,61.9362202 C95.1118778,62.440462 94.2438094,62.7130251 93.279289,62.7130251 C91.1315087,62.7130251 89.4108731,61.2394808 89.4108731,59.0061667 C89.4108731,56.7728527 91.1315087,55.2873837 93.279289,55.2873837 C95.1514921,55.2873837 96.7498402,56.2004702 96.9151866,58.1475929 L94.3264826,58.1475929 Z"
                ></path>
                <path
                  id="Fill-55"
                  d="M98.3943476,52.8091036 L101.12084,52.8091036 L101.12084,56.2280672 L101.148398,56.2280672 C101.616879,55.682941 102.223149,55.2877244 103.380574,55.2877244 C104.660286,55.2877244 105.831489,56.0645293 105.831489,57.6845763 L105.831489,62.5344963 L103.103274,62.5344963 L103.103274,58.8293414 C103.103274,58.0133556 103.008545,57.4409731 102.20937,57.4409731 C101.740889,57.4409731 101.12084,57.6709482 101.12084,58.8037886 L101.12084,62.5344963 L98.3943476,62.5344963 L98.3943476,52.8091036 Z"
                ></path>
                <polygon
                  id="Fill-56"
                  points="107.488914 60.014991 111.798254 60.014991 111.798254 57.7816769 107.488914 57.7816769"
                ></polygon>
                <path
                  id="Fill-57"
                  d="M113.510278,62.5344963 L116.23677,62.5344963 L116.23677,55.466594 L113.510278,55.466594 L113.510278,62.5344963 Z M113.510278,54.7017137 L116.23677,54.7017137 L116.23677,52.8091036 L113.510278,52.8091036 L113.510278,54.7017137 Z"
                ></path>
                <path
                  id="Fill-58"
                  d="M121.333227,55.4659126 L122.793787,55.4659126 L122.793787,57.1268441 L121.333227,57.1268441 L121.333227,59.5918367 C121.333227,60.2476917 121.484795,60.533883 122.173738,60.533883 C122.380421,60.533883 122.587104,60.5185513 122.793787,60.491295 L122.793787,62.5338149 C122.242632,62.5338149 121.622583,62.6155838 121.045594,62.6155838 C119.888169,62.6155838 118.606735,62.4401213 118.606735,60.5049232 L118.606735,57.1268441 L117.394195,57.1268441 L117.394195,55.4659126 L118.606735,55.4659126 L118.606735,53.312664 L121.333227,53.312664 L121.333227,55.4659126 Z"
                ></path>
                <path
                  id="Fill-59"
                  d="M128.278291,59.362032 C127.947599,59.5255698 127.575569,59.6192634 127.20354,59.7010323 C126.59727,59.8373139 126.280356,59.9872236 126.280356,60.4625055 C126.280356,60.7912848 126.638607,61.1183605 127.134646,61.1183605 C127.754694,61.1183605 128.236955,60.7486968 128.278291,60.0144799 L128.278291,59.362032 Z M130.894553,60.9548227 C130.894553,61.4846172 130.922111,62.0859596 131.225246,62.5339852 L128.443638,62.5339852 C128.374743,62.343191 128.333407,62.0569998 128.347186,61.8679091 L128.319628,61.8679091 C127.740916,62.5203571 126.900405,62.7128548 126.018558,62.7128548 C124.642394,62.7128548 123.50047,62.0569998 123.50047,60.5732343 C123.50047,58.3382168 126.14429,58.4199857 127.534233,58.1627543 C127.906262,58.0946135 128.278291,57.9838847 128.278291,57.5358591 C128.278291,57.0588736 127.823589,56.8817076 127.382665,56.8817076 C126.542154,56.8817076 126.376808,57.3041804 126.364752,57.6039999 L123.829441,57.6039999 C123.870777,56.610848 124.366816,56.0248373 125.069538,55.6977616 C125.758482,55.3689823 126.666164,55.2872134 127.506675,55.2872134 C130.922111,55.2872134 130.894553,56.6909134 130.894553,58.053729 L130.894553,60.9548227 Z"
                ></path>
                <polygon
                  id="Fill-60"
                  points="132.661176 62.5344963 135.387668 62.5344963 135.387668 52.8091036 132.661176 52.8091036"
                ></polygon>
                <path
                  id="Fill-61"
                  d="M137.263316,62.5344963 L139.989809,62.5344963 L139.989809,55.466594 L137.263316,55.466594 L137.263316,62.5344963 Z M137.263316,54.7017137 L139.989809,54.7017137 L139.989809,52.8091036 L137.263316,52.8091036 L137.263316,54.7017137 Z"
                ></path>
                <path
                  id="Fill-62"
                  d="M146.727156,58.2041498 C146.727156,57.5482948 146.231117,57.0185002 145.528395,57.0185002 C144.717164,57.0185002 144.248683,57.4409731 144.124673,58.2041498 L146.727156,58.2041498 Z M144.110894,59.6044428 C144.179789,60.4102075 144.646548,60.98259 145.50256,60.98259 C145.941761,60.98259 146.424021,60.8190522 146.644483,60.4766447 L149.19185,60.4766447 C148.640696,62.0029982 147.140522,62.7116623 145.514616,62.7116623 C143.229047,62.7116623 141.508412,61.376103 141.508412,59.0201356 C141.508412,56.9622841 143.022364,55.2877244 145.282098,55.2877244 C148.118821,55.2877244 149.343418,56.8549624 149.343418,59.6044428 L144.110894,59.6044428 Z"
                ></path>
                <path
                  id="Fill-63"
                  d="M150.752996,55.4659126 L153.383036,55.4659126 L153.383036,56.3636673 L153.410594,56.3636673 C153.920412,55.6550032 154.650692,55.2887466 155.739222,55.2887466 C157.018934,55.2887466 158.190137,56.0655514 158.190137,57.6855984 L158.190137,62.5338149 L155.461922,62.5338149 L155.461922,58.8303635 C155.461922,58.0126742 155.367192,57.4402916 154.568018,57.4402916 C154.099537,57.4402916 153.479488,57.6719703 153.479488,58.8031072 L153.479488,62.5338149 L150.752996,62.5338149 L150.752996,55.4659126 Z"
                ></path>
                <path
                  id="Fill-64"
                  d="M159.998441,62.5344963 L162.724933,62.5344963 L162.724933,55.466594 L159.998441,55.466594 L159.998441,62.5344963 Z M159.998441,54.7017137 L162.724933,54.7017137 L162.724933,52.8091036 L159.998441,52.8091036 L159.998441,54.7017137 Z"
                ></path>
                <path
                  id="Fill-65"
                  d="M168.677919,57.5220606 C168.66414,57.2903819 168.54013,57.1132159 168.361005,56.9905625 C168.195659,56.8542809 167.975197,56.7861402 167.754735,56.7861402 C167.368927,56.7861402 166.928003,56.8679091 166.928003,57.3329699 C166.928003,57.5356887 167.095072,57.6310858 167.244917,57.6992266 C167.69962,57.8900208 168.733035,57.9445334 169.64244,58.2443528 C170.550122,58.5305441 171.349296,59.0603387 171.349296,60.2187319 C171.349296,62.1794828 169.449535,62.7126844 167.713399,62.7126844 C166.0341,62.7126844 164.189454,62.0432013 164.146395,60.2187319 L166.748878,60.2187319 C166.764379,60.4640387 166.87461,60.6701646 167.079571,60.8456271 C167.21736,60.9682805 167.479158,61.0483459 167.809851,61.0483459 C168.168101,61.0483459 168.733035,60.9120643 168.733035,60.5049232 C168.733035,60.097782 168.498794,59.9734251 167.231138,59.7570781 C165.152252,59.4027461 164.311742,58.7485946 164.311742,57.5356887 C164.311742,55.7521038 166.254561,55.287043 167.685841,55.287043 C169.229074,55.287043 171.087498,55.7112194 171.156392,57.5220606 L168.677919,57.5220606 Z"
                ></path>
                <path
                  id="Fill-66"
                  d="M177.330184,58.1475929 C177.302626,57.8614017 177.206174,57.6314265 177.027049,57.4815168 C176.861703,57.3316071 176.627462,57.2498382 176.338106,57.2498382 C175.290912,57.2498382 175.141067,58.1475929 175.141067,59.0061667 C175.141067,59.8647406 175.290912,60.7488672 176.338106,60.7488672 C176.930597,60.7488672 177.343963,60.2735852 177.399078,59.7148308 L180.001561,59.7148308 C179.877552,60.6688017 179.422849,61.4183503 178.763186,61.9362202 C178.115579,62.440462 177.247511,62.7130251 176.282991,62.7130251 C174.13521,62.7130251 172.414575,61.2394808 172.414575,59.0061667 C172.414575,56.7728527 174.13521,55.2873837 176.282991,55.2873837 C178.155194,55.2873837 179.753542,56.2004702 179.918888,58.1475929 L177.330184,58.1475929 Z"
                ></path>
                <path
                  id="Fill-67"
                  d="M181.397188,52.8091036 L184.123681,52.8091036 L184.123681,56.2280672 L184.151238,56.2280672 C184.61972,55.682941 185.22599,55.2877244 186.383414,55.2877244 C187.663126,55.2877244 188.832607,56.0645293 188.832607,57.6845763 L188.832607,62.5344963 L186.106115,62.5344963 L186.106115,58.8293414 C186.106115,58.0133556 186.009663,57.4409731 185.212211,57.4409731 C184.742007,57.4409731 184.123681,57.6709482 184.123681,58.8037886 L184.123681,62.5344963 L181.397188,62.5344963 L181.397188,52.8091036 Z"
                ></path>
                <path
                  id="Fill-68"
                  d="M195.502266,58.2041498 C195.502266,57.5482948 195.007949,57.0185002 194.305227,57.0185002 C193.492274,57.0185002 193.025515,57.4409731 192.899783,58.2041498 L195.502266,58.2041498 Z M192.886004,59.6044428 C192.954899,60.4102075 193.42338,60.98259 194.27767,60.98259 C194.718593,60.98259 195.199131,60.8190522 195.421315,60.4766447 L197.968683,60.4766447 C197.415806,62.0029982 195.915632,62.7116623 194.291448,62.7116623 C192.005879,62.7116623 190.285244,61.376103 190.285244,59.0201356 C190.285244,56.9622841 191.799197,55.2877244 194.057208,55.2877244 C196.895654,55.2877244 198.12025,56.8549624 198.12025,59.6044428 L192.886004,59.6044428 Z"
                ></path>
                <path
                  id="Fill-69"
                  d="M203.661765,57.5220606 C203.646263,57.2903819 203.523976,57.1132159 203.343128,56.9905625 C203.179504,56.8542809 202.960765,56.7861402 202.738581,56.7861402 C202.352773,56.7861402 201.911849,56.8679091 201.911849,57.3329699 C201.911849,57.5356887 202.078918,57.6310858 202.230485,57.6992266 C202.685188,57.8900208 203.71688,57.9445334 204.626285,58.2443528 C205.533968,58.5305441 206.333142,59.0603387 206.333142,60.2187319 C206.333142,62.1794828 204.433381,62.7126844 202.697244,62.7126844 C201.017945,62.7126844 199.1733,62.0432013 199.130241,60.2187319 L201.732724,60.2187319 C201.748225,60.4640387 201.856733,60.6701646 202.063416,60.8456271 C202.201205,60.9682805 202.463003,61.0483459 202.793696,61.0483459 C203.151947,61.0483459 203.71688,60.9120643 203.71688,60.5049232 C203.71688,60.097782 203.482639,59.9734251 202.214984,59.7570781 C200.136098,59.4027461 199.29731,58.7485946 199.29731,57.5356887 C199.29731,55.7521038 201.238407,55.287043 202.671409,55.287043 C204.211197,55.287043 206.071343,55.7112194 206.138515,57.5220606 L203.661765,57.5220606 Z"
                ></path>
                <polygon
                  id="Fill-70"
                  points="212.688987 52.8091036 215.716892 52.8091036 215.716892 56.1599264 215.74445 56.1599264 218.445107 52.8091036 222.175735 52.8091036 218.610454 56.6096555 222.754447 62.5344963 218.980761 62.5344963 216.557403 58.7475725 215.716892 59.6606589 215.716892 62.5344963 212.688987 62.5344963"
                ></polygon>
                <path
                  id="Fill-71"
                  d="M230.982323,62.5344963 L228.352282,62.5344963 L228.352282,61.635038 L228.324725,61.635038 C227.814907,62.3437021 227.086349,62.7116623 225.996097,62.7116623 C224.716385,62.7116623 223.546904,61.9348574 223.546904,60.3131069 L223.546904,55.466594 L226.273396,55.466594 L226.273396,59.1683418 C226.273396,59.9877347 226.369848,60.5601172 227.1673,60.5601172 C227.637504,60.5601172 228.25583,60.326735 228.25583,59.1973016 L228.25583,55.466594 L230.982323,55.466594 L230.982323,62.5344963 Z"
                ></path>
                <path
                  id="Fill-72"
                  d="M232.736544,55.4659126 L235.366585,55.4659126 L235.366585,56.3636673 L235.395865,56.3636673 C235.903961,55.6550032 236.63424,55.2887466 237.722771,55.2887466 C239.002483,55.2887466 240.171964,56.0655514 240.171964,57.6855984 L240.171964,62.5338149 L237.445471,62.5338149 L237.445471,58.8303635 C237.445471,58.0126742 237.350741,57.4402916 236.551567,57.4402916 C236.081364,57.4402916 235.463037,57.6719703 235.463037,58.8031072 L235.463037,62.5338149 L232.736544,62.5338149 L232.736544,55.4659126 Z"
                ></path>
                <path
                  id="Fill-73"
                  d="M246.059672,57.5220606 C246.044171,57.2903819 245.921883,57.1132159 245.741036,56.9905625 C245.577412,56.8542809 245.35695,56.7861402 245.136488,56.7861402 C244.75068,56.7861402 244.309756,56.8679091 244.309756,57.3329699 C244.309756,57.5356887 244.475103,57.6310858 244.62667,57.6992266 C245.081373,57.8900208 246.113065,57.9445334 247.02247,58.2443528 C247.931875,58.5305441 248.731049,59.0603387 248.731049,60.2187319 C248.731049,62.1794828 246.829566,62.7126844 245.093429,62.7126844 C243.415853,62.7126844 241.569485,62.0432013 241.528148,60.2187319 L244.130631,60.2187319 C244.146132,60.4640387 244.254641,60.6701646 244.461324,60.8456271 C244.599113,60.9682805 244.860911,61.0483459 245.191604,61.0483459 C245.548132,61.0483459 246.113065,60.9120643 246.113065,60.5049232 C246.113065,60.097782 245.880547,59.9734251 244.612891,59.7570781 C242.534005,59.4027461 241.693495,58.7485946 241.693495,57.5356887 C241.693495,55.7521038 243.634592,55.287043 245.067594,55.287043 C246.609104,55.287043 248.467528,55.7112194 248.536423,57.5220606 L246.059672,57.5220606 Z"
                ></path>
                <path
                  id="Fill-74"
                  d="M253.374526,55.4659126 L254.835086,55.4659126 L254.835086,57.1268441 L253.374526,57.1268441 L253.374526,59.5918367 C253.374526,60.2476917 253.527816,60.533883 254.213315,60.533883 C254.42172,60.533883 254.628403,60.5185513 254.835086,60.491295 L254.835086,62.5338149 C254.283931,62.5338149 253.663882,62.6155838 253.086892,62.6155838 C251.929468,62.6155838 250.648034,62.4401213 250.648034,60.5049232 L250.648034,57.1268441 L249.437216,57.1268441 L249.437216,55.4659126 L250.648034,55.4659126 L250.648034,53.312664 L253.374526,53.312664 L253.374526,55.4659126 Z"
                ></path>
                <path
                  id="Fill-75"
                  d="M259.478563,60.3834622 C260.48442,60.3834622 260.594651,59.4277878 260.594651,58.6407618 C260.594651,57.8622534 260.208843,57.2489864 259.411391,57.2489864 C258.639774,57.2489864 258.253966,57.9031379 258.253966,58.6526865 C258.253966,59.4550441 258.501986,60.3834622 259.478563,60.3834622 L259.478563,60.3834622 Z M263.252249,61.6219209 C263.252249,63.0256209 262.881942,65 259.533678,65 C257.8406,65 256.05107,64.5502709 255.801329,62.6423291 L258.501986,62.6423291 C258.529544,62.7121734 258.596715,62.8075704 258.653553,62.8893394 C258.8189,63.1329427 259.108256,63.4055058 259.451005,63.4055058 C260.332852,63.4055058 260.524034,62.3714695 260.524034,61.7837552 L260.524034,61.1313073 L260.498199,61.1313073 C260.057275,61.7582024 259.397612,62.1125345 258.582937,62.1125345 C256.478215,62.1125345 255.525751,60.5606283 255.525751,58.6663146 C255.525751,56.8265136 256.586724,55.2882355 258.625996,55.2882355 C259.42517,55.2882355 260.181285,55.6016831 260.498199,56.3239753 L260.524034,56.3239753 L260.524034,55.4654015 L263.252249,55.4654015 L263.252249,61.6219209 Z"
                ></path>
                <path
                  id="Fill-76"
                  d="M269.661315,61.9905625 C269.440853,62.6157541 269.194556,63.4198153 268.765689,63.9496099 C268.049188,64.83544 266.948601,64.821824 265.887629,64.821824 L264.649254,64.821824 L264.649254,62.6702668 L265.281359,62.6702668 C265.556936,62.6702668 265.915187,62.6975231 266.108091,62.602126 C266.273437,62.5220606 266.369889,62.3840755 266.369889,62.0706279 C266.369889,61.7316275 265.322695,59.1286498 265.171128,58.7198051 L263.958588,55.4660829 L266.879707,55.4660829 L268.023353,59.5255698 L268.049188,59.5255698 L269.206613,55.4660829 L272.029557,55.4660829 L269.661315,61.9905625 Z"
                ></path>
                <path
                  id="Fill-77"
                  d="M272.82012,55.4659126 L275.448438,55.4659126 L275.448438,56.4045518 L275.477718,56.4045518 C276.02715,55.588566 276.826324,55.2887466 277.818402,55.2887466 C278.590019,55.2887466 279.415028,55.6822595 279.745721,56.3909236 C279.855952,56.3108582 280.407106,55.2887466 282.18458,55.2887466 C284.015446,55.2887466 284.633773,56.5408334 284.633773,57.6855984 L284.633773,62.5338149 L281.90728,62.5338149 L281.90728,58.7060066 C281.90728,58.0399305 281.838386,57.4402916 281.013376,57.4402916 C280.324433,57.4402916 280.090192,57.9717897 280.090192,58.7060066 L280.090192,62.5338149 L277.365422,62.5338149 L277.365422,58.7060066 C277.365422,58.0399305 277.294806,57.4402916 276.468074,57.4402916 C275.780853,57.4402916 275.54489,57.9717897 275.54489,58.7060066 L275.54489,62.5338149 L272.82012,62.5338149 L272.82012,55.4659126 Z"
                ></path>
                <path
                  id="Fill-78"
                  d="M286.363537,55.4659126 L288.993577,55.4659126 L288.993577,56.3636673 L289.022857,56.3636673 C289.532675,55.6550032 290.262955,55.2887466 291.349763,55.2887466 C292.631197,55.2887466 293.800678,56.0655514 293.800678,57.6855984 L293.800678,62.5338149 L291.074186,62.5338149 L291.074186,58.8303635 C291.074186,58.0126742 290.979456,57.4402916 290.17856,57.4402916 C289.710078,57.4402916 289.091752,57.6719703 289.091752,58.8031072 L289.091752,62.5338149 L286.363537,62.5338149 L286.363537,55.4659126 Z"
                ></path>
                <path
                  id="Fill-79"
                  d="M299.906782,59.362032 C299.577811,59.5255698 299.20406,59.6192634 298.83203,59.7010323 C298.22576,59.8373139 297.908846,59.9872236 297.908846,60.4625055 C297.908846,60.7912848 298.268819,61.1183605 298.763136,61.1183605 C299.383185,61.1183605 299.867167,60.7486968 299.906782,60.0144799 L299.906782,59.362032 Z M302.523043,60.9548227 C302.523043,61.4846172 302.550601,62.0859596 302.853736,62.5339852 L300.072128,62.5339852 C300.003234,62.343191 299.960175,62.0569998 299.975676,61.8679091 L299.946396,61.8679091 C299.369406,62.5203571 298.528895,62.7128548 297.647048,62.7128548 C296.270884,62.7128548 295.128961,62.0569998 295.128961,60.5732343 C295.128961,58.3382168 297.77278,58.4199857 299.162723,58.1627543 C299.534752,58.0946135 299.906782,57.9838847 299.906782,57.5358591 C299.906782,57.0588736 299.452079,56.8817076 299.011156,56.8817076 C298.170645,56.8817076 298.005299,57.3041804 297.993242,57.6039999 L295.459654,57.6039999 C295.499268,56.610848 295.995307,56.0248373 296.698029,55.6977616 C297.386972,55.3689823 298.294655,55.2872134 299.136888,55.2872134 C302.550601,55.2872134 302.523043,56.6909134 302.523043,58.053729 L302.523043,60.9548227 Z"
                ></path>
                <path
                  id="Fill-80"
                  d="M308.367176,57.5220606 C308.353397,57.2903819 308.23111,57.1132159 308.050262,56.9905625 C307.886638,56.8542809 307.666176,56.7861402 307.445715,56.7861402 C307.059906,56.7861402 306.618983,56.8679091 306.618983,57.3329699 C306.618983,57.5356887 306.784329,57.6310858 306.935897,57.6992266 C307.390599,57.8900208 308.422292,57.9445334 309.331697,58.2443528 C310.241102,58.5305441 311.040276,59.0603387 311.040276,60.2187319 C311.040276,62.1794828 309.138792,62.7126844 307.402656,62.7126844 C305.723357,62.7126844 303.878711,62.0432013 303.837375,60.2187319 L306.439858,60.2187319 C306.453636,60.4640387 306.563867,60.6701646 306.77055,60.8456271 C306.908339,60.9682805 307.170137,61.0483459 307.50083,61.0483459 C307.857358,61.0483459 308.422292,60.9120643 308.422292,60.5049232 C308.422292,60.097782 308.188051,59.9734251 306.922118,59.7570781 C304.841509,59.4027461 304.002721,58.7485946 304.002721,57.5356887 C304.002721,55.7521038 305.943819,55.287043 307.37682,55.287043 C308.918331,55.287043 310.776755,55.7112194 310.845649,57.5220606 L308.367176,57.5220606 Z"
                ></path>
                <path
                  id="Fill-81"
                  d="M312.461565,62.5344963 L315.188058,62.5344963 L315.188058,55.466594 L312.461565,55.466594 L312.461565,62.5344963 Z M312.461565,54.7017137 L315.188058,54.7017137 L315.188058,52.8091036 L312.461565,52.8091036 L312.461565,54.7017137 Z"
                ></path>
                <path
                  id="Fill-82"
                  d="M324.443665,62.5344963 L321.815347,62.5344963 L321.815347,61.635038 L321.786067,61.635038 C321.276249,62.3437021 320.545969,62.7116623 319.459161,62.7116623 C318.177727,62.7116623 317.008246,61.9348574 317.008246,60.3131069 L317.008246,55.466594 L319.734739,55.466594 L319.734739,59.1683418 C319.734739,59.9877347 319.831191,60.5601172 320.628642,60.5601172 C321.098846,60.5601172 321.717173,60.326735 321.717173,59.1973016 L321.717173,55.466594 L324.443665,55.466594 L324.443665,62.5344963 Z"
                ></path>
                <path
                  id="Fill-83"
                  d="M326.184625,55.4659126 L328.814665,55.4659126 L328.814665,56.4045518 L328.842223,56.4045518 C329.393377,55.588566 330.190829,55.2887466 331.182907,55.2887466 C331.954524,55.2887466 332.781255,55.6822595 333.110226,56.3909236 C333.222179,56.3108582 333.771611,55.2887466 335.549085,55.2887466 C337.379951,55.2887466 338,56.5408334 338,57.6855984 L338,62.5338149 L335.273507,62.5338149 L335.273507,58.7060066 C335.273507,58.0399305 335.204613,57.4402916 334.379604,57.4402916 C333.688938,57.4402916 333.45642,57.9717897 333.45642,58.7060066 L333.45642,62.5338149 L330.729927,62.5338149 L330.729927,58.7060066 C330.729927,58.0399305 330.661033,57.4402916 329.834301,57.4402916 C329.145358,57.4402916 328.911117,57.9717897 328.911117,58.7060066 L328.911117,62.5338149 L326.184625,62.5338149 L326.184625,55.4659126 Z"
                ></path>
                <polygon
                  id="Fill-84"
                  points="114.698705 0 122.301193 0 122.301193 2.49224899 117.728332 2.49224899 117.728332 3.70515485 121.653586 3.70515485 121.653586 6.02023781 117.728332 6.02023781 117.728332 9.72539266 114.698705 9.72539266"
                ></polygon>
                <path
                  id="Fill-85"
                  d="M123.517349,2.65595721 L126.133611,2.65595721 L126.133611,3.78709414 L126.161169,3.78709414 C126.602093,2.94214848 127.180805,2.47879118 128.172883,2.47879118 C128.44846,2.47879118 128.710259,2.51967565 128.972057,2.58781643 L128.972057,4.97104017 C128.694757,4.87564308 128.44846,4.79387414 127.895583,4.79387414 C126.822554,4.79387414 126.243842,5.42247283 126.243842,6.9334946 L126.243842,9.72556301 L123.517349,9.72556301 L123.517349,2.65595721 Z"
                ></path>
                <path
                  id="Fill-86"
                  d="M134.92711,5.39419441 C134.92711,4.74004293 134.431071,4.20854485 133.730071,4.20854485 C132.917118,4.20854485 132.448637,4.63101768 132.324627,5.39419441 L134.92711,5.39419441 Z M132.310848,6.79619093 C132.379742,7.60025212 132.848224,8.17263466 133.702513,8.17263466 C134.141714,8.17263466 134.623975,8.00909679 134.844436,7.6683929 L137.391804,7.6683929 C136.840649,9.19304283 135.340476,9.90170693 133.71457,9.90170693 C131.429001,9.90170693 129.708365,8.56785118 129.708365,6.21018023 C129.708365,4.15403223 131.222318,2.47947259 133.482051,2.47947259 C136.318775,2.47947259 137.543371,4.04500698 137.543371,6.79619093 L132.310848,6.79619093 Z"
                ></path>
                <path
                  id="Fill-87"
                  d="M146.376484,9.72539266 L143.746443,9.72539266 L143.746443,8.82593438 L143.718886,8.82593438 C143.209068,9.53459848 142.478788,9.90255869 141.390258,9.90255869 C140.110546,9.90255869 138.939342,9.12575381 138.939342,7.50570679 L138.939342,2.65578686 L141.667557,2.65578686 L141.667557,6.36094171 C141.667557,7.17863105 141.762287,7.75101359 142.561461,7.75101359 C143.029943,7.75101359 143.649991,7.51933495 143.649991,6.38819802 L143.649991,2.65578686 L146.376484,2.65578686 L146.376484,9.72539266 Z"
                ></path>
                <path
                  id="Fill-88"
                  d="M151.725267,4.4402235 C150.746967,4.4402235 150.526505,5.35330994 150.526505,6.18292392 C150.526505,7.0295731 150.746967,7.94095602 151.725267,7.94095602 C152.701844,7.94095602 152.922305,7.0295731 152.922305,6.18292392 C152.922305,5.35330994 152.701844,4.4402235 151.725267,4.4402235 L151.725267,4.4402235 Z M155.554068,9.72624442 L152.922305,9.72624442 L152.922305,8.94943954 L152.894748,8.94943954 C152.550276,9.39916868 152.138632,9.90341045 150.802083,9.90341045 C148.778312,9.90341045 147.800013,7.92732786 147.800013,6.15737113 C147.800013,4.49473612 148.447619,2.47947259 150.843419,2.47947259 C151.656372,2.47947259 152.386652,2.83380464 152.800013,3.43344349 L152.827576,3.43344349 L152.827576,0.000851759736 L155.554068,0.000851759736 L155.554068,9.72624442 Z"
                ></path>
                <path
                  id="Fill-89"
                  d="M162.209948,5.39419441 C162.209948,4.74004293 161.713909,4.20854485 161.011187,4.20854485 C160.199957,4.20854485 159.731475,4.63101768 159.607465,5.39419441 L162.209948,5.39419441 Z M159.593687,6.79619093 C159.662581,7.60025212 160.12934,8.17263466 160.985352,8.17263466 C161.424553,8.17263466 161.906813,8.00909679 162.127275,7.6683929 L164.674643,7.6683929 C164.123488,9.19304283 162.623314,9.90170693 160.997408,9.90170693 C158.711839,9.90170693 156.991204,8.56785118 156.991204,6.21018023 C156.991204,4.15403223 158.505156,2.47947259 160.76489,2.47947259 C163.601614,2.47947259 164.82621,4.04500698 164.82621,6.79619093 L159.593687,6.79619093 Z"
                ></path>
                <path
                  id="Fill-90"
                  d="M166.222181,2.65595721 L168.852222,2.65595721 L168.852222,3.55541549 L168.879779,3.55541549 C169.389597,2.84675139 170.119877,2.47879118 171.208407,2.47879118 C172.488119,2.47879118 173.659323,3.25559606 173.659323,4.87564308 L173.659323,9.72556301 L170.931108,9.72556301 L170.931108,6.02040816 C170.931108,5.20442234 170.836378,4.63203979 170.037204,4.63203979 C169.568723,4.63203979 168.948674,4.86201492 168.948674,5.99315185 L168.948674,9.72556301 L166.222181,9.72556301 L166.222181,2.65595721 Z"
                ></path>
                <path
                  id="Fill-91"
                  d="M179.227361,4.4402235 C178.250784,4.4402235 178.030323,5.35330994 178.030323,6.18292392 C178.030323,7.0295731 178.250784,7.94095602 179.227361,7.94095602 C180.205661,7.94095602 180.4244,7.0295731 180.4244,6.18292392 C180.4244,5.35330994 180.205661,4.4402235 179.227361,4.4402235 L179.227361,4.4402235 Z M175.39856,0.000851759736 L178.125052,0.000851759736 L178.125052,3.43344349 L178.15261,3.43344349 C178.565976,2.83380464 179.296256,2.47947259 180.109209,2.47947259 C182.505009,2.47947259 183.152615,4.49473612 183.152615,6.15737113 C183.152615,7.92732786 182.174316,9.90341045 180.150545,9.90341045 C178.813996,9.90341045 178.402352,9.39916868 178.05788,8.94943954 L178.030323,8.94943954 L178.030323,9.72624442 L175.39856,9.72624442 L175.39856,0.000851759736 Z"
                ></path>
                <path
                  id="Fill-92"
                  d="M189.490892,5.39419441 C189.490892,4.74004293 188.996576,4.20854485 188.293854,4.20854485 C187.480901,4.20854485 187.014142,4.63101768 186.88841,5.39419441 L189.490892,5.39419441 Z M186.874631,6.79619093 C186.943525,7.60025212 187.412006,8.17263466 188.266296,8.17263466 C188.70722,8.17263466 189.187757,8.00909679 189.409942,7.6683929 L191.957309,7.6683929 C191.404432,9.19304283 189.904258,9.90170693 188.280075,9.90170693 C185.994506,9.90170693 184.27387,8.56785118 184.27387,6.21018023 C184.27387,4.15403223 185.787823,2.47947259 188.045834,2.47947259 C190.88428,2.47947259 192.108876,4.04500698 192.108876,6.79619093 L186.874631,6.79619093 Z"
                ></path>
                <path
                  id="Fill-93"
                  d="M193.504159,2.65595721 L196.122143,2.65595721 L196.122143,3.78709414 L196.147978,3.78709414 C196.588902,2.94214848 197.167614,2.47879118 198.159692,2.47879118 C198.433547,2.47879118 198.697068,2.51967565 198.957144,2.58781643 L198.957144,4.97104017 C198.681567,4.87564308 198.433547,4.79387414 197.884115,4.79387414 C196.809364,4.79387414 196.230651,5.42247283 196.230651,6.9334946 L196.230651,9.72556301 L193.504159,9.72556301 L193.504159,2.65595721 Z"
                ></path>
                <path
                  id="Fill-94"
                  d="M203.614572,7.57350687 C204.618707,7.57350687 204.728938,6.61953596 204.728938,5.83080645 C204.728938,5.05400157 204.344852,4.44073456 203.545678,4.44073456 C202.775784,4.44073456 202.388253,5.09318252 202.388253,5.84273108 C202.388253,6.64679227 202.637995,7.57350687 203.614572,7.57350687 L203.614572,7.57350687 Z M207.386536,8.81366904 C207.386536,10.2156656 207.016229,12.1900446 203.669687,12.1900446 C201.974887,12.1900446 200.185357,11.742019 199.937338,9.8340772 L202.637995,9.8340772 C202.66383,9.90221798 202.732725,9.99761507 202.789563,10.079384 C202.953187,10.3246908 203.242543,10.5972539 203.585292,10.5972539 C204.467139,10.5972539 204.660043,9.56151409 204.660043,8.97550339 L204.660043,8.32135191 L204.634208,8.32135191 C204.193284,8.9499506 203.531899,9.30257913 202.718946,9.30257913 C200.612502,9.30257913 199.66176,7.75067289 199.66176,5.85806276 C199.66176,4.01826173 200.722733,2.47828013 202.762005,2.47828013 C203.559457,2.47828013 204.315572,2.79172771 204.634208,3.51401997 L204.660043,3.51401997 L204.660043,2.65544615 L207.386536,2.65544615 L207.386536,8.81366904 Z"
                ></path>
                <polygon
                  id="Fill-95"
                  points="212.971454 7.38305339 217.542592 2.49224899 213.23153 2.49224899 213.23153 0 221.53674 0 221.53674 2.1788014 216.924265 7.23314367 221.757202 7.23314367 221.757202 9.72539266 212.971454 9.72539266"
                ></polygon>
                <path
                  id="Fill-96"
                  d="M227.187624,1.90794181 L229.528308,1.90794181 L229.528308,0.136281558 L227.187624,0.136281558 L227.187624,1.90794181 Z M224.063267,1.90794181 L226.403951,1.90794181 L226.403951,0.136281558 L224.063267,0.136281558 L224.063267,1.90794181 Z M230.50833,9.72539266 L227.876567,9.72539266 L227.876567,8.82593438 L227.849009,8.82593438 C227.339191,9.53459848 226.608912,9.90255869 225.522104,9.90255869 C224.240669,9.90255869 223.069466,9.12575381 223.069466,7.50570679 L223.069466,2.65578686 L225.795959,2.65578686 L225.795959,6.36094171 C225.795959,7.17863105 225.892411,7.75101359 226.693307,7.75101359 C227.160066,7.75101359 227.780115,7.51933495 227.780115,6.38819802 L227.780115,2.65578686 L230.50833,2.65578686 L230.50833,9.72539266 Z"
                ></path>
                <path
                  id="Fill-97"
                  d="M232.24705,2.65595721 L234.865034,2.65595721 L234.865034,3.78709414 L234.89087,3.78709414 C235.331793,2.94214848 235.910506,2.47879118 236.902584,2.47879118 C237.176439,2.47879118 237.43996,2.51967565 237.700036,2.58781643 L237.700036,4.97104017 C237.424458,4.87564308 237.176439,4.79387414 236.627007,4.79387414 C235.552255,4.79387414 234.973543,5.42247283 234.973543,6.9334946 L234.973543,9.72556301 L232.24705,9.72556301 L232.24705,2.65595721 Z"
                ></path>
                <path
                  id="Fill-98"
                  d="M238.668862,9.72539266 L241.393632,9.72539266 L241.393632,2.65578686 L238.668862,2.65578686 L238.668862,9.72539266 Z M238.668862,1.89261013 L241.393632,1.89261013 L241.393632,0 L238.668862,0 L238.668862,1.89261013 Z"
                ></path>
                <path
                  id="Fill-99"
                  d="M247.815616,5.33934108 C247.786336,5.05314981 247.691606,4.82147116 247.512481,4.67156145 C247.347135,4.52335525 247.112894,4.4398828 246.823538,4.4398828 C245.776344,4.4398828 245.626499,5.33934108 245.626499,6.19791489 C245.626499,7.05478519 245.776344,7.94061531 246.823538,7.94061531 C247.416029,7.94061531 247.829395,7.46533338 247.882788,6.90487547 L250.486993,6.90487547 C250.362983,7.85884638 249.908281,8.60839494 249.246895,9.12626486 C248.599289,9.63050663 247.73122,9.90306974 246.768422,9.90306974 C244.620642,9.90306974 242.898284,8.43122892 242.898284,6.19791489 C242.898284,3.96289735 244.620642,2.47913189 246.768422,2.47913189 C248.640625,2.47913189 250.237251,3.39221832 250.402598,5.33934108 L247.815616,5.33934108 Z"
                ></path>
                <path
                  id="Fill-100"
                  d="M251.869185,0 L254.595678,0 L254.595678,3.41896358 L254.623236,3.41896358 C255.091717,2.87383735 255.697987,2.47862083 256.855412,2.47862083 C258.135124,2.47862083 259.304605,3.25542571 259.304605,4.87547273 L259.304605,9.72539266 L256.578112,9.72539266 L256.578112,6.02023781 C256.578112,5.20425198 256.48166,4.63186944 255.684208,4.63186944 C255.214005,4.63186944 254.595678,4.86184457 254.595678,5.9929815 L254.595678,9.72539266 L251.869185,9.72539266 L251.869185,0 Z"
                ></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<style lang="scss" scoped>
.logo {
  width: 100%;
}
</style>
