<template>
  <div class="navbar flex justify-end items-center" @click="toggleNav()">
    <MenuButton :active="navActive" />
    <transition name="fade">
      <div
        v-if="navActive"
        class="nav-menu fixed top-0 left-0 w-screen h-screen z-50 flex items-center justify-center"
      >
        <nav>
          <ul>
            <NuxtLink to="/applications"> Anmeldung </NuxtLink>
          </ul>
          <ul>
            <NuxtLink to="/agenda"> Agenda </NuxtLink>
          </ul>
          <ul>
            <NuxtLink to="/about"> Über das Liceo </NuxtLink>
          </ul>
        </nav>
        <!--
        <button @click="setId('1')">1</button>
        <button @click="setId('2')">2</button>
        -->
      </div>
    </transition>
  </div>
</template>
<script>
import MenuButton from './elements/MenuButton'

export default {
  components: {
    MenuButton,
  },
  data() {
    return {
      navActive: false,
    }
  },
  methods: {
    /**
     * Show or hides navigation menu
     */
    toggleNav() {
      this.navActive = !this.navActive
    },

    /**
     * Save craft cms site id to store for i18n queries
     * @param i {String} i - The site id
     */
    setId(i) {
      console.log('setting id to:', i)
      this.$store.commit('setId', i)
    },
  },
}
</script>

<style lang="scss">
.navbar {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 75px;
  width: 75px;
  @media screen and (min-width: $lg) {
    height: 150px;
    width: 150px;
    top: 50px;
    right: 50px;
  }

  .nav-menu {
    font-family: 'Helvetica Black';
    font-size: $mobile-font-xl;
    line-height: $mobile-line-xl;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-xl;
      line-height: $desktop-line-xl;
    }

    color: #ffffff;
    background-color: #000000;
    text-align: center;
  }
}
</style>
