<template>
  <div class="news-wrapper">
    <div
      v-for="(entry, index) in entries"
      :key="index"
      class="news-item flex grid grid-cols-2 md:grid-cols-12"
    >
      <div class="image col-span-2 md:col-span-6">
        <img :src="entry.image + '?random=' + index" />
      </div>
      <div
        class="content-wrapper gutter col-span-2 md:col-span-6 flex flex-col justify-between"
      >
        <div class="content">
          <div class="category">
            {{ entry.category }}
          </div>
          <h3>
            {{ entry.header }}
          </h3>
          <div class="body">
            {{ entry.content }}
          </div>
        </div>
        <div class="link">
          <a href="https://example.com">mehr</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      entries: [
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          category: 'Veranstaltung',
          image: 'https://loremflickr.com/1400/1400/abstract',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          category: 'Veranstaltung',
          image: 'https://loremflickr.com/1400/1400/abstract',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          category: 'Veranstaltung',
          image: 'https://loremflickr.com/1400/1400/abstract',
        },
        {
          header: 'Orientierungsabend Liceo Artistico',
          content:
            'Liebe interessierte Eltern und Schüler:innen, hier finden Sie das PDF der Powerpoint-Präsentation am Orientierungsabend vom Freitag, 19.11.2021. Die verschiedenen witzigen Kurzfilme von Liceoschüler:innen können in der PDF-Version leider nicht abgespielt werden. Was ebenfalls fehlt, ist der sympathische Liveauftritt von Schüler:innen, die das Liceo aus ihrer Sicht beschrieben haben. Herzlichen Dank für Ihr Interesse, die Schulleitung.',
          category: 'Veranstaltung',
          image: 'https://loremflickr.com/1400/1400/abstract',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.news {
  background-color: $blue;
  padding: 0 0 5px;
  @media screen and (min-width: $lg) {
    padding: 0 0 15px;
  }
  .news-item {
    background-color: #ffffff;
    margin-top: 5px;
    @media screen and (min-width: $lg) {
      margin-top: 15px;
    }
    .content-wrapper {
      padding-bottom: 17px;
      @media screen and (min-width: $lg) {
        padding: 20px 0 15px;
      }
      .content {
        .category {
          font-size: $mobile-font-md;
          line-height: $mobile-line-md;
          @media screen and (min-width: $lg) {
            font-size: $desktop-font-sm;
            line-height: $desktop-line-sm;
          }
        }

        .body {
          font-size: $mobile-font-md;
          line-height: $mobile-line-md;
          margin-top: 10px;
          @media screen and (min-width: $lg) {
            margin-top: 25px;
            font-size: $desktop-font-md;
            line-height: $desktop-line-md;
          }
        }

        h1,
        h2,
        h3,
        h4 {
          font-family: 'Helvetica Black';
          font-size: $mobile-font-lg-2;
          line-height: $mobile-line-lg-2;
          @media screen and (min-width: $lg) {
            margin-top: 31px;
            font-size: $desktop-font-xl;
            line-height: $desktop-line-xl;
          }
        }
      }
      .link {
        font-size: $mobile-font-md;
        line-height: $mobile-line-md;
        @media screen and (min-width: $lg) {
          font-size: $desktop-font-md;
          line-height: $desktop-line-md;
        }

        &:before {
          display: inline-block;
          content: ' ';
          background-image: url('~assets/images/arrow-right.svg');
          background-repeat: no-repeat;
          height: 17px;
          width: 23px;
          margin-bottom: -3px;
          margin-right: 5px;
          margin-right: 5px;
          @media screen and (min-width: $lg) {
            margin-bottom: unset;
            margin-right: 12px;
            width: 23px;
            height: 15px;
          }
        }
      }
    }
  }
}
</style>
