<template>
  <section class="slider">
    <div class="slider-wrapper gutter md:container mx-auto">
      <div
        v-swiper="swiperOption"
        class="w-full ml-auto relative"
        :loadtheme="false"
      >
        <div class="swiper-wrapper">
          <div
            v-for="(slide, index) in slides"
            :key="index"
            class="swiper-slide"
          >
            <div class="image-wrapper grid grid-cols-2 md:grid-cols-12">
              <figure class="image col-span-2 md:col-span-10 md:col-start-2">
                <img
                  :src="slide.image + '?r=' + index"
                  :alt="slide.alt"
                  class="w-full"
                />
                <figcaption class="caption">
                  {{ slide.caption }}
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div slot="button-prev" class="swiper-button-prev">
          <Chevron :stroke="'#000000'" :rotate="180" />
        </div>
        <div slot="button-next" class="swiper-button-next">
          <Chevron :stroke="'#000000'" :rotate="0" />
        </div>
      </div>
      <div slot="pagination" class="swiper-pagination-slider"></div>
    </div>
  </section>
</template>

<script>
import Chevron from './elements/Chevron.vue'
export default {
  components: {
    Chevron,
  },
  props: {
    slides: {
      type: Object,
      default: null,
      required: false,
    },
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 20,
        dynamicBullets: true,
        centeredSlides: true,
        centerInsufficientSlides: true,
        loop: false,
        loopFillGroupWithBlank: false,
        pagination: {
          el: '.swiper-pagination-slider',
          clickable: true,
          type: 'bullets',
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    }
  },
}
</script>
<style lang="scss">
figure {
  margin: 0;
}
section.slider {
  background-color: #ffffff !important;
  padding-top: 30px;
  padding-bottom: 22px;
  @media screen and (min-width: $md) {
    padding-top: 60px;
  }
  .swiper-pagination-slider {
    margin-top: 8px;
    @media screen and (min-width: $md) {
      margin-top: unset;
      display: none;
    }
    width: 100%;
    text-align: center;
    .swiper-pagination-bullet {
      margin: 0 2px;
      width: 10px;
      height: 10px;
      background-color: #e5e5e5;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background-color: #000000;
      }
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
  @media screen and (min-width: $md) {
    display: flex;
  }
  color: #000000;
  &:after {
    display: none;
  }
}
</style>
