<template>
  <div class="title-bar gutter flex items-center">
    <div class="title container flex justify-between mx-auto">
      <h2>{{ title }}</h2>
      <div v-if="target.length > 0" class="link items-center">
        <a :href="target"> mehr</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
      default: '',
    },
    target: {
      type: String,
      required: false,
      default: '',
    },
  },
}
</script>
<style lang="scss">
.title-bar {
  font-family: 'Helvetica Black';
  background-color: #000000;
  color: #ffffff;
  min-height: 50px;
  @media screen and (min-width: $lg) {
    min-height: 100px;
  }

  h2 {
    display: flex;
    align-items: center;
    font-size: $mobile-font-lg;
    margin-bottom: -10px;
    line-height: 1;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-xl;
      line-height: 1;
    }
  }
  .link {
    display: inline-flex;
    font-size: $mobile-font-sm;
    margin-bottom: 0;
    @media screen and (min-width: $lg) {
      font-size: $desktop-font-md;
    }
    &:after {
      display: inline-block;
      content: ' ';
      background-image: url('~assets/images/chevron.svg');
      background-repeat: no-repeat;
      height: 27.5px;
      width: 14px;
      margin-left: 1px;
      margin-bottom: -7px;
      @media screen and (min-width: $lg) {
        height: 55px;
        width: 30px;
        margin-left: 10px;
      }
    }

    a {
      margin-bottom: -6px;
    }
  }
}
</style>
