<template>
  <div
    class="voices-wrap container gutter mx-auto grid grid-cols-2 lg:grid-cols-12"
  >
    <div
      v-for="(entry, index) in entries"
      :key="index"
      class="voice col-span-2 lg:col-span-3 relative grid grid-cols-2 lg:block"
    >
      <div class="image rounded-full">
        <img :src="entry.image + '?r=' + index" class="rounded-full" />
      </div>
      <div
        v-if="entry.quote.length > 0"
        class="quote-wrap block lg:absolute top-0 h-full rounded-full flex flex-col items-center justify-center"
      >
        <div class="quote">«{{ entry.quote }}»</div>
        <div class="subline">{{ entry.subline }}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      entries: [
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
        {
          image: 'https://loremflickr.com/500/500/cat,portrait/all',
          quote:
            'Ich finde es sehr gut, dass mein Zitat hier auf Hover erscheint',
          subline: 'Daniela, 2b, 2020',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.voices {
  background-color: $violet;

  .voices-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
    @media screen and (min-width: $lg) {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .quote-wrap {
      color: $blueribbon;
      background-color: #ffffff;
      text-align: center;
      opacity: 1;
      @media screen and (min-width: $lg) {
        transition: opacity 300ms ease-in-out;
        opacity: 0;
        &:hover {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
      }

      .quote {
        user-select: none;
        width: 75%;
        font-size: $mobile-font-md;
        line-height: $mobile-line-md;
        @media screen and (min-width: $lg) {
          font-size: $desktop-font-md;
          line-height: $desktop-line-md;
        }
      }
      .subline {
        font-size: $mobile-font-xs;
        line-height: $mobile-line-md;
        @media screen and (min-width: $lg) {
          font-size: $desktop-font-sm;
          line-height: $desktop-line-sm;
        }
      }
    }
  }
}
</style>
