<template>
  <div class="card">
    <div class="image">
      <img :src="image" />
    </div>
    <div class="content-wrapper">
      <div class="date">
        {{ date }}
      </div>
      <h3>
        {{ title }}
      </h3>
      <div class="body hidden lg:block">
        {{ body }}
      </div>
      <div class="link">
        <a :href="target"
          >zum Beitrag
          <div class="chevron-container inline-block">
            <svg
              class="chevron"
              viewBox="0 0 30 57"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>Chevron</title>
              <g
                id="Module"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="Desktop-mehr"
                  transform="translate(-397.000000, -21.000000)"
                  stroke="#000000"
                  stroke-width="2"
                >
                  <polyline
                    id="Path-4-Copy-3"
                    transform="translate(411.500000, 49.500000) scale(-1, 1) rotate(90.000000) translate(-411.500000, -49.500000) "
                    points="384 35.75 411.5 63.25 439 35.75"
                  ></polyline>
                </g>
              </g>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    image: {
      type: String,
      default: '',
      reqired: false,
    },
    date: {
      type: Date,
      default: 0,
      reqired: false,
    },
    title: {
      type: String,
      default: '',
      reqired: false,
    },
    body: {
      type: String,
      default: '',
      reqired: false,
    },
    target: {
      type: String,
      default: '',
      reqired: false,
    },
  },
}
</script>
<style lang="scss">
.card {
  .content-wrapper {
    padding: 25px;
    background-color: #ffffff;
    h1,
    h2,
    h3,
    h4 {
      font-family: 'Helvetica Black';
      font-size: $mobile-font-lg;
      line-height: $mobile-line-lg;
      @media screen and (min-width: $lg) {
        font-size: $desktop-font-md;
        line-height: $desktop-line-md;
      }
    }
    .link {
      margin-top: 30px;
      .chevron-container {
        height: 17px;
        width: 8px;
        margin-bottom: -5px;
        margin-left: 3px;
        svg {
          width: 100%;
        }
      }
    }
  }
}
</style>
