<template>
  <svg
    class="chevron"
    viewBox="0 0 30 57"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    :style="'transform: rotate(' + rotate + 'deg)'"
  >
    <title>Chevron</title>
    <g
      id="Module"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="Desktop-mehr"
        transform="translate(-397.000000, -21.000000)"
        :stroke="stroke"
        stroke-width="2"
      >
        <polyline
          id="Path-4-Copy-3"
          transform="translate(411.500000, 49.500000) scale(-1, 1) rotate(90.000000) translate(-411.500000, -49.500000) "
          points="384 35.75 411.5 63.25 439 35.75"
        ></polyline>
      </g>
    </g>
  </svg>
</template>
<script>
export default {
  props: {
    stroke: {
      type: String,
      default: '#FFFFFF',
      required: false,
    },
    rotate: {
      type: Number,
      default: 0,
      required: false,
    },
  },
}
</script>
