<template>
  <div
    class="button"
    role="button"
    :class="{ active: active }"
    :aria-pressed="active"
  >
    <span v-if="active"
      ><svg
        width="62px"
        height="62px"
        viewBox="0 0 62 62"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>Group</title>
        <g
          id="Module"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
          stroke-linecap="square"
        >
          <g
            id="Close-Button"
            transform="translate(-44.000000, -44.000000)"
            stroke="#FFFFFF"
          >
            <g id="Group" transform="translate(44.000000, 44.000000)">
              <line
                id="Line-2"
                x1="1.82352941"
                y1="1.82352941"
                x2="60.1764706"
                y2="60.1764706"
              ></line>
              <line
                id="Line-2"
                x1="1.82352941"
                y1="1.82352941"
                x2="60.1764706"
                y2="60.1764706"
                transform="translate(31.000000, 31.000000) scale(-1, 1) translate(-31.000000, -31.000000) "
              ></line>
            </g>
          </g>
        </g></svg
    ></span>
    <span v-else>Menü</span>
  </div>
</template>
<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
<style lang="scss" scoped>
.button {
  cursor: pointer;
  z-index: 999;
  color: #ffffff;
  background-color: #113bff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-22deg);
  transition: all 150ms ease-in-out;
  font-size: $mobile-font-md;
  opacity: 1;
  @media screen and (min-width: $lg) {
    font-size: $desktop-font-md;
  }
  &:hover {
    transform: rotate(-10deg);
  }
  &.active {
    transform: rotate(0);
    transition: all 150ms ease-in-out;
  }
}
</style>
