<template>
  <main>
    <Header
      :title="'Über das Liceo'"
      :image="'https://loremflickr.com/1920/1080/palazzo'"
    />
    <article>
      <section><Article :content="contentOne" /></section>
      <section class=""><Slider :slides="gallery" /></section>
      <section><Article :content="contentTwo" /></section>
      <section class="blog">
        <TitleBar :title="'Blog'" />
        <BlogPreviewSlider />
      </section>
    </article>
  </main>
</template>
<script>
export default {
  data() {
    return {
      contentOne:
        '<h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p>',
      contentTwo:
        '<h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p><h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p><figure><img src="https://loremflickr.com/1000/667/palazzo" width="1000" height="667"><figcaption>«Testbild II», &copy; 2021 Ilona Knips</figcaption></figure><h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p>',
      gallery: [
        {
          image: 'https://loremflickr.com/1440/900/palazzo',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
        {
          image: 'https://loremflickr.com/1440/900/palazzo',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
        {
          image: 'https://loremflickr.com/1440/900/palazzo',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
        {
          image: 'https://loremflickr.com/1440/900/palazzo',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
        {
          image: 'https://loremflickr.com/1440/900/palazzo',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
        {
          image: 'https://loremflickr.com/1440/900/palazzo',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
        {
          image: 'https://loremflickr.com/1440/900/palazzo  ',
          alt: 'Lorem ipsum',
          caption: 'Lorem ipsum',
        },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
article,
article .article,
section {
  background-color: #99d9da;
}
</style>
