<template>
  <main>
    <Header
      :title="'Agenda'"
      :image="'https://loremflickr.com/1920/1080/palazzo'"
    />
    <article>
      <section class="agenda">
        <Agenda />
      </section>
    </article>
  </main>
</template>
<script>
export default {
  data() {
    return {}
  },
}
</script>
<style lang="scss" scoped>
article,
article .article,
section {
  background-color: $magenta;
}
</style>
