<template>
  <main>
    <Header :title="'Anmeldung'" />
    <article>
      <section class="article"><Article :content="content" /></section>
      <section class="application-info">
        <TitleBar :title="'Infos zur Anmeldung'" />
        <Accordion />
      </section>
      <section class="downloads">
        <TitleBar :title="'Downloads'" />
        <Downloads />
      </section>
      <section class="blog">
        <TitleBar :title="'Blog'" />
        <BlogPreviewSlider />
      </section>
    </article>
  </main>
</template>
<script>
export default {
  data() {
    return {
      content:
        '<h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p><h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p><h4>Das Liceo Artistico ist einmalig</h4><p>Als Zürcher Kantonsschule steht das Liceo Artistico allen Jugendlichen im Anschluss an die Sekundarstufe 1 und das Untergymnasium offen: Ein italienischer Hintergrund ist nicht Bedingung. Neugier gegenüber der Kultur, Sprache und Literatur Italiens aber schon. Ein Teil der Lehrerschaft an unserer Schule stammt aus dem südlichen Nachbarland der Schweiz. Ausserdem verbringen die Liceo-Klassen jedes Jahr zwei Studienwochen in Italien und arbeiten dort an einem Kunstprojekt.</p>',
    }
  },
}
</script>
<style lang="scss" scoped>
article,
article .article,
section {
  background-color: $yellow;
}
</style>
