<template>
  <div>
    <header>
      <div class="container gutter mx-auto grid grid-cols-2 md:grid-cols-12">
        <Logo class="logo" />
        <h1 class="title col-span-2 md:col-span-11 md:col-start-1">
          {{ entries.length > 0 ? entries[0].title : '' }}
        </h1>
        <p
          class="col-span-2 md:col-span-8 md:col-start-3"
          v-html="entries.length > 0 ? entries[0].richText : ''"
        />
      </div>
    </header>
    <main>
      <article>
        <section class="application-info">
          <TitleBar
            :title="'Infos zur Anmeldung'"
            :target="'https://example.com'"
          />
          <Accordion />
        </section>
        <section class="news">
          <TitleBar :title="'Aktuell'" :target="'https://example.com'" />
          <News />
        </section>

        <section class="blog">
          <TitleBar :title="'Blog'" :target="'https://example.com'" />
          <BlogPreviewSlider />
        </section>

        <section class="voices">
          <TitleBar :title="'Stimmen'" :target="'https://example.com'" />
          <Voices />
        </section>
      </article>
    </main>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  data() {
    return {
      entries: [],
    }
  },
  apollo: {
    entries: {
      query: gql`
        query MyQuery($siteId: [QueryArgument]) {
          entries(siteId: $siteId) {
            id
            title
            ... on homepage_homepage_Entry {
              id
              richText
            }
          }
        }
      `,
      pollInterval: 100,
      variables() {
        // Use vue reactive properties here
        return {
          siteId: this.$store.state.siteId,
        }
      },
    },
  },
  computed: {
    siteId() {
      return this.$store.state.siteId
    },
  },
}
</script>

<style lang="scss" scoped>
h1 {
  font-size: $mobile-font-xl;
  line-height: $mobile-line-xl;
  margin-top: 80px;
  @media screen and (min-width: $md) {
    font-size: $desktop-font-xxl;
    line-height: $desktop-line-xxl;
  }
}

p {
  margin-top: 8px;
  @media screen and (min-width: $lg) {
    margin-top: 26px;
  }
}

header {
  background-color: $magenta;
  padding: 15px 0 120px;
  @media screen and (min-width: $lg) {
    padding: 50px 0 150px;
  }
}
</style>
