// container widths

$max-width: 1600px;

/*______ BREAKING POINTS ______*/

$xs: 520px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
$ws: 1920px;

/* GUTTERS */
$global-padding-sm: 16px;
$global-padding-lg: 30px;
$global-padding-xxl: 30px;
$global-padding-ws: 30px;

$gutter: 10px;

.gutter {
    padding: 0 $global-padding-sm;
    @media only screen and (min-width: $lg) {
        padding: 0;
    }
    @media only screen and (min-width: $xxl) {
        padding: 0;
    }
    @media only screen and (min-width: $ws) {
        padding: 0;
    }
}

.grid {
    gap: 5px;
    column-gap: 16px;
    @media only screen and (min-width: $ws) {
        gap: 25px;
        column-gap: 25px;
    }
}

