@font-face {
    font-family: "Helvetica Medium";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~assets/fonts/HelveticaNeueLTStd-Md.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica Roman";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~assets/fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}
@font-face {
    font-family: "Helvetica Black";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~assets/fonts/HelveticaNeueLTStd-Blk.otf") format("opentype");
}

// FONT SIZES

// Sizes
// Desktop



$desktop-font-sm: 1rem; 
$desktop-font-md: 1.5rem; 
$desktop-font-lg: 2.5rem;
$desktop-font-xl: 4.063rem;
$desktop-font-xxl: 6.25rem;


$desktop-line-sm: 1.25rem; 
$desktop-line-md: 1.875rem;
$desktop-line-lg: 2.813rem;
$desktop-line-xl: 3.75rem;
$desktop-line-xxl: 6.25rem;

//Mobile
$mobile-font-xs: 0.625rem; 
$mobile-font-sm: 0.75rem;
$mobile-font-md: 1rem;
$mobile-font-lg: 1.563rem;
$mobile-font-lg-2: 2.188rem;
$mobile-font-xl: 2.5rem;
$mobile-font-xxl: 2.813rem;

$mobile-line-sm: 0.938rem;
$mobile-line-md: 1.25rem;
$mobile-line-lg: 36px;
$mobile-line-lg-2: 2.188rem;
$mobile-line-xl: 2.5rem;
$mobile-line-xxl: 3.125rem;

//
body {
    font-size: 16px; // BASE
    font-family: 'Helvetica Roman';
}

p {
    font-size: $mobile-font-md;
    line-height: $mobile-line-md;

    @media screen and (min-width: $lg) {
        font-size: $desktop-font-md;
        line-height: $desktop-line-md;
    }
}

h1 {
    font-family: 'Helvetica Black';
} 